<div class="row c-global c-site-performance" *ngIf="!showAlert else notData">
    <div class="col-md-12">

        <div class="c-data">
            <button class="btn-action-add">
                Refresh Data
            </button>

            <mat-form-field floatLabel="always" appearance="outline" class="input-select">
                <mat-icon>download</mat-icon>

                <mat-select placeholder="Export Data">
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="col-md-7">
        <div class="row">
            <div class="col-md-3 mb-sm-3">
                <mat-button-toggle-group class="input-group-buttons">
                    <mat-button-toggle value="energy">Energy</mat-button-toggle>
                    <mat-button-toggle value="power">Power</mat-button-toggle>
                </mat-button-toggle-group>
            </div>

            <div class="col-md-9 mb-sm-3">
                <div class="c-data-graph">
                    <div>
                        <h1>Solar production</h1>
                        <h2>73.8 kWh</h2>
                        <span></span>
                    </div>
                    <div>
                        <h1>Consumption</h1>
                        <h2>49.6 kWh</h2>
                        <span></span>
                    </div>
                    <div>
                        <h1>Net Grid Usage</h1>
                        <h2>4 kWh</h2>
                        <span></span>
                    </div>
                    <div>
                        <h1>Net Storage Usage</h1>
                        <h2>20.2 kWh</h2>
                        <span></span>
                    </div>
                    <div>
                        <h1>Net Storage Usage</h1>
                        <h2>20.2 kWh</h2>
                        <span></span>
                    </div>
                </div>
            </div>

            <div class="col-md-12 mt-5">
                <div class="highcharts">
                    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" class="h-max w-full block">
                    </highcharts-chart>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-5 ps-lg-5">
        <div class="table-performance">
            <form [formGroup]="formFilters">
                <div class="header">
                    <mat-form-field appearance="outline" class="input-date">
                        <mat-date-range-input [min]="fechaHoy" [rangePicker]="picker"
                            [comparisonStart]="formFilters.value['start']" [comparisonEnd]="formFilters.value['end']">

                            <input matStartDate placeholder="Start date" formControlName="start">
                            <input matEndDate placeholder="End date" formControlName="end">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"
                            [disableRipple]="true"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>

                    <div>
                        <form class="relative ms-auto">
                            <label class="input-search">
                                <img src="../../../../../assets/svg/search.svg" alt="Icon Search">
                            </label>
                            <input class="mt-1 block w-full rounded-full pl-9 h-9" type="text" i18n-placeholder
                                placeholder="Buscar por nombre de sitio">
                        </form>
                    </div>
                </div>
            </form>

            <div class="table-content">
                <div>
                    <div class="info">
                        <h1>Chedraui Jiutepec </h1>
                        <h2>Installed Capacity: <span>500kW</span></h2>
                        <h2>Monitoring Start Date: <span>2023-03-01</span></h2>
                    </div>

                    <div class="table-icon">
                        <mat-icon class="table-check">check</mat-icon>
                    </div>
                </div>

                <div>
                    <div class="info">
                        <h1>Chedraui Selecto Pedregal</h1>
                        <h2>Installed Capacity: <span>270kW</span></h2>
                        <h2>Monitoring Start Date: <span>2023-03-07</span></h2>
                    </div>

                    <div class="table-icon">
                        <mat-icon class="table-snow">cloudy_snowing</mat-icon>
                    </div>
                </div>

                <div>
                    <div class="info">
                        <h1>Super Chedraui Jb Lobos Veracruz</h1>
                        <h2>Installed Capacity: <span>220kW</span></h2>
                        <h2>Monitoring Start Date: <span>2023-05-07</span></h2>
                    </div>

                    <div class="table-icon">
                        <mat-icon class="table-alert">info</mat-icon>
                    </div>
                </div>
                <div>
                    <div class="info">
                        <h1>Chedraui Jiutepec </h1>
                        <h2>Installed Capacity: <span>500kW</span></h2>
                        <h2>Monitoring Start Date: <span>2023-03-01</span></h2>
                    </div>

                    <div class="table-icon">
                        <mat-icon class="table-check">check</mat-icon>
                    </div>
                </div>

                <div>
                    <div class="info">
                        <h1>Chedraui Selecto Pedregal</h1>
                        <h2>Installed Capacity: <span>270kW</span></h2>
                        <h2>Monitoring Start Date: <span>2023-03-07</span></h2>
                    </div>

                    <div class="table-icon">
                        <mat-icon class="table-snow">cloudy_snowing</mat-icon>
                    </div>
                </div>

                <div>
                    <div class="info">
                        <h1>Super Chedraui Jb Lobos Veracruz</h1>
                        <h2>Installed Capacity: <span>220kW</span></h2>
                        <h2>Monitoring Start Date: <span>2023-05-07</span></h2>
                    </div>

                    <div class="table-icon">
                        <mat-icon class="table-alert">info</mat-icon>
                    </div>
                </div>
                <div>
                    <div class="info">
                        <h1>Chedraui Jiutepec </h1>
                        <h2>Installed Capacity: <span>500kW</span></h2>
                        <h2>Monitoring Start Date: <span>2023-03-01</span></h2>
                    </div>

                    <div class="table-icon">
                        <mat-icon class="table-check">check</mat-icon>
                    </div>
                </div>

                <div>
                    <div class="info">
                        <h1>Chedraui Selecto Pedregal</h1>
                        <h2>Installed Capacity: <span>270kW</span></h2>
                        <h2>Monitoring Start Date: <span>2023-03-07</span></h2>
                    </div>

                    <div class="table-icon">
                        <mat-icon class="table-snow">cloudy_snowing</mat-icon>
                    </div>
                </div>

                <div>
                    <div class="info">
                        <h1>Super Chedraui Jb Lobos Veracruz</h1>
                        <h2>Installed Capacity: <span>220kW</span></h2>
                        <h2>Monitoring Start Date: <span>2023-05-07</span></h2>
                    </div>

                    <div class="table-icon">
                        <mat-icon class="table-alert">info</mat-icon>
                    </div>
                </div>


            </div>



        </div>
    </div>
</div>












<ng-template #notData>
    <div class="no-data-alert">
        La información no pudo ser cargada.
    </div>
</ng-template>