<div class="row c-global c-site-performance" *ngIf="!showAlert else notData">
    <div class="col-md-12">
        <div class="c-data">
            <button class="btn-action-add">
                Refresh Data
            </button>
            <form [formGroup]="formFilters">
                <div class="header">
                    <mat-form-field appearance="outline" class="input-date">
                        <mat-date-range-input [min]="fechaHoy" [rangePicker]="picker"
                            [comparisonStart]="formFilters.value['start']" [comparisonEnd]="formFilters.value['end']">

                            <input matStartDate placeholder="Start date" formControlName="start">
                            <input matEndDate placeholder="End date" formControlName="end">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"
                            [disableRipple]="true"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </div>
            </form>

        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12 mt-5">
                <div class="highcharts">
                    <div class="charts">
                     <div class="graphic-performance" *ngIf="displayChart"
                            style="display: block;">
                            <canvas id="myChart" *ngIf="showSitePerformance" baseChart width="740" height="400"
                                [type]="'bar'" [data]="lineChartData" [options]="lineChartOptions"
                                [legend]="lineChartLegend">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 ps-lg-6">
        <div class="row">
            <div class="col-md-12 mt-5">
                <div class="highcharts">
                    <div class="charts">
                        <div class="graphic-performance" *ngIf="displayChart  ">
                            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
                                style="width: 100%; height: 400px; display: block;">
                            </highcharts-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #notData>
    <div class="no-data-alert">
        La información no pudo ser cargada.
    </div>
</ng-template>