<div class="row c-global c-site-performance">
    <div class="col-md-12">
        <div class="c-data">
            <!-- <button class="btn-action-add">
                <i class="fa-solid fa-arrows-rotate"></i>
                Refresh Data
            </button> -->
            <!-- <button class="btn-action-export" (click)="exportData()">
                <i class="fa-solid fa-file-export"></i>
                Export data
            </button> -->
        </div>
    </div>

    <ng-container  *ngIf="!showAlert else notData">
        <div class="col-md-6 col-sm-12 col-lg-6">
            <div class="row">
                <div class="col-md-6 col-lg-12 mt-2">
                    <div class="highcharts">
                        <div class="charts">
                            <div class="graphic-performance" *ngIf="displayChart" style="display: flex; height: 433px;">
                                <canvas id="myChart" *ngIf="showSitePerformance" baseChart [type]="'bar'"
                                    [data]="lineChartData" [options]="lineChartOptions" [legend]="lineChartLegend">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12 col-lg-6 ">
            <div class="row">
                <div class="col-md-12 col-lg-12 mt-2">
                    <div class="highcharts">
                        <div class="charts">
                            <div class="graphic-performance" *ngIf="displayChart">
                                Work In Progress  
                                <div class="loader">
                                    <div class="dot" *ngFor="let dot of dots"></div>
                                </div>                          
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<ng-template #notData>
    <div class="no-data-alert">
        The information could not be loaded.
    </div>
</ng-template>