<div class="px-16" *ngIf="!showLoader">

  <div class="mb-8">
    <div class="grid md:grid-cols-2 sm:grid-cols-1 md:gap-4">
      <div class="px-8 py-4 rounded-3xl border-2">
        <h2 class="text-er-orange text-base font-normal" i18n>Plantas totales</h2>

        <span *ngIf="loadingtotalPlants" class="loader m-auto d-flex" matTooltip="Cargando..."></span>

        <div *ngIf="!loadingtotalPlants">
          <div class="grid md:grid-cols-4 gap-4 text-center" *ngIf="totalPlants else notData">
            <div class="border-r-2 ">
              <h1>{{ totalPlants?.noOfSites || 0 }}</h1>
              <p class="text-sm" i18n># de sitios</p>
            </div>
            <div class="border-r-2">
              <h1>{{ totalPlants?.noOfInverters || 0 }}</h1>
              <p class="text-sm" i18n># de inversores</p>
            </div>
            <div class="border-r-2">
              <h1>{{totalPlants?.noOfModules || 0}}</h1>
              <p class="text-sm" i18n># de modulos</p>
            </div>
            <div>
              <h1>{{ !totalPlants?.mWpInstalled ? 0 : totalPlants.mWpInstalled | number:'1.2-2'}}</h1>
              <p class="text-sm" i18n>MW instalados</p>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <form class="relative w-80 ms-auto">
          <label class="input-search ">
            <img src="./assets/icons/search.svg" alt="Icon Search">
          </label>
          <input class="mt-1 block w-full rounded-full pl-9 h-9" type="text" i18n-placeholder
            placeholder="Buscar por nombre de sitio" [(ngModel)]="searchValue" [ngModelOptions]="{ standalone: true }"
            (input)="searchData()">
        </form>
      </div>
    </div>
  </div>
  <div>
    <div class="flex justify-end mb-5">
      <button class="btn-action-add" routerLink="/assets/create">
        <mat-icon>add</mat-icon>
        Add new plant
      </button>
    </div>
    <div>
      <table mat-table [dataSource]="dataSource" class="table-assets">

        <ng-container matColumnDef="siteName">
          <th mat-header-cell *matHeaderCellDef i18n> Nombre del sitio </th>
          <td mat-cell *matCellDef="let element" class="font-semibold"> {{ element.siteName }} </td>
        </ng-container>

        <ng-container matColumnDef="clientId">
          <th mat-header-cell *matHeaderCellDef> ID cliente </th>
          <td mat-cell *matCellDef="let element"> {{ element.clientId || '-' }} </td>
        </ng-container>

        <ng-container matColumnDef="commissionDate">
          <th mat-header-cell *matHeaderCellDef i18n> Fecha de comisión </th>
          <td mat-cell *matCellDef="let element"> {{element.commissionDate}} </td>
        </ng-container>

        <ng-container matColumnDef="inverterQty">
          <th mat-header-cell *matHeaderCellDef i18n> # de inversores </th>
          <td mat-cell *matCellDef="let element"> {{ element.inverterQty }} </td>
        </ng-container>

        <ng-container matColumnDef="systemSize">
          <th mat-header-cell *matHeaderCellDef i18n> Tamaño de sistema </th>
          <td mat-cell *matCellDef="let element"> {{ element?.systemSize || '-'}} </td>
        </ng-container>

        <ng-container matColumnDef="googleMapAdress">
          <th mat-header-cell *matHeaderCellDef i18n> Dirección </th>
          <td mat-cell *matCellDef="let element">
            <a [href]="element?.link" target="_blank">{{ element?.link || '-' }}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="navigate('/assets/edit/' + element.id)" i18n>Editar</button>
              <button mat-menu-item (click)="navigate('/assets/details/' + element.id)" i18n>Detalle</button>
            </mat-menu>


          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="tr-table-assets"></tr>
      </table>

      <mat-paginator 
        #paginator
        class="c-paginator" 
        [length]="totalItems" 
        [pageSize]="pageSize" 
        [pageSizeOptions]="pageSizeOptions"
        (page)="getServerData($event)" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>
</div>

<ng-template #notData>
  <div class="no-data-found d-flex justify-center">
    <span matTooltip="La información no pudo ser cargada.">-</span>
  </div>
</ng-template>