<nav class="c-header z-10">
  <div class="mx-10 flex justify-end items-center">
    <div class="flex align-items-center">
      <!-- <div class="c-month-button">

        <button [matMenuTriggerFor]="monthMenu1" #startMenuTrigger="matMenuTrigger" class="month-button">
          <h1>{{ selectedStartMonth ? selectedStartMonth.name + ' ' + selectedYearAbreviate : 'Start' }}</h1>
          <i class="fa-solid fa-calendar-days"></i>
        </button>

        <mat-menu #monthMenu1="matMenu" class="custom-menu">
          <div class="years">
            <p [ngClass]="{ 'selected-year': previousYearComplete === selectedYear, 'default-year': previousYearComplete !== selectedYear }"
            (click)="updateYearSelected(previousYearComplete); $event.stopPropagation()"
            >
              {{ previousYearComplete }}</p>

            <p [ngClass]="{ 'selected-year': currentYearComplete === selectedYear, 'default-year': currentYearComplete !== selectedYear }"
            (click)="updateYearSelected(currentYearComplete); $event.stopPropagation()"
            >
              {{ currentYearComplete }}</p>
          </div>
          <div class="month-grid">
            <button mat-menu-item *ngFor="let month of months" [ngClass]="{
                'selected-month': selectedStartMonth.value === month.value,
                'unselected-month': selectedStartMonth.value !== month.value
              }" (click)="selectStartMonth(month, startMenuTrigger)">
              {{ month.name }}
            </button>
          </div>
        </mat-menu>

        <p>To</p>

        <button [matMenuTriggerFor]="monthMenu2" #endMenuTrigger="matMenuTrigger" class="month-button">
          <h1>{{ singleMonth.value ? 'End' : (selectedEndMonth ? selectedEndMonth.name + ' ' + selectedYearAbreviate : 'End') }}
          </h1>
          <i class="fa-solid fa-calendar-days"></i>
        </button>

        <mat-menu #monthMenu2="matMenu" class="custom-menu">
          <div class="years">
            <p [ngClass]="{ 'selected-year': previousYearComplete === selectedYear, 'default-year': previousYearComplete !== selectedYear }"
            (click)="updateYearSelected(previousYearComplete); $event.stopPropagation()"
            >
              {{ previousYearComplete }}</p>

            <p [ngClass]="{ 'selected-year': currentYearComplete === selectedYear, 'default-year': currentYearComplete !== selectedYear }"
            (click)="updateYearSelected(currentYearComplete); $event.stopPropagation()"
            >
            {{ currentYearComplete }}</p>
          </div>
          <div class="month-grid">
            <button mat-menu-item *ngFor="let month of months" [disabled]="singleMonth.value" [ngClass]="{
                'selected-month': selectedEndMonth?.value === month.value,
                'unselected-month': selectedEndMonth?.value !== month.value
              }" (click)="selectEndMonth(month, endMenuTrigger)">
              {{ month.name }}
            </button>
          </div>

          <div class="single">
            <mat-checkbox [formControl]="singleMonth" class="check-color"></mat-checkbox>
            <p>Consider a single month only</p>
          </div>
        </mat-menu>
      </div> -->

        <div class="c-input mb-0">
          <mat-form-field class="select-mount" appearance="outline">
            <mat-select placeholder="Start date - End date" [(value)]="selectedYearSelect" multiple
              (valueChange)="yearSelected()">
              <mat-option *ngFor="let year of years; let i = index" [value]="year">
                {{ year.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>



      <button 
        [matMenuTriggerFor]="notificationsMenu" 
        mat-icon-button 
        [disabled]="!notifications || notifications.length === 0"
       >
       <div 
          [matBadge]="notifications.length + ' +'"
          [matBadgeHidden]="!hasNotifications" 
          matBadgeSize="small" 
          matBadgeColor="primary" 
          class="badge-container">
          <img 
            src="../../../../../assets/svg/notifications.svg" 
            alt="Icon notification"
            class="notification-icon"
            [ngClass]="{ 'disabled-icon': !notifications || notifications.length === 0 }"

            />
        </div>
      </button>

      <!-- <button 
      [matMenuTriggerFor]="menu" 
      mat-icon-button
      >
        <mat-icon 
        class="custom-icon-color"
        >
        
        account_circle</mat-icon>
      </button> -->
      <mat-menu 
      #notificationsMenu="matMenu"  
      xPosition="before" 
      yPosition="below" 
      class="notificationsMenu" 
      [hidden]="!menuOpen"
      (opened)="menuOpen = true; updateLocalNotifications()" 
      (closed)="menuOpen = false"
      
      >
        <div *ngFor="let notification of notifications; trackBy: trackByNotificationId" >
          <app-notification-card-center
          [@fadeOut]
          [notification]="notification"
          (notificationDeleted)="removeNotification(notification)"
          (click)="$event.stopPropagation();"
          ></app-notification-card-center>
        </div>
        <div class="notifications-footer mb-2 mt-3 " *ngIf="notifications.length==6">
          <button class="footer-button" (click)="$event.stopPropagation();">
            <img class="eye-icon" src="../../../../assets/img/eye-open-orange.png" alt="Eye Open">
            <span class="ml-1">See More</span>
          </button>   
        </div>
      </mat-menu>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="signOut()">Sign out</button>
      </mat-menu>
    </div>
  </div>
</nav>