<nav class="c-header z-10">
  <app-global-filters *ngIf="
      routeActive.includes('backoffice-home') ||
      routeActive.includes('admin-home') ||
      routeActive.includes('client-home') ||
      routeActive.includes('invoice') ||
      routeActive.includes('rates') ||
      routeActive.includes('details') ||
      routeActive.includes('energy')" [configGlobalFilters]="configGlobalFilters">
  </app-global-filters>

  <!-- <mat-menu #notificationsMenu="matMenu" xPosition="before" yPosition="below" class="notificationsMenu"
        [hidden]="!menuOpen" (opened)="menuOpen = true; updateLocalNotifications()" (closed)="menuOpen = false">
        <div *ngFor="let notification of notifications; trackBy: trackByNotificationId">
          <app-notification-card-center [@fadeOut] [notification]="notification"
            (notificationDeleted)="removeNotification(notification)"
            (click)="$event.stopPropagation();"></app-notification-card-center>
        </div>
        <div class="notifications-footer mb-2 mt-3 " *ngIf="notifications.length==6">
          <button class="footer-button" (click)="$event.stopPropagation();">
            <img class="eye-icon" src="../../../../assets/img/eye-open-orange.png" alt="Eye Open">
            <span class="ml-1">See More</span>
          </button>
        </div>
      </mat-menu>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="signOut()">Sign out</button>
      </mat-menu> -->
</nav>