<div class="c-main c-plant-details">
  <div class="plant-header grid grid-cols-3 gap-x-6 gap-y-4 md:gap-5">
    <div class="col-span-1 appreturn">
      <app-return-bar class="app-return"></app-return-bar>

      <div class="c-address" *ngIf="!isLoadingPD else loadingSkeletonTwo">
        <h1 *ngIf="plantData?.siteName else notDataTable">{{ plantData.siteName }} </h1>
        <p>{{ 'PLANTAS.DIRECCION_APROXIMADA' | translate }}: <span
            *ngIf="addressPlace else loadingSkeletonTwo">{{addressPlace}}</span>
      </div>
    </div>

    <div class="col-span-2">
      <div class="c-information">
        <div>
          <div class="content" *ngIf="!isLoadingTZ else loadingSkeletonTwo">
            <p >{{weatherData?.temperature | number:'1.1-1'}}°C </p>
            <i class="mb-2" [ngClass]="weatherCode[weatherData.weatherCode].icon"></i>
          </div>
          <div class="linea"></div>
        </div>

        <div>
          <div class="content" *ngIf="!isLoadingTZ else loadingSkeletonTwo">
            <p>{{ 'PLANTAS.HORA_LOCAL' | translate }}</p>
            <span *ngIf="timeZonePlace else notDataTable">{{ timeZonePlace }}</span>
          </div>

          <div class="linea"></div>
        </div>

        <div>
          <div class="content" *ngIf="!isLoadingPD else loadingSkeletonTwo">
            <p>{{ 'PLANTAS.TAMAÑO_SISTEMA' | translate }}</p>
            <span *ngIf="plantData?.systemSize else loadingSkeletonOne">{{ plantData.systemSize }} KWp</span>
          </div>
          <div class="linea"></div>
        </div>

        <div>
          <div class="content" *ngIf="!isLoadingPD else loadingSkeletonTwo">
            <p>{{ 'PLANTAS.CAPACIDAD_AC' | translate }}</p>
            <span *ngIf="plantData?.nominalPowerAC else notDataTable">{{ plantData.nominalPowerAC }} kW</span>
          </div>
          <div class="linea"></div>
        </div>


      </div>
    </div>
  </div>

  <div *ngIf="userInfo.clientes.length" class="c-content c-taps grid grid-cols-1 gap-x-6 gap-y-4 md:gap-5">
    <div class="col-span-1 position-relative">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [selectedIndex]="1"
        (selectedTabChange)="onTabChange($event)">

        <mat-tab label="{{ 'PLANTAS.DETALLES_SITIO' | translate }}">
          <app-site-details *ngIf="plantData" [plantData]="plantData"></app-site-details>
        </mat-tab>

        <mat-tab label="{{ 'PLANTAS.RENDIMIENTO_SITIO' | translate }}">
          <app-site-performance *ngIf="plantData" [plantData]="plantData"></app-site-performance>
        </mat-tab>

        <mat-tab label="{{ 'PLANTAS.AHORROS' | translate }}">
          <app-savings *ngIf="plantData" [plantData]="plantData"></app-savings>
        </mat-tab>

      </mat-tab-group>
    </div>
  </div>

  <div class="c-roc" *ngIf="!userInfo.clientes.length">
    <app-info-providers-devices [notData]="true" [data]="[]"></app-info-providers-devices>

    <div class="separator-cards"></div>

    <div class="content content-elements">
      <div class="content-header">
        <h1 class="label-700-24">{{ 'PLANTAS.PARAMETRO_MONITOREO_ACTIVO' | translate }}</h1>
      </div>

      <div class="c-content c-taps grid grid-cols-1 gap-x-6 gap-y-4 md:gap-5">
        <div class="col-span-1 position-relative">
          <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [selectedIndex]="0">

            <mat-tab label="{{ 'PLANTAS.PARAMETROS_OBSERVADOS' | translate }}">
              <app-observed-parameters [notData]="true" [data]="[]"></app-observed-parameters>
            </mat-tab>

            <mat-tab label="{{ 'PLANTAS.KPI_VIVO' | translate }}">
              <app-live-kpi [notData]="true" [data]="[]"></app-live-kpi>

            </mat-tab>

            <mat-tab label="{{ 'PLANTAS.KPI_ACUMULATIVO' | translate }}">
              <app-comulative-kpi [notData]="true" [data]="[]"></app-comulative-kpi>
            </mat-tab>

          </mat-tab-group>
        </div>
      </div>
    </div>

    <div class="separator-cards"></div>

    <app-plant-assets-co2 [notData]="true" [data]="[]"></app-plant-assets-co2>

    <div class="separator-cards"></div>

    <div class="content content-elements border-card">
      <div class="content-header">
        <h1 class="label-700-24">{{ 'PLANTAS.RESUMEN_OPERACIONES_ACTIVO' | translate }}</h1>
      </div>

      <div class="c-content c-taps">
        <div class="position-relative">
          <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [selectedIndex]="0">
            <mat-tab label="{{ 'PLANTAS.INVERSOR' | translate }}">
              <app-inverter [notData]="true" [data]="[]"></app-inverter>
            </mat-tab>

            <mat-tab label="{{ 'PLANTAS.TRANSFORMADOR' | translate }}">
              <app-transformer [notData]="true" [data]="[]"></app-transformer>
            </mat-tab>

            <mat-tab label="{{ 'PLANTAS.ESTACION_METEOROLOGICA' | translate }}">
              <app-weather-station [notData]="true" [data]="[]"></app-weather-station>
            </mat-tab>

            <mat-tab label="{{ 'PLANTAS.PANEL_HT' | translate }}">
              <app-ht-panel [notData]="true" [data]="[]"></app-ht-panel>
            </mat-tab>
          </mat-tab-group>
        </div>

        <div class="content-float">
          <div class="position-relative">
            <div class="c-input-search w-100">
              <i class="fa-solid fa-magnifying-glass"></i>
              <input class="block w-full" type="text" placeholder="{{ 'GENERAL.BUSCAR' | translate }}">
            </div>
          </div>

          <div class="btns-excel">
            <button class="btn-action-add">
              <span class="material-symbols-outlined">download</span>
              {{ 'PLANTAS.DESCARGAR_PLANTILLA' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="separator-cards"></div>

    <app-plants-evenet-summary [notData]="true" [data]="[]"></app-plants-evenet-summary>

    <div class="separator-cards"></div>
  </div>
</div>

<ng-template #notDataTable>
  <app-message-no-data [message]="('GENERAL.INFORMACION_NO_DISPONIBLE' | translate)"></app-message-no-data>
</ng-template>

<ng-template #notData>
  <app-message-no-data [message]="('GENERAL.INFORMACION_NO_DISPONIBLE' | translate)"></app-message-no-data>
</ng-template>

<ng-template #loadingSkeletonTwo> <!-- Loader para 2 lineas -->
  <div class="flex flex-col dataSC ">

    <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
        'border-radius': '32.5px'
      }"></ngx-skeleton-loader>

    <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
        'border-radius': '32.5px',
        'width': '70%'
      }"></ngx-skeleton-loader>
  </div>
</ng-template>

<ng-template #loadingSkeletonOne> <!-- Loader para 1 linea -->
  <div class="dataSC ">
    <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
        'border-radius': '32.5px'
      }"></ngx-skeleton-loader>
  </div>
</ng-template>

<ng-template #loadingSkeletonCircle>
  <div class="flex flex-col dataSC ">

    <ngx-skeleton-loader count="1" appearance="circle"></ngx-skeleton-loader>
  </div>
</ng-template>

<ng-template #notDataTable>
  <mat-icon color="warn">cancel_outlined</mat-icon>
</ng-template>