<div class="c-main create-asset-main-container">
  <app-return-bar></app-return-bar>
  <div class="create-asset-form-container">
    <div class="create-asset-header-container">
      <h2 class="m-0">{{!editedClient ? 'Create' : 'Edit'}} plant</h2>
    </div>

    <form [formGroup]="formData" (ngSubmit)="actionSave()" class="p-3">
      <div class="mb-0">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-4">
          <div class="col-span-1 md:col-span-1">
            <h2 class="text-xl font-semibold mb-4 border-b pb-2 separate">Site Information</h2>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-x-6 gap-y-4">
              <div class="col-span-1 md:col-span-1">
                <div class="c-input">
                  <p class="text-sm font-medium text-gray-700">Name of the site:</p>
                  <mat-form-field appearance="outline" class="w-full input-ER">
                    <input formControlName="siteName" placeholder="Name of the site" matInput>
                    <mat-error *ngIf="formData.get('siteName')?.hasError('required')">You must add site
                      name.</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-span-1 md:col-span-1">
                <div class="c-input">
                  <p class="text-sm font-medium text-gray-700">Plant code:</p>
                  <mat-form-field appearance="outline" class="w-full input-ER">
                    <input formControlName="plantCode" placeholder="Plant code" matInput>
                    <mat-error *ngIf="formData.get('plantCode')?.hasError('required')">You must add plant.
                      code</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <h2 class="text-xl font-semibold mb-4 border-b pb-2 separate">Contract Information</h2>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-x-6 gap-y-4">
              <div class="col-span-1 md:col-span-1">
                <div class="c-input">
                  <p>Type of contract:</p>
                  <mat-form-field class="select-ER" appearance="outline">
                    <mat-select formControlName="contractTypeId" placeholder="Type of contract">
                      <mat-option value="">Choose one</mat-option>
                      <mat-option [value]="cat.id" *ngFor="let cat of catContractType">{{ cat?.description || '-'
                        }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-span-1 md:col-span-1">
                <div class="c-input">
                  <p>Installation type:</p>
                  <mat-form-field class="select-ER" appearance="outline">
                    <mat-select formControlName="installationTypeId" placeholder="Installation type">
                      <mat-option value="">Choose one</mat-option>
                      <mat-option [value]="cat.id" *ngFor="let cat of catInstallationType">{{ cat?.description || '-'
                        }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-span-1 md:col-span-1">
                <div class="c-input">
                  <p>Installed capacity (kWp):</p>
                  <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-ER">
                    <input type="number" formControlName="systemSize" placeholder="Installed capacity (kWp)" matInput>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <h2 class="text-xl font-semibold mb-4 border-b pb-2 separate">Performance Data</h2>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-x-6 gap-y-1">
              <div class="col-span-1 md:col-span-1">
                <div class="c-input">
                  <p>Annual performance:</p>
                  <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-ER">
                    <input formControlName="yearlyYield" placeholder="Annual performance" matInput>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-span-1 md:col-span-1">
                <div class="c-input">
                  <p>Nominal power AC (kW):</p>
                  <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-ER">
                    <input formControlName="nominalPowerAC" placeholder="Nominal power AC (kW)" matInput>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-span-1 md:col-span-1">
                <div class="c-input">
                  <p>Performance ratio:</p>
                  <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-ER">
                    <input type="number" formControlName="performanceRatio" placeholder="Performance ratio" matInput>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <h2 class="text-xl font-semibold mb-4 border-b pb-2 separate">Additional Information</h2>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-x-6 gap-y-4">
              <div class="col-span-1 md:col-span-1">
                <div class="c-input">
                  <p>Status:</p>
                  <mat-form-field class="select-ER" appearance="outline">
                    <mat-select formControlName="statusPlantId" placeholder="Status">
                      <mat-option value="">Choose one</mat-option>
                      <mat-option [value]="cat.id" *ngFor="let cat of catPlantStatus">{{ cat?.description || '-'
                        }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-span-1 md:col-span-1">
                <div class="c-input">
                  <p>Client:</p>
                  <mat-form-field class="select-ER" appearance="outline">
                    <mat-select formControlName="clientId" placeholder="Client">
                      <mat-option value="">Choose one</mat-option>
                      <mat-option [value]="cat.id" *ngFor="let cat of catClients">{{ cat?.nombre || '-'
                        }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-span-1 md:col-span-1">
                <div class="c-input">
                  <p>Operation scheme:</p>
                  <mat-form-field class="select-ER" appearance="outline">
                    <mat-select formControlName="netZero" placeholder="Operation scheme">
                      <mat-option value="">Choose one</mat-option>
                      <mat-option [value]="'True'">Net Zero Export</mat-option>
                      <mat-option [value]="'False'">Normal</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-span-1 md:col-span-1">
                <div class="c-input">
                  <p>RPU:</p>
                  <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-ER">
                    <input type="text" formControlName="rpu" placeholder="RPU" matInput>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>

          <div class="col-span-1 md:col-span-1">
            <h2 class="text-xl font-semibold mb-4 border-b pb-2 separate">Location</h2>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-x-6 gap-y-1">
              <div class="col-span-2 md:col-span-2">

                <div class="c-input">
                  <p>Location on map:</p>
                  <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-ER">
                    <input formControlName="searchAddress" id="address-input" placeholder="Search for a location"
                      matInput>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-span-1 md:col-span-1">
                <div class="c-input-icon">
                  <p>Map link:</p>
                  <i class="fa-solid fa-eye" (click)="openToMap()" *ngIf="mapLink || editedClient?.link"
                    [matTooltip]=" mapLink || editedClient ? 'Click here to open the map.' : ''"></i>
                  <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-ER">
                    <input formControlName="link" placeholder="Map link" matInput>
                    <mat-error
                      *ngIf="formData.get('link')?.errors?.['urlPrefix'] && (formData.get('link')?.dirty || formData.get('link')?.touched)">You
                      must add a valid map link</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="map-container">
              <div id="map" style="height: 330px; width: 100%;"></div>
            </div>

            <h2 class="text-xl font-semibold mb-4 border-b pb-2 separate">Dates</h2>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-x-6 gap-y-4">
              <div class="col-span-1 md:col-span-1">
                <div class="c-input">
                  <p>Commission date:</p>
                  <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-date-new">
                    <input formControlName="commissionDate" placeholder="Commission date" matInput
                      [matDatepicker]="picker1">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-span-1 md:col-span-1">
                <div class="c-input">
                  <p>Signing contract date:</p>
                  <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-date-new">
                    <input formControlName="contractSignatureDate" placeholder="Signing contract date" matInput
                      [matDatepicker]="picker2">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-span-1 md:col-span-1">
                <div class="c-input">
                  <p>Instalation date:</p>
                  <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-date-new">
                    <input formControlName="endInstallationDate" placeholder="Instalation date" matInput
                      [matDatepicker]="picker3">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="button-container flex justify-end gap-3 pt-0">
        <div>
          <button class="btn-cancel" (click)="toBack()" type="button">Cancel</button>
        </div>
        <div>
          <button class="btn-action-add" type="submit">
            <i [class]="editedClient?.id ? 'fas fa-edit' : 'fa-solid fa-floppy-disk'"></i>
            {{ editedClient ? 'Edit' : 'Save'}}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>