<div class="c-main create-asset-main-container">
  <app-return-bar></app-return-bar>
  <div class="create-asset-form-container">
    <div class="create-asset-header-container">
      <h2 class="m-0">{{!editedClient ? ('PLANTAS.CREAR' | translate) : ('PLANTAS.EDITAR' | translate)}} {{ 'PLANTAS.PLANTAS' | translate | lowercase }}</h2>
    </div>

    <form [formGroup]="formData" (ngSubmit)="actionSave()" class="p-3">
      <div class="mb-0">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-4">
          <div class="col-span-1 md:col-span-1">
            <h2 class="text-xl font-semibold mb-4 border-b pb-2 separate">{{ 'PLANTAS.INFO_SITIO' | translate }}</h2>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-x-6 gap-y-4">
              <div class="col-span-1 md:col-span-1">
                <div class="c-input">
                  <p class="text-sm font-medium text-gray-700">{{ 'PLANTAS.NOMBRE_SITIO' | translate }}:</p>
                  <mat-form-field appearance="outline" class="w-full input-ER">
                    <input formControlName="siteName" placeholder="{{ 'PLANTAS.NOMBRE_SITIO' | translate }}" matInput>
                    <mat-error *ngIf="formData.get('siteName')?.hasError('required')">{{ 'PLANTAS.ERROR_NOMBRE_SITIO' | translate }}</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-span-1 md:col-span-1">
                <div class="c-input">
                  <p class="text-sm font-medium text-gray-700">{{ 'PLANTAS.CODIGO_PLANTA' | translate }}:</p>
                  <mat-form-field appearance="outline" class="w-full input-ER">
                    <input formControlName="plantCode" placeholder="{{ 'PLANTAS.CODIGO_PLANTA' | translate }}" matInput>
                    <mat-error *ngIf="formData.get('plantCode')?.hasError('required')">{{ 'PLANTAS.ERROR_CODIGO_PLANTA' | translate }}</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <h2 class="text-xl font-semibold mb-4 border-b pb-2 separate">{{ 'PLANTAS.INFO_CONTRATO' | translate }}</h2>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-x-6 gap-y-4">
              <div class="col-span-1 md:col-span-1">
                <div class="c-input">
                  <p>{{ 'PLANTAS.TIPO_CONTRATO' | translate }}:</p>
                  <mat-form-field class="select-ER" appearance="outline">
                    <mat-select formControlName="contractTypeId" placeholder="{{ 'PLANTAS.TIPO_CONTRATO' | translate }}">
                      <mat-option value="">{{ 'PLANTAS.ELEGIR_UNO' | translate }}</mat-option>
                      <mat-option [value]="cat.id" *ngFor="let cat of catContractType">{{ cat?.description || '-'
                        }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-span-1 md:col-span-1">
                <div class="c-input">
                  <p>{{ 'PLANTAS.TIPO_INSTALACION' | translate }}:</p>
                  <mat-form-field class="select-ER" appearance="outline">
                    <mat-select formControlName="installationTypeId" placeholder="{{ 'PLANTAS.TIPO_INSTALACION' | translate }}">
                      <mat-option value="">{{ 'PLANTAS.ELEGIR_UNO' | translate }}</mat-option>
                      <mat-option [value]="cat.id" *ngFor="let cat of catInstallationType">{{ cat?.description || '-'
                        }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-span-1 md:col-span-1">
                <div class="c-input">
                  <p>{{ 'PLANTAS.CAPACIDAD_INSTALADA' | translate }}:</p>
                  <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-ER">
                    <input type="number" formControlName="systemSize" placeholder="{{ 'PLANTAS.CAPACIDAD_INSTALADA' | translate }}" matInput>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <h2 class="text-xl font-semibold mb-4 border-b pb-2 separate">{{ 'PLANTAS.DATOS_RENDIMIENTO' | translate }}</h2>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-x-6 gap-y-1">
              <div class="col-span-1 md:col-span-1">
                <div class="c-input">
                  <p>{{ 'PLANTAS.RENDIMIENTO_ANUAL' | translate }}:</p>
                  <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-ER">
                    <input formControlName="yearlyYield" placeholder="{{ 'PLANTAS.RENDIMIENTO_ANUAL' | translate }}" matInput>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-span-1 md:col-span-1">
                <div class="c-input">
                  <p>{{ 'PLANTAS.POTENCIA_NOMINAL' | translate }}:</p>
                  <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-ER">
                    <input formControlName="nominalPowerAC" placeholder="{{ 'PLANTAS.POTENCIA_NOMINAL' | translate }}" matInput>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-span-1 md:col-span-1">
                <div class="c-input">
                  <p>{{ 'PLANTAS.RATIO_RENDIMIENTO' | translate }}:</p>
                  <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-ER">
                    <input type="number" formControlName="performanceRatio" placeholder="{{ 'PLANTAS.RATIO_RENDIMIENTO' | translate }}" matInput>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <h2 class="text-xl font-semibold mb-4 border-b pb-2 separate">{{ 'PLANTAS.INFO_ADICIONAL' | translate }}</h2>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-x-6 gap-y-4">
              <div class="col-span-1 md:col-span-1">
                <div class="c-input">
                  <p>{{ 'PLANTAS.ESTADO' | translate }}:</p>
                  <mat-form-field class="select-ER" appearance="outline">
                    <mat-select formControlName="statusPlantId" placeholder="{{ 'PLANTAS.ESTADO' | translate }}">
                      <mat-option value="">{{ 'PLANTAS.ELEGIR_UNO' | translate }}</mat-option>
                      <mat-option [value]="cat.id" *ngFor="let cat of catPlantStatus">{{ cat?.description || '-'
                        }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-span-1 md:col-span-1">
                <div class="c-input">
                  <p>{{ 'PLANTAS.CLIENTE' | translate }}:</p>
                  <mat-form-field class="select-ER" appearance="outline">
                    <mat-select formControlName="clientId" placeholder="{{ 'PLANTAS.CLIENTE' | translate }}">
                      <mat-option value="">{{ 'PLANTAS.ELEGIR_UNO' | translate }}</mat-option>
                      <mat-option [value]="cat.id" *ngFor="let cat of catClients">{{ cat?.nombre || '-'
                        }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-span-1 md:col-span-1">
                <div class="c-input">
                  <p>{{ 'PLANTAS.ESQUEMA_OPERACION' | translate }}:</p>
                  <mat-form-field class="select-ER" appearance="outline">
                    <mat-select formControlName="netZero" placeholder="{{ 'PLANTAS.ESQUEMA_OPERACION' | translate }}">
                      <mat-option value="">{{ 'PLANTAS.ELEGIR_UNO' | translate }}</mat-option>
                      <mat-option [value]="'True'">{{ 'PLANTAS.NET_ZERO' | translate }}</mat-option>
                      <mat-option [value]="'False'">{{ 'PLANTAS.NORMAL' | translate }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-span-1 md:col-span-1">
                <div class="c-input">
                  <p>{{ 'PLANTAS.RPU' | translate }}:</p>
                  <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-ER">
                    <input type="text" formControlName="rpu" placeholder="{{ 'PLANTAS.RPU' | translate }}" matInput>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>

          <div class="col-span-1 md:col-span-1">
            <h2 class="text-xl font-semibold mb-4 border-b pb-2 separate">{{ 'PLANTAS.UBICACION' | translate }}</h2>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-x-6 gap-y-1">
              <div class="col-span-2 md:col-span-2">

                <div class="c-input">
                  <p>{{ 'PLANTAS.UBICACION_MAPA' | translate }}:</p>
                  <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-ER">
                    <input formControlName="searchAddress" id="address-input" placeholder="{{ 'PLANTAS.BUSCAR_UBICACION' | translate }}"
                      matInput>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-span-1 md:col-span-1">
                <div class="c-input-icon">
                  <p>{{ 'PLANTAS.ENLACE_MAPA' | translate }}:</p>
                  <i class="fa-solid fa-eye" (click)="openToMap()" *ngIf="mapLink || editedClient?.link"
                    [matTooltip]=" mapLink || editedClient ? ('PLANTAS.CLICK_ABRIR_MAPA' | translate) : ''"></i>
                  <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-ER">
                    <input formControlName="link" placeholder="{{ 'PLANTAS.ENLACE_MAPA' | translate }}" matInput>
                    <mat-error
                      *ngIf="formData.get('link')?.errors?.['urlPrefix'] && (formData.get('link')?.dirty || formData.get('link')?.touched)">{{ 'PLANTAS.ERROR_ENLACE_MAPA' | translate }}</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="map-container">
              <div id="map" style="height: 330px; width: 100%;"></div>
            </div>

            <h2 class="text-xl font-semibold mb-4 border-b pb-2 separate">{{ 'PLANTAS.FECHAS' | translate }}</h2>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-x-6 gap-y-4">
              <div class="col-span-1 md:col-span-1">
                <div class="c-input">
                  <p>{{ 'PLANTAS.FECHA_COMISION' | translate }}:</p>
                  <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-date-new">
                    <input formControlName="commissionDate" placeholder="{{ 'PLANTAS.FECHA_COMISION' | translate }}" matInput
                      [matDatepicker]="picker1">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-span-1 md:col-span-1">
                <div class="c-input">
                  <p>{{ 'PLANTAS.FECHA_FIRMA_CONTRATO' | translate }}:</p>
                  <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-date-new">
                    <input formControlName="contractSignatureDate" placeholder="{{ 'PLANTAS.FECHA_FIRMA_CONTRATO' | translate }}" matInput
                      [matDatepicker]="picker2">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-span-1 md:col-span-1">
                <div class="c-input">
                  <p>{{ 'PLANTAS.FECHA_INSTALACION' | translate }}:</p>
                  <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-date-new">
                    <input formControlName="endInstallationDate" placeholder="{{ 'PLANTAS.FECHA_INSTALACION' | translate }}" matInput
                      [matDatepicker]="picker3">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="button-container flex justify-end gap-3 pt-0">
        <div>
          <button class="btn-cancel" (click)="toBack()" type="button">{{ 'PLANTAS.CANCELAR' | translate }}</button>
        </div>
        <div>
          <button class="btn-action-add" type="submit">
            <i [class]="editedClient.id ? 'fas fa-edit' : 'fa-solid fa-floppy-disk'"></i>
            {{ editedClient ? ('PLANTAS.EDITAR' | translate) : ('PLANTAS.GUARDAR' | translate) }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
