<div class="custom-snackbar-container m-6">
    <div [ngClass]="{
        'circle': true,
        'complete-circle': data.type === 'COMPLETE',
        'error-circle': data.type === 'FAILED'
      }">
        <ng-container class="complete-circle" *ngIf="data.type === 'COMPLETE'">
            <mat-icon>task_alt_outlined</mat-icon>
        </ng-container>
        <ng-container class="error-circle" *ngIf="data.type === 'FAILED'">
            <mat-icon>cancel_outlined</mat-icon>
        </ng-container>
    </div>    
            
    <div class="snack-body">
        <strong class="mb-6">{{data.title}}</strong>
        <span class="mb-3">{{data.subtitle}}</span>
    </div>
</div>