<div class="main-container">
    <div class="register-form-container">
      <div class="register-header-container">
        <img src="../../../assets/svg/logo.svg" alt="logo energia real">
        <h2>Create Account</h2>
        <p>Enter your details to create your account</p>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="errorCreate">
        {{messageError}}
      </div>
      <div class="alert alert-success" role="alert" *ngIf="successfulCreate">
        ¡Account Created successfully! <br>
        You will be redirected to the logi
      </div>
      <div class="register-inputs-component">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group-container">
            <input type="text" id="nombre" formControlName="name" required placeholder="Name">
            <div class="message-error">
              <p *ngIf="registerForm.get('name')?.value == '' && (registerForm.get('name')?.dirty || registerForm.get('name')?.touched)">You must add a name</p>
            </div>
          </div>
      
          <div class="form-group-container">
            <input type="text" id="apellido" formControlName="lastname" required placeholder="Last name">
            <div class="message-error">
              <p *ngIf="registerForm.get('lastname')?.value == '' && (registerForm.get('lastname')?.dirty || registerForm.get('lastname')?.touched)">You must add a last name</p>
            </div>
          </div>
      
          <div class="form-group-container input-email-container">
            <input type="email" id="email" formControlName="email" required placeholder="Email">
            <div class="message-error">
              <p *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)">Invalid email</p>
            </div>
          </div>
      
          <div class="form-group-container">
            <div class="password-input-container">
              <input type="{{ showPassword ? 'text' : 'password' }}" id="password" formControlName="password" required placeholder="Password">
              <span class="eye-icon" (click)="togglePasswordVisibility(1)">
                <img *ngIf="showPassword" src="./assets/svg/open-eye.svg" alt="Eye Open">
                <img *ngIf="!showPassword" src="./assets/svg/closed-eye.svg" alt="Eye Closed">
              </span>
            </div>
            <div class="message-error">
              <p *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)">The password must have at least one uppercase letter, one lowercase letter, one number and one special character, with a minimum length of 8 characters</p>
            </div>
          </div>
      
          <div class="form-group-container">
            <div class="password-input-container">
              <input type="{{ showConfirmPassword ? 'text' : 'password' }}" id="passwordConfirm" formControlName="passwordConfirm" required placeholder="Confirmar contraseña">
              <span class="eye-icon" (click)="togglePasswordVisibility(2)">
                <img *ngIf="showPassword" src="./assets/svg/open-eye.svg" alt="Eye Open">
                <img *ngIf="!showPassword" src="./assets/svg/closed-eye.svg" alt="Eye Closed">
              </span>
            </div>
            <div class="message-error">
              <p *ngIf="registerForm.get('passwordConfirm')?.hasError('pattern') && (registerForm.get('passwordConfirm')?.dirty || registerForm.get('passwordConfirm')?.touched)">The password must have at least one uppercase letter, one lowercase letter, one number and one special character, with a minimum length of 8 characters</p>
              <p *ngIf="registerForm.get('passwordConfirm')?.hasError('noCoincide')">Passwords do not match</p>
            </div>
          </div>
          <div class="button-container">
            <span class="loader" *ngIf="loading"></span>
            <button class="button-primary" *ngIf="!loading" type="submit" [disabled]="registerForm.invalid || buttonDisabled">Create Account</button>
          </div>
        </form>
      </div>
      <div class="register-footer-container">
        <a routerLink="/">Do you already have an account?</a>
      </div>
    </div>
  </div>  