.c-install {

    .c-card-info {
        display: flex;
        justify-content: end!important;
    }
    .header-chart {
        >h1 {
            font-size: 11px;
            font-weight: 400;
            color: #6E6E6E;
            text-align: right;
            line-height: 10px;
            margin-bottom: 10px !important;
        }
    }

    .ngx-image {
        height: calc(100vh - 400px);
        display: block;
        width: 100%;
        height: auto;
    }

    .pdf {
        width: 100%;
        height: calc(100vh - 300px);
        z-index: 9999;
        margin: 0px;

        .pdfViewer .page {
            display: flex;
            justify-content: center;
            background: red;
        }
    }
}

::ng-deep .pdfViewer .page {
    margin: 0 !important;
    display: flex;
    justify-content: center;
    background: red;
    width: unset !important;
    align-items: center;
    height: 100% !important;

    .canvasWrapper {

        height: 100% !important;
    }
}

div {
    margin-bottom: 20px;
}

ngx-image-zoom {
    width: 100%;
    height: auto;
}


.sombreado {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
  }
