.home-main-container {
  padding-bottom: 4%;
  width: 100%;

  .home-header-container {
    padding: .5% 4%;
    border-bottom: 1px solid #E3E3E3;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    .c-header-details {
      display: flex;
      align-items: start;
      // width: 26%;
      vertical-align: middle;
      // flex-wrap: wrap;
    }

    .info-asset-container {
      display: inline-block;
      vertical-align: middle;

      h1 {
        font-size: 32px;
        font-weight: 400;
      }

      p {
        font-size: 12px;
        font-weight: 600;
      }

      span {
        font-weight: 400;
      }
    }

    .info-weather-container {
      display: inline-block;
      // padding-left: 40px;
      vertical-align: middle;

      .weather-flex-container {
        width: 100%;
        display: flex;
        // display: inline-flex;
        overflow-y: hidden;
        overflow-x: auto;
        align-items: flex-start;
        // gap: 40px;
        // flex-wrap: wrap;
        justify-content: space-between;
        
        .card-weather-container {
          margin: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 84px;
          border-radius: 16px;
          border: 1px solid #D2D2D2;
          text-align: center;
          padding: 10px;
          vertical-align: middle;
          height: 84px;

          .card-value {
            font-size: 22px;
            font-weight: 400;
          }

          p {
            margin-bottom: 10px;
          }

          i {
            font-size: 22px;
          }
        }

        .card-weather-center {
          width: auto;
          vertical-align: top;

          p:first-child {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

.main-container {
  padding: 1% 4%;
  display: flex;
  justify-content: start;
  .mat-tab {
    background-color: #EE5427 !important;

  }

  .nav-tabs {
    border: none;

    .active {
      background-color: #EE5427;
      color: #FFF;
    }
  }

  .home-tab-container {
    padding-top: 30px;
  }
}

:host ::ng-deep .mat-mdc-tab {
  border: none;
  color: #000;
  background-color: #F8F8F8;
  border-radius: 15px;
  margin-right: 10px;
}