<div class="c-main home-main-container">
  <div class="home-header-container mb-2 mb-lg-0">

    <div class="width-100 p-0">
      <div class="row">
        <div class="c-header-details col-md-4 col-12">
          <app-return-bar></app-return-bar>

          <div class="info-asset-container">
            <h1 class="mb-2" *ngIf="assetData?.siteName else notData">{{ assetData.siteName }}</h1>
            <h2 class="mb-0" *ngIf="assetData?.clientName else notData">{{ assetData.clientName }}</h2>
            <p class="fw-medium">Approximate address: <span *ngIf="addressPlace else notData">{{addressPlace}}</span>
            </p>
          </div>
        </div>

        <div class="info-weather-container col-md-8 col-12" style="display: flex; align-items: center;">
          <div class="weather-flex-container">

            <div class="card-weather-container" [ngStyle]="{'background-color': weatherData?.color}">
              <span *ngIf="loadingWeather" class="loader m-auto" matTooltip="Cargando..."></span>

              <div *ngIf="!loadingWeather">
                <div *ngIf="weatherData else notData">
                  <p class="">{{weatherData?.temperature | number:'1.1-1'}}°C
                    {{weatherCode[weatherData?.weatherCode].text}}</p>
                  <i class="mb-2" [ngClass]="weatherCode[weatherData.weatherCode].icon"></i>
                </div>
              </div>
            </div>

            <div class="card-weather-container card-weather-center">
              <span *ngIf="loadingTimeZone" class="loader" matTooltip="Cargando..."></span>

              <div *ngIf="!loadingTimeZone">
                <p>Local time</p>
                <div *ngIf="timeZonePlace else notData">
                  <p class="card-value">{{ timeZonePlace }}</p>
                </div>
              </div>
            </div>

            <div class="card-weather-container card-weather-center">
              <span *ngIf="!assetData" class="loader" matTooltip="Cargando..."></span>

              <div *ngIf="assetData">
                <p>System size</p>
                <div *ngIf="assetData.systemSize else notDataOne">
                  <p class="card-value">{{ assetData.systemSize }} kW</p>
                </div>
              </div>
            </div>

            <div class="card-weather-container card-weather-center">
              <span *ngIf="!assetData" class="loader" matTooltip="Cargando..."></span>

              <div *ngIf="assetData">
                <p>AC capacity</p>
                <div *ngIf="assetData.nominalPower else notDataOne">
                  <p class="card-value">{{ assetData.nominalPower }} kW</p>
                </div>
              </div>
            </div>

            <div class="card-weather-container card-weather-center">
              <span *ngIf="!assetData" class="loader" matTooltip="Cargando..."></span>

              <div *ngIf="assetData">
                <p>Status</p>
                <div *ngIf="assetData.assetStatus else notData">
                  <mat-icon [matTooltip]="assetData.assetStatus">{{ assetData.assetStatusIcon }} </mat-icon>
                </div>
              </div>
            </div>

            <div class="card-weather-container card-status-system"
              [ngStyle]="{ 'background-color': dataRespoSystem?.real_health_state == 'healthy' ? 'rgb(161 239 168 / 60%)' : '#efa1a1' }">
              <span *ngIf="loadingSystem" class="loader" matTooltip="Cargando..."></span>

              <div *ngIf="!loadingSystem">
                <p>System</p>
                <div *ngIf="dataRespoSystem else notData">
                  <i *ngIf="dataRespoSystem.real_health_state == 'healthy'" class="fa-solid fa-check mb-2"></i>
                  <i *ngIf="dataRespoSystem.real_health_state != 'healthy'" class="fa-solid fa-xmark mb-2"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-container">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [selectedIndex]="0"
      (selectedTabChange)="onTabChange($event)">

      <mat-tab label="Site details">
        <app-site-details *ngIf="assetData" [notData]="showNotdata" [assetData]="assetData"></app-site-details>
      </mat-tab>
      
      <mat-tab label="Site performance">
        <app-site-performance *ngIf="assetData" [assetData]="assetData"></app-site-performance>
      </mat-tab>

      <mat-tab label="Inverter details">
        <app-instalation-details *ngIf="assetData" [assetData]="assetData"
          [notData]="showNotdata"></app-instalation-details>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>

<ng-template #notData>
  <app-message-no-data [message]="'The information could not be loaded.'"></app-message-no-data>
</ng-template>

<ng-template #notDataOne>
  <app-message-no-data [message]="'The requested information is not available.'"></app-message-no-data>
</ng-template>