<div class="home-main-container" *ngIf="!showLoader">
  <div class="home-header-container">
    <app-return-bar urlToGo="/assets/management"></app-return-bar>
    <div class="info-asset-container pt-3">
      <h1>{{assetData.siteName}}</h1>
      <p>Dirección aproximada: {{addressPlace}}</p>
    </div>
    <div class="info-weather-container">
      <div class="weather-flex-container">

        <!-- <div [ngClass]="{'spinner-center': loadingWeatherData}" class="card-weather-container" [ngStyle]="{'background-color': weatherData.color}"> -->
        <div [ngClass]="{'spinner-center': !loadingWeatherData}" class="card-weather-container" [ngStyle]="{'background-color': weatherData.color}">
            <!-- <span *ngIf="loadingWeatherData" class="loader" matTooltip="Cargando..."></span> -->
            <span class="loader" matTooltip="Cargando..."></span>

          <!-- <div *ngIf="!loadingWeatherData">
            <i class="mb-2" [ngClass]="weatherCode[weatherData.weatherCode].icon"></i>
            <p>{{weatherData.temperature | number:'1.1-1'}}°C {{weatherCode[weatherData.weatherCode].text}}</p>
          </div> -->
        </div>

        <div [ngClass]="{'spinner-center': !loadinGtimeZonePlace}" class="card-weather-container card-weather-center">
        <!-- <div [ngClass]="{'spinner-center': loadinGtimeZonePlace}" class="card-weather-container card-weather-center"> -->
            <!-- <span *ngIf="loadinGtimeZonePlace" class="loader" matTooltip="Cargando..."></span> -->
            <span class="loader" matTooltip="Cargando..."></span>


          <!-- <div *ngIf="!loadinGtimeZonePlace">
            <p>Hora local</p>
            <p class="card-value">{{timeZonePlace | date:'hh:mm aa'}}</p>
          </div> -->
        </div>

        <div [ngClass]="{'spinner-center': !loadinSystemSize}" class="card-weather-container card-weather-center">
        <!-- <div [ngClass]="{'spinner-center': loadinSystemSize}" class="card-weather-container card-weather-center"> -->
            <!-- <span *ngIf="loadinSystemSize" class="loader" matTooltip="Cargando..."></span> -->
            <span class="loader" matTooltip="Cargando..."></span>

          <!-- <div *ngIf="!loadinSystemSize">
            <p>Tamaño del sistema</p>
            <p class="card-value">{{assetData.systemSize}}</p>
          </div> -->
        </div>

        <div class="card-weather-container card-status-system" [ngClass]="{ 'spinner-center': !loadinSystemSize }" [ngStyle]="{ 'background-color': statusSystem ? '#a1efef' : '#efa1a1' }">
          <span class="loader" matTooltip="Cargando..."></span>

          <!-- <i *ngIf="statusSystem" class="fa-solid fa-check mb-2"></i>
          <i *ngIf="!statusSystem" class="fa-solid fa-xmark mb-2"></i>
          <p>Sistema</p> -->
        </div>
      </div>
    </div>
  </div>

  <div class="home-tabs-main-container">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [selectedIndex]="1">

      <mat-tab label="Descripción"> 
        <app-description [assetData]="assetData"></app-description>
      </mat-tab>

      <mat-tab label="Detalles">
        <app-details [assetData]="assetData"></app-details>
      </mat-tab>
 
      <mat-tab label="Rendimiento"> Rendimiento </mat-tab>
    </mat-tab-group>
  
  </div>
</div>