
<div class="p-top-main home-main-container">
  <div class="home-header-container">
    <app-return-bar></app-return-bar>
    
    <div class="info-asset-container pt-3">
      <h1 class="mb-2" *ngIf="assetData?.siteName else notData">{{ assetData.siteName }}</h1>
      <h2 class="mb-0" *ngIf="assetData?.clientName else notData">{{ assetData.clientName }}</h2>
        <p class="fw-medium">Dirección aproximada: <span  *ngIf="addressPlace else notData">{{addressPlace}}</span></p>
    </div>

    <div class="info-weather-container">
      <div class="weather-flex-container">

        <div class="card-weather-container" [ngStyle]="{'background-color': weatherData?.color}">
          <span *ngIf="loadingWeather" class="loader m-auto" matTooltip="Cargando..."></span>

          <div *ngIf="!loadingWeather">
            <div *ngIf="weatherData else notData">
              <i class="mb-2" [ngClass]="weatherCode[weatherData.weatherCode].icon"></i>
              <p>{{weatherData.temperature | number:'1.1-1'}}°C {{weatherCode[weatherData.weatherCode].text}}</p>
            </div>
          </div>
        </div>

        <div class="card-weather-container card-weather-center">
          <span *ngIf="loadingTimeZone" class="loader" matTooltip="Cargando..."></span>

          <div *ngIf="!loadingTimeZone">
            <p>Hora local</p>
            <div *ngIf="timeZonePlace else notData">
              <p class="card-value">{{ timeZonePlace }}</p>
            </div>
          </div>
        </div>
        
        <div class="card-weather-container card-weather-center">
          <span *ngIf="!assetData" class="loader" matTooltip="Cargando..."></span>

          <div *ngIf="assetData">
            <p>Tamaño del sistema</p>
            <div *ngIf="assetData.systemSize else notDataOne">
              <p class="card-value">{{ assetData.systemSize }}</p>
            </div>
          </div>
        </div>

        <div class="card-weather-container card-weather-center">
          <span *ngIf="!assetData" class="loader" matTooltip="Cargando..."></span>

          <div *ngIf="assetData">
            <p>Capacidad de AC</p>
            <div *ngIf="assetData.nominalPower else notDataOne">
              <p class="card-value">{{ assetData.nominalPower }}</p>
            </div>
          </div>
        </div>
  
        <div class="card-weather-container card-weather-center">
          <span *ngIf="!assetData" class="loader" matTooltip="Cargando..."></span>

          <div *ngIf="assetData">
            <p>Estatus</p>
            <div *ngIf="assetData.assetStatus else notData">
              <mat-icon [matTooltip]="assetData.assetStatus">{{ assetData.assetStatusIcon }} </mat-icon>
            </div>
          </div>
        </div>

        <div class="card-weather-container card-status-system" [ngStyle]="{ 'background-color': dataRespoSystem?.real_health_state == 'healthy' ? '#a1efef' : '#efa1a1' }">
          <span *ngIf="loadingSystem" class="loader" matTooltip="Cargando..."></span>

          <div *ngIf="!loadingSystem">
            <p>Sistema</p>
            <div *ngIf="dataRespoSystem else notData">
              <i *ngIf="dataRespoSystem.real_health_state == 'healthy'" class="fa-solid fa-check mb-2"></i>
              <i *ngIf="dataRespoSystem.real_health_state != 'healthy'" class="fa-solid fa-xmark mb-2"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-tabs-main-container">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [selectedIndex]="1">

      <mat-tab label="Overview">
        <app-overview-details *ngIf="assetData" [notData]="showNotdata" [assetData]="assetData"></app-overview-details>
      </mat-tab>

      <mat-tab label="Site details">
        <app-site-details *ngIf="assetData" [notData]="showNotdata" [assetData]="assetData"></app-site-details>
      </mat-tab>
   
      <mat-tab label="Site performance">
        <app-site-performance *ngIf="assetData" [assetData]="assetData"></app-site-performance>
      </mat-tab>

      <!-- <mat-tab label="FAQ">En desarrollo...</mat-tab> -->
    </mat-tab-group>
  </div>
</div>

<ng-template #notData>
  <app-message-no-data [message]="'La información no pudo ser cargada.'"></app-message-no-data>
</ng-template>

<ng-template #notDataOne>
  <app-message-no-data [message]="'No se dispone de la información solicitada.'"></app-message-no-data>
</ng-template>