<div class="c-clients c-main  c-management" [class.sombreado]="drawerOpen">
    <div>
        <div class="grid md:grid-cols-2 sm:grid-cols-1 md:gap-4">
            <div class=" col-span-1 md:col-span-1">
                <form class="relative w-80 c-search">
                    <label class="input-search">
                        <img src="../../../../../assets/svg/search.svg" alt="Icon Search">
                    </label>
                    <input class="block w-full rounded-full pl-9 h-9" type="text" placeholder="Search by client name"
                        [formControl]="searchBar">
                </form>
            </div>

            <div class="col-span-1 md:col-span-1 ">
                <div class="flex justify-end gap-2 mt-3 md:mt-0">
                    <button class="btn-cancel flex gap-2 items-center" (click)="toggleDrawer('typeClients')" type="button">
                        <i class="fa-solid fa-eye"></i>
                        See types of clients
                    </button>

                    <button class="btn-action-add" (click)="toggleDrawer('client')">
                        <i class="fa-solid fa-plus"></i>
                        Add new client
                    </button>
                </div>
            </div>
        </div>

        <app-corporate-names [isOpen]="drawerOpenCorporateName"
            (closeDrawerEmmit)="corporateEmitter($event)"></app-corporate-names>
        <app-new-client [isOpen]="drawerOpenClient" [modeDrawer]="drawerAction" [client]="drawerInfo"></app-new-client>

        <app-types-clients *ngIf="drawerOpen" [isOpen]="drawerOpen"></app-types-clients>

        <div class="separator-cards mt-4 mb-4"></div>

        <div class="c-paginator-top mt-5">
            <strong>Items</strong>
            <mat-form-field>
                <mat-select [(ngModel)]="pageSize" (selectionChange)="changePageSize($event)">
                    <mat-option *ngFor="let size of pageSizeOptions" [value]="size"><strong>{{ size
                            }}</strong></mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="c-scroll-table">
            <div class="table-container-scroll">
                <table mat-table [dataSource]="dataSource" matSort class="table-content">
                    <ng-container matColumnDef="image">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            <div class="target w-24">Logo</div>
                        </th>
                        <td mat-cell *matCellDef="let element" style="width: 100px;">
                            <img [src]="element.imageBase64" *ngIf="element.imageBase64" alt="Client Image" />
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="clientName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            <div class="target w-24">Client name</div>
                        </th>
                        <td mat-cell *matCellDef="let element"> {{ element?.nombre }} </td>
                    </ng-container>

                    <ng-container matColumnDef="clientId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            <div class="target w-24">ID client</div>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div *ngIf="element?.clientId else notDataTable"> {{ element.clientId }} </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="typeClient">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            <div class="target w-24">Type of client</div>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div *ngIf="element?.tipoDeCliente?.id else notDataTable"> {{ element?.tipoDeCliente?.tipo
                                }}
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="corporateName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            <div class="target w-24">Corporate Name</div>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div *ngIf="element?.razonSocialCount!=0 else notCorporateName">
                                <div *ngIf="element?.razonSocialCount==1" class="check-razon-social"
                                    (click)="toggleDrawer ('corporate', element)">
                                    {{element?.razonesSociales[0].razonSocialName}}
                                </div>
                                <div *ngIf="element?.razonSocialCount>1" class="check-razon-social"
                                    (click)="toggleDrawer ('corporate', element)">
                                    Multiple Corporate Names
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>
                            <div class="target w-24">Actions</div>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="editClient(element)">Edit</button>
                            </mat-menu>
                        </td>
                    </ng-container>

                    <tr *matNoDataRow>
                        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                            <h5 class="text-center my-5">No results found.</h5>
                        </td>
                    </tr>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="tr-table"></tr>
                </table>
            </div>
        </div>
        <mat-paginator #paginator class="c-paginator" [length]="totalItems" [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions" (page)="getServerData($event)" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>

<ng-template #notData>
    <div class="no-data-found d-flex justify-center">
        <app-message-no-data [message]="'The information could not be loaded.'"></app-message-no-data>
    </div>
</ng-template>

<ng-template #notDataTable>
    <app-message-no-data [message]="'The requested information is not available.'"></app-message-no-data>
</ng-template>

<ng-template #notCorporateName>
    <div class="check-razon-social">
        Add Corporate Name
    </div>
</ng-template>