<div class="c-main px-16 c-management" [class.sombreado]="drawerOpen">
    <div>
        <div class="flex justify-end mb-2 justify-between mb-4">
            <form class="relative w-80 c-search">
                <label class="input-search">
                    <img src="../../../../../assets/svg/search.svg" alt="Icon Search">
                </label>
                <input class="block w-full rounded-full pl-9 h-9" type="text" placeholder="Search by site name"
                    [formControl]="searchBar">
            </form>

            <div class="d-flex justify-between gap-2">
                <button class="btn-cancel d-flex gap-2 align-items-center" (click)="toggleDrawer()" type="button">
                    <i class="fa-solid fa-eye"></i>
                    See types of clients
                </button>

                <button class="btn-action-add" (click)="toggleDrawerClient()">
                    <i class="fa-solid fa-plus"></i>
                    Add new client
                </button>
            </div>
        </div>

        <app-new-client [isOpen]="drawerOpenClient" [modeDrawer]="drawerAction"
            [client]="drawerInfo"></app-new-client>
        <app-types-clients [isOpen]="drawerOpen"></app-types-clients>

        <div class="c-table">
            <table mat-table [dataSource]="dataSource" matSort class="table-assets">
                <ng-container matColumnDef="image">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Logo</th>
                    <td mat-cell *matCellDef="let element" style="width: 100px;">
                        <img [src]="element.imageBase64" *ngIf="element.imageBase64" alt="Client Image" />
                    </td>
                </ng-container>

                <ng-container matColumnDef="clientName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name of the client </th>
                    <td mat-cell *matCellDef="let element"> {{ element?.nombre }} </td>
                </ng-container>

                <ng-container matColumnDef="clientId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID client</th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element?.clientId else notDataTable"> {{ element.clientId }} </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="typeClient">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Type of client</th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element?.tipoDeCliente?.id else notDataTable"> {{ element?.tipoDeCliente?.tipo }}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="editClient(element)">Edit</button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr *matNoDataRow>
                    <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                        <h5 class="text-center my-5">No results found.</h5>
                    </td>
                </tr>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="tr-table-assets"></tr>
            </table>

            <mat-paginator #paginator class="c-paginator" [length]="totalItems" [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions" (page)="getServerData($event)" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
    </div>
</div>

<ng-template #notData>
    <div class="no-data-found d-flex justify-center">
        <app-message-no-data [message]="'The information could not be loaded.'"></app-message-no-data>
    </div>
</ng-template>

<ng-template #notDataTable>
    <app-message-no-data [message]="'The requested information is not available.'"></app-message-no-data>
</ng-template>