<nav class="c-header border-b-2">
  <!-- <nav class="c-header py-4 border-b-2 mb-2"> -->
  <div class="mx-10 flex justify-between items-center">
    <a href="/home" class="text-white text-sm font-semibold c-version">
      <div class="version">
        Version: {{ version }}
      </div>
      <img src="../../../../assets/svg/logo.svg" alt="Logo" style="width: 120px;">
    </a>
    <ul class="flex titles-header">
      <li class="mx-5"><a routerLink="/home" class="hover:text-gray-300 cursor-pointer"
          [ngClass]="{ 'text-er-orange': routeActive.includes('home') }">Home</a></li>
      <li *ngIf="userInfo?.accessTo == 'BackOffice'" class="mx-5"><a routerLink="/assets/management"
          class="hover:text-gray-300 cursor-pointer"
          [ngClass]="{ 'text-er-orange': routeActive.includes('payments') }">Plants</a></li>
      <li class="mx-5"><a routerLink="/payments" class="hover:text-gray-300 cursor-pointer"
          [ngClass]="{ 'text-er-orange': routeActive.includes('selectPay') }">Payments</a></li>
      <!-- <li class="mx-5"><a matTooltip="En desarrollo..." class="hover:text-gray-300 cursor-pointer"
          >FAQ</a></li> -->
      <!-- <li class="mx-5"><a routerLink="/" class="hover:text-gray-300 cursor-pointer"
          [ngClass]="{ 'text-er-orange': routeActive === 'home' }">FAQ</a></li> -->
    </ul>

    <div class="flex">
      <!--  <button
        class="rounded-full font-thin hover:bg-gray-100 text-gray-800 px-2 py-1.5 inline-flex items-center border mr-3"
        type="button">
        <svg class="fill-current w-4 h-4 mr-2" width="14" height="14" viewBox="0 0 14 14" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <g id="bar-chart-2">
            <path id="Vector" d="M10.5 11.6667V5.83337" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
            <path id="Vector_2" d="M7 11.6667V2.33337" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
            <path id="Vector_3" d="M3.5 11.6666V8.16663" stroke="black" stroke-linecap="round"
              stroke-linejoin="round" />
          </g>
        </svg>
        <span>Automated reporting</span>
      </button> -->
      <!--  <button
        class="rounded-full font-thin hover:bg-gray-100 text-gray-800 px-2 py-1.5 inline-flex items-center border mr-3"
        type="button">
        <svg class="w-4 h-4 mr-2" width="14" height="14" viewBox="0 0 14 14" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <g id="message-square">
            <path id="Vector"
              d="M12.25 8.75C12.25 9.05942 12.1271 9.35616 11.9083 9.57496C11.6895 9.79375 11.3928 9.91667 11.0833 9.91667H4.08333L1.75 12.25V2.91667C1.75 2.60725 1.87292 2.3105 2.09171 2.09171C2.3105 1.87292 2.60725 1.75 2.91667 1.75H11.0833C11.3928 1.75 11.6895 1.87292 11.9083 2.09171C12.1271 2.3105 12.25 2.60725 12.25 2.91667V8.75Z"
              stroke="black" stroke-linecap="round" stroke-linejoin="round" />
          </g>
        </svg>
        <span>Chat</span>
      </button> -->

      <button [matMenuTriggerFor]="menu" mat-icon-button>
        <!-- {{ userInfo?.persona?.nombres }} {{ userInfo?.persona?.apellidos }}
        <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 1 4 4 4-4" />
        </svg> -->
        <mat-icon class="custom-icon-color">account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="signOut()">Sign out</button>
      </mat-menu>
    </div>
  </div>
</nav>