.c-types-clients {
  z-index: 3;

  .c-scroll-table {
    height: calc(100vh - 435px);
  }

  .width-50 {
    width: 50%
  };
}

mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 28px;
}

