<app-details-overview [isOpen]="drawerOpen" [billing]="dataBilling"></app-details-overview>

<div class="c-main  c-billing-overviw">
    <div class="grid md:grid-cols-3 sm:grid-cols-3 gap-x-6 gap-y-4 md:gap-5">
        <div class="col-span-1">
            <div class="content-header">
                <h1 class="label-700-24 ms-0">Billing Overview</h1>
            </div>
        </div>
    </div>

    <div class="separator-cards mt-4 mb-4"></div>

    

    <div class="col-span-1 d-flex align-center justify-end">
        <div class="c-paginator-top">
            <strong>Items</strong>
            <mat-form-field>
                <mat-select [(value)]="pageSizeBilling" (selectionChange)="changePageSize($event, 'billing')">
                    <mat-option *ngFor="let size of pageSizeOptions" [value]="size">
                        <strong>{{ size }}</strong>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="c-scroll-table">
        <div class="table-container-scroll">
            <table mat-table [dataSource]="dataSourceBilling" matSort class="table-content">
                <ng-container matColumnDef="corporateName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div class="target w-24">Corporate name</div>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element?.razonSocial else notDataTable"> {{ element.razonSocial }} </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="month">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div class="target w-24">Month</div>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element?.monthFormatter else notDataTable"> {{ element.monthFormatter }} </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="year">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div class="target w-24">Year</div>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element?.year else notDataTable"> {{ element.year }} </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div class="target w-24">amount</div>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element?.amount else notDataTable"> {{ element.amount }} </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div class="target w-24">Actions</div>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <button class="btn-action-add" (click)="viewDetails(element)">
                            View details
                        </button>
                    </td>
                </ng-container>

                <tr *matNoDataRow>
                    <td class="mat-cell" [attr.colspan]="displayedColumnsBilling.length">
                        <h5 class="text-center my-5">No results found.</h5>
                    </td>
                </tr>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsBilling"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsBilling;" class="tr-table"></tr>
            </table>
        </div>
    </div>

    <mat-paginator #paginatorBilling class="c-paginator" [length]="totalItemsBilling" [pageSize]="pageSizeBilling"
        [pageSizeOptions]="pageSizeOptions" (page)="getServerData($event, 'billing')" showFirstLastButtons
        aria-label="Select page of periodic elements">
    </mat-paginator>

    <div class="grid md:grid-cols-3 sm:grid-cols-3 gap-x-6 gap-y-4 md:gap-5">
        <div class="col-span-1">
            <div class="content-header">
                <h1 class="label-700-24 ms-0">Billing History</h1>
            </div>
        </div>
    </div>

    <div class="separator-cards mt-4 mb-4"></div>

    <div class="col-span-1 d-flex align-center justify-end">
        <div class="c-paginator-top">
            <strong>Items</strong>
            <mat-form-field>
                <mat-select [(value)]="pageSizeHistory" (selectionChange)="changePageSize($event,'history')">
                    <mat-option *ngFor="let size of pageSizeOptions" [value]="size">
                        <strong>{{ size }}</strong>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="c-scroll-table">
        <div class="table-container-scroll">
            <table mat-table [dataSource]="dataSourceHistory" matSort class="table-content">
                <ng-container matColumnDef="corporateName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div class="target w-24">Corporate name</div>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element?.razonSocial else notDataTable"> {{ element.razonSocial }} </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="month">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div class="target w-24">Month</div>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element?.monthFormatter else notDataTable"> {{ element.monthFormatter }} </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="year">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div class="target w-24">Year</div>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element?.year else notDataTable"> {{ element.year }} </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div class="target w-24">amount</div>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element?.amount else notDataTable"> {{ element.amount }} </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div class="target w-24">Actions</div>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <button class="btn-action-add" (click)="viewDetails(element)">
                            View details
                        </button>
                    </td>
                </ng-container>

                <tr *matNoDataRow>
                    <td class="mat-cell" [attr.colspan]="displayedColumnsHistory.length">
                        <h5 class="text-center my-5">No results found.</h5>
                    </td>
                </tr>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsHistory"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsHistory;" class="tr-table"></tr>
            </table>
        </div>
    </div>



    <mat-paginator #paginatorHistory class="c-paginator" [length]="totalItemsHistory" [pageSize]="pageSizeHistory"
        [pageSizeOptions]="pageSizeOptions" (page)="getServerData($event, 'history')" showFirstLastButtons
        aria-label="Select page of periodic elements">
    </mat-paginator>
</div>

<ng-template #notDataTable>
    <app-message-no-data [message]="'The requested information is not available.'"></app-message-no-data>
</ng-template>