<div class="m-6" >
    <div class="stepper-title">
        Proccess calculation
    </div>
    <div class="mt-3">
        <mat-horizontal-stepper linear #stepper >
            <mat-step label="Upload" [completed]="uploadState === 'Success' ? true : uploadState === 'Error' ? 'error' : false">
                <ng-template matStepLabel>
                   <div class="flex">
                        <div  *ngIf="uploadState!='Loading'">
                            <div class="icon-container" [ngClass]="uploadState">
                                <img *ngIf="uploadState=='Initial'" src="../../../../assets/svg/upload_white.svg"  alt="Step Icon">
                                <img *ngIf="uploadState=='Success'" src="../../../../assets/svg/success_white.svg"  alt="Step Icon">

                            </div>
                        </div>
                        <mat-spinner *ngIf="uploadState=='Loading'" diameter="35"></mat-spinner>
                        <div class="flex items-center justify-center">
                            <p class="text-step ">Load</p>
                        </div>
                    </div>
                  </ng-template>
            </mat-step>
            <mat-step label="Validation" [completed]="validationState === 'Success' ? true : validationState === 'Error' ? 'error' : false" >
                <ng-template matStepLabel>
                    <div class="flex">
                        <div *ngIf="validationState!='Loading'">
                            <div class="icon-container" [ngClass]="validationState">
                                <img *ngIf="validationState=='Disabled'"  src="../../../../assets/svg/validation.png"  alt="Step Icon">
                                <img *ngIf="validationState=='Success'" src="../../../../assets/svg/success_white.svg"  alt="Step Icon">
                                <img *ngIf="validationState=='Error'" src="../../../../assets/svg/cancel_white.svg"  alt="Step Icon">
                            </div>
                        </div>
                        <mat-spinner *ngIf="validationState=='Loading'"  diameter="35"></mat-spinner>
                        <div class="flex items-center justify-center">
                            <p class="text-step ">Validation</p>
                        </div>
                    </div>
                  </ng-template>
            </mat-step>
            <mat-step label="Execution" [completed]="executionState === 'Success' ? true : executionState === 'Error' ? 'error' : false" >
                <ng-template matStepLabel>
                    <div class="flex">
                        <div *ngIf="executionState!='Loading'">
                            <div class="icon-container" [ngClass]="executionState">
                                <img *ngIf="executionState=='Disabled'"  src="../../../../assets/svg/execution.svg"  alt="Step Icon">
                                <img *ngIf="executionState=='Success'" src="../../../../assets/svg/success_white.svg"  alt="Step Icon">
                                <img *ngIf="executionState=='Error'" src="../../../../assets/svg/cancel_white.svg"  alt="Step Icon">

                            </div>
                        </div>
                        <mat-spinner *ngIf="executionState=='Loading'"  diameter="35"></mat-spinner>
                        <div class="flex items-center justify-center">
                            <p class="text-step ">Execution</p>
                        </div>
                    </div>
                  </ng-template>
            </mat-step>
            <mat-step label="Result" [completed]="resultState === 'Success' ? true : resultState === 'Error' ? 'error' : false" >
                <ng-template matStepLabel>
                    <div class="flex">
                        <div class="icon-container" [ngClass]="resultState">
                            <img *ngIf="resultState=='Disabled'" src="../../../../assets/svg/result.svg"  alt="Step Icon">
                            <img *ngIf="resultState=='Success'" src="../../../../assets/svg/success_white.svg"  alt="Step Icon">
                        </div>
                        <div class="flex items-center justify-center">
                            <p class="text-step ">Result</p>
                        </div>
                    </div>
                    

                  </ng-template>
            </mat-step>
            
          </mat-horizontal-stepper>
    </div>

    <div *ngIf="errors">
        <div *ngFor="let errorKey of objectKeys(errors)" class="errors w-100 c-card-section mt-6">
            <div class="message-status">
                Errors in scenario: {{errorKey}}
            </div>
            <div *ngFor="let errorMessage of errors[errorKey]">
                <div class="message-status mt-2">
                    {{errorMessage}}
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="processStatus=='Error'" class="message-status my-6">
        Check the errors before trying again.
    </div>
    <div *ngIf="processStatus=='Loading'" class="message-status my-6">
         Your process is in progress, and staying on this page will allow it to complete successfully. 
    </div>
    <div *ngIf="processStatus=='Success'" class="message-status_success my-6">
        Your process has been successfully completed. You can now view your file.

    </div>
    <div>
        <mat-divider></mat-divider>
    </div>
    <div class="flex justify-center my-6">
        <button *ngIf="processStatus=='Loading'" class="btn-cancel" (click)="cancelProccess()">
            Cancel
        </button>
        <button *ngIf="processStatus=='Success'" class="btn-action-add" (click)="completeProccess()">
            Continue
        </button>
        <button *ngIf="processStatus=='Error'" class="btn-action-back" (click)="cancelProccess()">
            Back
        </button>
    </div>
    

</div>