<div class="layout">
  <div class="sidebar" [class.extended]="keepOpen" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <div class="sidebar-content">
      <div class="logo">
        <div href="/home" class="text-white text-sm font-semibold c-version"
          [class.siderbar-hold]="isSidebarHovered && !keepOpen">
          <div class="logo-sidebar">
            <img class="animate-durations logo-white" src="../../../../assets/icons/logo001.svg" alt="Logo">
            <p class="ps-1 animate-durations"
              [ngClass]="{'animate__animated animate__fadeIn': isSidebarHovered && !keepOpen}"
              *ngIf="isSidebarHovered || keepOpen">Energía Real</p>
          </div>

          <img class="icon-extended-menu"
            [ngClass]="{'animate__animated animate__fadeIn': isSidebarHovered && !keepOpen}"
            *ngIf="isSidebarHovered || keepOpen" (click)="keepOpen = !keepOpen"
            [src]="keepOpen ? '../../../assets/icons/closet.svg': '../../../assets/icons/open.svg'">
        </div>
      </div>

      <div class="sidebar-user">
        <img class="animate-durations"
          [ngClass]="{'animate__animated animate__fadeInBottomLeft': isSidebarHovered && !keepOpen}"
          src="../../../../assets/icons/user-profile-icon.svg" alt="User">
        <p class="animate-durations" 
          [ngClass]="{'animate__animated animate__fadeInRight': isSidebarHovered && !keepOpen}"
          *ngIf="isSidebarHovered || keepOpen">
          <span *ngIf="userInfo?.persona"> {{ userInfo.persona.nombres || 'USER' }} {{ userInfo.persona.apellidos || '' }}</span>
        </p>
      </div>

      <div class="linea"></div>
 
      <ul class="flex flex-col titles-header">
        <li *ngFor="let module of modules" class="animate-durations"
          [ngClass]="{'p-0': isSidebarHovered || keepOpen, 'menu-selected': routeActive.includes(module.routePath), 'ps-2': isSidebarHovered || keepOpen}">

          <img
            [src]="'../../../assets/icons/' + (module?.visualHelper ? module.visualHelper.toLowerCase() : 'invoices') + '-icon.svg'"
            [alt]="module.name">

          <a [ngClass]="{
              'show-names': isSidebarHovered || keepOpen,
              'menu-selected': routeActive.includes(module.routePath),
              'animate__animated animate__fadeInRight': isSidebarHovered && !keepOpen
            }"
            [routerLink]="routeActive.includes(module.routePath) ? null : module.routePath"
            class="hover:text-gray-300 cursor-pointer animate-durations">
            {{ module?.translateHelper || module.name| translate }} 
          </a>
        </li>
      </ul>

      <div class="sidebar-footer">
        <div class="linea"></div>
        <!-- <div class="options" [ngClass]="{'p-0': isSidebarHovered || keepOpen}">
          <img src="../../../assets/icons/Assistance-icon.svg" alt="Assistance">
          <p class="animate-durations" [ngClass]="{
            'show-names': isSidebarHovered || keepOpen,
            'animate__animated animate__fadeInRight': isSidebarHovered && !keepOpen
          }">Assistance</p>
        </div> -->
        <div class="options" [ngClass]="{'p-0': isSidebarHovered || keepOpen}">
          <img src="../../../assets/icons/logout-icon.svg" alt="Logout">
          <p (click)="signOut()" class="animate-durations" [ngClass]="{
            'show-names': isSidebarHovered || keepOpen,
            'animate__animated animate__fadeInRight': isSidebarHovered && !keepOpen
          }">Log out</p>
        </div>
      </div>
    </div>
  </div>

  <div class="content" [ngStyle]="{ 'margin-left': keepOpen ? '230px' : '' }">
    <app-header [routeActive]="routeActive" *ngIf="userInfo"></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</div>
