
// COLORS
.color-57B1B1 {
    color: #57B1B1;
}

// INPUTS 
.input-date {
    height: 40px !important;
    .mat-mdc-form-field-flex {
        height: 40px !important;
        .mdc-text-field--outlined .mdc-notched-outline{
            height: 40px !important;

            > div .mat-mdc-form-field-infix {
                padding: 8px 0 !important;
            }
        }
    }
}


// Fonts 
.font-32-400 {
    font-size: 32px;
    font-weight: 400;
    color: #000000;
}

.font-12-400 {
    font-size: 12px;
    font-weight: 500;
    color: #000000;
    line-height: 16px;
    span {
        font-weight: 400;
    }
}