// COLORS
.color-57B1B1 {
    color: #57B1B1;
}

.color-EE5427 {
    color: #EE5427;
}

// INPUTS 
.input-date {
    height: 40px !important;
    width: 100%;

    .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
        border: none !important;
    }

    .mat-mdc-text-field-wrapper {
        padding: 0;
        border: none !important;
    }

    .mat-mdc-form-field-infix {
        height: 41px !important;
        min-height: unset !important;
    }

    .mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
        display: none!important;
    }

    .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-icon-prefix,
    .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-text-prefix,
    .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-icon-suffix,
    .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-text-suffix {
        padding: 0 !important;
        width: 25px!important;
        margin-bottom: 8px!important;
    }

    .mat-mdc-form-field-flex {
        height: 40px !important;
        .mdc-text-field--outlined .mdc-notched-outline {
            height: 40px !important;
            > div .mat-mdc-form-field-infix {
                padding: 8px 0 !important;
            }
        }
    }
}

.input-select {
    height: 40px !important;
    width: 100%;


   .mat-mdc-text-field-wrapper {
        padding: 0!important;
        border: none!important;
    }

    
    .mat-mdc-form-field-infix {
        height: 41px !important;
        min-height: unset !important;
    }
}

.inputNewRegister {
    width: 100% !important;
    margin-bottom: 20px;

    .mat-focused {
        background: white !important;
    }

    .mat-mdc-form-field-flex {
        border-radius: 8px !important;
        background: white !important;

    }

    mat-label {
        font-size: 15px;
        font-weight: 500;
        line-height: 21px;
        color: #646878;
    }

    button {
        color: rgb(40 40 40);
    }

    span {
        color: rgb(40 40 40);
    }

    >div:nth-child(1) {
        background: white !important;
        border-radius: 10px;
        padding: 0 !important;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 2px 3px 0 rgba(0, 0, 0, .1);
        // box-shadow: 4px 4px 4px 0px #00000040!important;
    }
}


// Fonts 
.font-32-400 {
    font-size: 32px;
    font-weight: 400;
    color: #000000;
}

.font-12-400 {
    font-size: 12px;
    font-weight: 500;
    color: #000000;
    line-height: 16px;

    span {
        font-weight: 400;
    }
}


// BTNS 
.btn-action-add {
    background: #f56e46 !important;
    color: white !important;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .5px;
    padding: 5px 15px !important;
    box-shadow: 3px 4px 4px 0px #00000040;
    border-radius: 100px !important;
    border: none !important;
    display: flex;
    align-items: center;
    gap: 5px;

    i {
        font-size: 18px;
        margin: 0;
        padding: 0;
        width: 18px;
        height: 18px;
    }
}

.btn-action-cancel {
    background: #a7a7a7 !important;
    color: white !important;
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: 500;
    padding: 5px 15px !important;
    box-shadow: 3px 4px 4px 0px #00000040;
    border-radius: 100px !important;
    border: none !important;
}