// TABLE 
.header-table {
    background: #F8F8F8 !important;
    padding: 4px !important;
    border-radius: 8px;
    color: #792430;
    font-weight: 500;
    font-size: 12px;
    border: 1px solid #EDEDED;
    text-align: center;
}

.column-ipervinculo {
    cursor: pointer;
    color: #F97316;
}

.column-ipervinculo:hover {
    font-weight: 600;
}


.guion-click {
    td {
        div {
            cursor: pointer;

        }
    }
}

.c-table {
    max-width: 100%;
    overflow-y: auto;

    .header-table {
        margin: 0;
        line-height: 15px;
    }

    .table-content {
        border-collapse: separate;
        border-spacing: 0 1em !important;
        font-size: 11px;

        thead tr,
        th {
            border: none;
            color: #792430;
            line-height: 18px;
            vertical-align: top;
            padding-top: 15px;
            padding-right: 0px;
            padding-left: 15px;


            .target {
                background-color: #F8F8F8;
                padding: 4px 8px;
                border-radius: 8px;
                border: 1px solid #EDEDED !important;
                font-size: 10px;
                line-height: 13px;
            }
        }
    }
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
    display: inline-block;
    vertical-align: middle;
}

.column-check-content {
    display: flex !important;
    align-items: center !important;
    padding-left: 0 !important;
    justify-content: start;

    p {
        margin: 0;
    }
}



.column-wifi-icon {
    width: 170px;

    .green {
        color: #33A02C;
    }

    .red {
        color: #E31A1C;
    }
}

.column-availability {
    display: flex;
    flex-direction: column;

    .green {
        background: #33A02C;
    }

    .red {
        background: #E31A1C;
    }

    >div:nth-child(1) {
        width: 50px;
        gap: 5px;
        display: flex;
        margin: auto;
        margin-bottom: 8px !important;

        h1 {
            margin: 0;
            font-size: 14px;
            color: #000000;
            font-weight: 500;
            line-height: 13px;
        }
    }

    >div:nth-child(2) {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        >div {
            width: 60px;
            height: 18px;
            border-radius: 4px;
            font-size: 11px;
            line-height: 13px;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        }

        >div:nth-child(1) {
            background: #33A02C;
        }

        >div:nth-child(2) {
            background: #E31A1C;
        }

        >div:nth-child(3) {
            background: #999999;
            color: #595959;
        }
    }
}

.column-icon-porcentage {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;

    .green {
        background: #33A02C;
    }

    .red {
        background: #E31A1C;
    }

    h1 {
        font-size: 14px;
        color: #000000;
        font-weight: 500;
        line-height: 13px;
        margin: 0;
    }

    span {
        margin: unset!important;
    }
}

.column-extend {
    width: 170px;
}

.column-status {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #E0E0E0;
}

.column-status-created {
    color: #E0E0E0;
}

.column-status-edited {
    color: #FDBF6F;
}

.column-status-confirmed {
    color: #33A02C;
}

.column-status-pending {
    color: #E31A1C;
}

.column-maps {
    width: 170px;

    a {
        width: 170px;
    }
}

.tr-table {
    td {
        border-top-width: 1px;
        border-bottom-width: 1px;
        background-color: #F9F9F9;
        padding: 12px 15px;
        text-align: center;

        >div {
            font-weight: 500 !important;
            font-size: 14px;
        }

        &:first-child {
            border-radius: 16px 0 0 16px;
            border-color: #D2D2D2;
            border-left-width: 1px;
        }

        &:last-child {
            border-radius: 0 16px 16px 0;
            border-color: #D2D2D2;
            border-right-width: 1px;
        }
    }

    &:nth-child(even) {
        td {
            background-color: #FFF;
        }
    }
}

.button-create-asset {
    border: 1px solid;
    background: transparent;
    border-radius: 24px;
    padding: 10px 24px;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: #D2D2D2;
}

.plant-cards {
    >div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
            line-height: unset;
        }
    }
}

.column-pay {
    background: #792430;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #EDEDED;
    padding: 4px 8px;
    cursor: pointer;
}


.column-content-orange {
    color: #FF4713;
    border-bottom: 1px solid #FF4713;
    line-height: 14px;
    text-align: center;
}

.c-scroll-table {
    height: calc(100vh - 315px);
    overflow: scroll;
}

.table-container-scroll {
    width: 100%;
    height: calc(100vh - 380px);
    margin-bottom: 0 !important;
    margin-top: 0 !important;

    .header-table {
        margin: 0;
        line-height: 15px;
    }

    .table-content {
        border-collapse: separate;
        border-spacing: 0 1em !important;
        font-size: 11px;

        thead tr,
        th {
            border: none;
            color: #792430;
            line-height: 18px;
            vertical-align: top;
            padding-top: 15px;
            padding-right: 0px;
            padding-left: 15px;

            .target {
                background-color: #F8F8F8;
                padding: 4px 8px;
                border-radius: 8px;
                border: 1px solid #EDEDED !important;
                font-size: 10px;
                line-height: 13px;
            }
        }
    }

    thead {
        position: sticky;
        margin-bottom: 10px;
        left: -1px;
        top: 0;
        z-index: 1;
        background-color: white;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1),
            0px 1px 3px rgba(0, 0, 0, 0.06);
    }

    td {
        font-weight: 500;
    }

    .ms-edge thead {
        position: -webkit-sticky;
    }

    .mat-table {
        width: 100%;
    }

    .mat-table td,
    .mat-table th {
        padding: 8px;
    }

    .header-table {
        margin: 0;
        line-height: 18px;
    }

    .state-column {
        width: 60px;
        min-width: 60px;
        max-width: 60px;
    }

    .state-table {
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        text-align: center;
        margin: auto;
    }
}

.state-excelent {
    background-color: #57B1B1;
}

.state-good {
    background-color: #57B15F;
}

.state-average {
    background: #B6BE4A;
}

.state-poor {
    background: #F97316;
}

.state-worst {
    background: #E40000;
}

.state-error {
    background: #A0A0A0;
}


// INPUTS 
.c-table-energy-input {
    position: relative;
    margin-bottom: 0 !important;
    padding-top: 22.4px;

    .mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input,
    .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
        width: 80% !important;
    }

    span {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;
        font-weight: 500;
    }
}



