// TABLE 
.header-table {
    background: #F8F8F8!important;
    padding: 4px!important;
    border-radius: 8px;
    color: #792430;
    font-weight: 500;
    font-size: 12px;
    border: 1px solid #EDEDED;
    text-align: center;
}

.column-ipervinculo {
    cursor: pointer;
}

.column-ipervinculo:hover {
    font-weight: 500;
}

.c-table {
	max-width: 100%;
	overflow-y: auto;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    display: inline-block;
    vertical-align: middle;
  }