<main class="grid grid-cols-2 md:grid-cols-2 gap-x-6 gap-y-4 md:gap-5 c-home c-main">
    <div class="col-span-2 md:col-span-1">
        <div class="c-card-section c-saving-details">
            <h2 class="text-er-orange text-base font-normal">Savings Details</h2>
            <div class="grid md:grid-cols-4 gap-3 text-center div-groups-saving">
                <div>
                    <h2 *ngIf="savingsDetails?.totalEnergyConsumption else notDataTable"> {{
                        savingsDetails.totalEnergyConsumption }} <br> <span>kWh</span> </h2>
                    <p>Total Energy <br> Consumption</p>
                    <div class="linea"></div>
                </div>
                <div>
                    <h2 *ngIf="savingsDetails?.totalEnergyProduction else notDataTable"> {{
                        savingsDetails.totalEnergyProduction }} <br> <span>kWh</span></h2>
                    <p>Total Energy <br> Production</p>
                    <div class="linea"></div>
                </div>
                <div>
                    <div>
                        <h2 class="mb-2" *ngIf="savingsDetails?.cfeCostWithoutSolar else notDataTable">
                            ${{ savingsDetails.cfeCostWithoutSolar }} <br>
                        </h2>
                        <p>CFE Cost without Solar</p>
                        <div class="linea"></div>
                    </div>
                </div>
                <div class="total-saving">
                    <h2 *ngIf="savingsDetails?.totalSavings else notDataTable">
                        ${{ savingsDetails.totalSavings }} <br>
                    </h2>
                    <p>Total Savings </p>
                </div>
            </div>
        </div>

        <div class="c-solar-co2">
            <div class="c-card-section solar-coverage">
                <div>
                    <img src="../../../../assets/icons/solar-coverage.png" alt="">
                    <h2 class="text-er-orange text-base font-normal">Solar Coverage</h2>
                    <p>{{ solarCoverage }}%</p>
                </div>
            </div>

            <div class="c-card-section co2">
                <div>
                    <div class="title-left">
                        <h1>CO2 Saving</h1>
                        <div>
                            <h2>{{co2Saving?.co2_saving_tCO2}}</h2>
                            <h3> tCO2</h3>
                        </div>
                    </div>

                    <div class="title-right">
                        <div class="left">
                            <img src="../../../../assets/icons/equivalent.svg" alt="">
                            <h2 class="text-base font-normal">Equivalent to {{co2Saving?.tree_equivalent}} trees</h2>
                        </div>

                        <div>
                            <img src="../../../../assets/icons/eletric.svg" alt="">
                            <h2 class="text-base font-normal">Equivalent to {{co2Saving?.ev_charges_equivalent}} <br> electric car full charges.</h2>
                        </div>
                    </div>
                </div>

                <div class="bar-progresss">
                    <h1>kWh /m / anual</h1>

                    <div class="w-full barr h-6 bg-gray-200 rounded-full dark:bg-gray-700">
                        <div class="h-6 bg-blue-600 rounded-full dark:bg-blue-500" [ngStyle]="{ width: co2Progress }"></div>
                    </div>

                    <h2>Peers: 117 kWh /m</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="col-span-2 md:col-span-1">
        <div class="c-card-section economic-savings flex flex-col">
            <h2 class="text-er-orange text-base font-normal h-10">Economic savings</h2>
            <div class="d-flex c-graphic-performance justify-center align-center text-center flex-1">
                <div class="graphic-performance relative h-full w-full flex items-center">
                    <canvas id="economicSavingsChart" baseChart [type]="'bar'" [data]="lineChartDataES"
                        [options]="lineChartOptionsES">
                    </canvas>
                    <div class="absolute top-1/2 right-0 transform -translate-y-1/2 w-[200px] h-[200px] p-4">
                        <div *ngFor="let label of labels" class="flex items-center">
                            <span class="dot rounded-full " [ngStyle]="{ 'background-color': label.color }">
                            </span>
                            <div class="pl-2">
                                {{ label.text }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-span-2 md:col-span-2">
        <div class="separator-cards"></div>
    </div>

    <div class="col-span-2 md:col-span-1">
        <div class="c-card-section c-plants">
            <div class="c-section-plant">
                <h2 class="text-er-orange text-base font-normal">Plants</h2>
                <span class="color-57B1B1 material-symbols-outlined"
                    matTooltip="This map is for informational purposes only and shows general data by region.">info</span>
            </div>
            <div class="flex gap-4 items-stretch">
                <app-mapa class="flex-1"></app-mapa>
                <div class="legend-container">
                    <div class="color-bar flex flex-col justify-between h-full">
                        <div *ngFor="let item of [0, 1, 2, 3, 4]; let i = index"
                            class="c-division flex items-center justify-center h-full">
                            <div class="division "></div>
                        </div>
                    </div>
                    <div class="labels">
                        <div>+6000 kW</div>
                        <div>4500 kW</div>
                        <div>3000 kW</div>
                        <div>1500 kW</div>
                        <div>0 kW</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-span-2 md:col-span-1 pt-55">
        <div class="c-graph">
            <div class="graph">
                <canvas baseChart [type]="'bar'" [data]="lineChartData" height="195" [options]="lineChartOptions">
                </canvas>
            </div>
        </div>
    </div>


    <div class="col-span-2 md:col-span-2">
        <div class="c-card-section">
            <div class="d-flex justify-content-center align-center text-center">
                <div class="table-container-scroll mt-3 mb-5">
                    <table mat-table [dataSource]="dataSource" matSort>
                        <caption></caption>

                        <ng-container matColumnDef="siteName">
                            <th mat-header-cell *matHeaderCellDef class="ps-0">
                                <div class="column-check-content">
                                    <mat-checkbox class="check-color" (change)="$event ? toggleAllRows() : null"
                                        [checked]="selection.hasValue() && isAllSelected() || allRowsInit"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                                        [aria-label]="checkboxLabel()">
                                    </mat-checkbox>
                                    <p class="header-table" mat-sort-header>Site name</p>
                                </div>
                            </th>

                            <td mat-cell *matCellDef="let element" class="column-ipervinculo ps-0"
                                (click)="goDetails(element.plantId)">
                                <div class="column-check-content">
                                    <mat-checkbox class="check-color" (click)="$event.stopPropagation()"
                                        (change)="$event ? toggleRow(element) : null"
                                        [checked]="selection.isSelected(element) ||allRowsInit"
                                        [aria-label]="checkboxLabel(element)">
                                    </mat-checkbox>

                                    <p> {{ element.siteName }}</p>
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="energyProduction">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                <p class="header-table">Energy Production</p>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div *ngIf="element?.energyProduction else notDataTable"> {{ element.energyProduction }}
                                    kWh
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="energyConsumption">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                <p class="header-table">Energy Consumption</p>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div *ngIf="element?.energyConsumption else notDataTable"> {{ element.energyConsumption
                                    }} kWh
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="solarCoverage">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                <p class="header-table">% Solar Coverage</p>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div *ngIf="element?.solarCoverage else notDataTable"> {{ element.solarCoverage }}%
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="co2Saving">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                <p class="header-table">tCO2 Savings</p>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div *ngIf="element?.co2Saving else notDataTable"> {{ element.co2Saving }} </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="siteStatus">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                <p class="header-table">Site Status</p>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="table-icon" *ngIf="element.siteStatus=='Active'">
                                    <mat-icon matTooltip="Active" class="table-check">radio_button_checked</mat-icon>
                                </div>
                                <div class="table-icon" *ngIf="element.siteStatus=='Defaulter'">
                                    <mat-icon matTooltip="Defaulter" class="table-alert">warning</mat-icon>
                                </div>
                                <div class="table-icon" *ngIf="element.siteStatus=='Under Construction'">
                                    <mat-icon matTooltip="Under Construction"
                                        class="table-builder">engineering</mat-icon>
                                </div>
                                <div class="table-icon" *ngIf="element.siteStatus=='Under Permitting Process'">
                                    <mat-icon matTooltip="Under Permitting Process"
                                        class="table-under-construction">assignment</mat-icon>
                                </div>
                                <div class="table-icon" *ngIf="element.siteStatus=='Without Off-Taker'">
                                    <mat-icon matTooltip="Without Off-Taker"
                                        class="table-whitout-off-tacker">person_off</mat-icon>
                                </div>
                                <div class="table-icon" *ngIf="element.siteStatus==null">
                                    <mat-icon matTooltip="Unknown status">help_outline</mat-icon>
                                </div>
                            </td>
                        </ng-container>

                        <tr *matNoDataRow>
                            <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                                <h5 class="text-center my-5">No results found.</h5>
                            </td>
                        </tr>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<app-footer></app-footer>

<ng-template #notDataTable>
    <app-message-no-data [message]="'The requested information is not available.'"></app-message-no-data>
</ng-template>