<app-layout routeActive="/home"></app-layout>
<main class="px-10 pt-10 grid md:grid-cols-2 md:gap-4 c-home p-top-main">
    <div style="height: calc(100vh - 100px);">
        <div class="c-client-list">
            <button mat-stroked-button *ngFor="let client of dataClientsList; let first = first; ">
                <mat-icon *ngIf="first">favorite</mat-icon>
                {{ client.nombre }}
            </button>
        </div>

        <div class="c-card-section c-card-section-m">
            <h2 class="text-er-orange text-base font-normal" i18n>Solar Coverage & CO2 Savings</h2>
            <div class="grid md:grid-cols-4 gap-4 text-center div-groups">
                <div>
                    <span class="material-symbols-outlined color-EE5427" matTooltip="Comming soon.">
                        hourglass_top
                    </span>
                </div>
                <div>
                    <span class="material-symbols-outlined color-EE5427" matTooltip="Comming soon.">
                        hourglass_top
                    </span>
                </div>
            </div>
        </div>

        <div class="c-card-section">
            <h2 class="text-er-orange text-base font-normal" i18n>Savings Details</h2>
            <div class="grid md:grid-cols-4 gap-4 text-center div-groups">
                <div>
                    <h2 *ngIf="savingsDetails?.totalEnergyConsumption else notDataTable"> {{
                        savingsDetails.totalEnergyConsumption }} <br> kWh</h2>
                    <p class="text-sm" i18n>Total Energy <br> Consumption</p>
                </div>
                <div>
                    <h2 *ngIf="savingsDetails?.totalEnergyProduction else notDataTable"> {{
                        savingsDetails.totalEnergyProduction }} <br> kWh</h2>
                    <p class="text-sm" i18n>Energy <br> Production</p>
                </div>
                <div>
                    <div style="border: none;" [ngClass]="{'c-comming-soon': savingsDetails?.totalEnergyConsumption}">
                        <span class="material-symbols-outlined color-EE5427" matTooltip="Comming soon.">
                            hourglass_top
                        </span>
                    </div>

                    <p class="text-sm" i18n>CFE <br> Cost without Solar</p>
                </div>
                <div>
                    <div style="border: none;" [ngClass]="{'c-comming-soon': savingsDetails?.totalEnergyConsumption}">
                        <span class="material-symbols-outlined color-EE5427" matTooltip="Comming soon.">
                            hourglass_top
                        </span>
                    </div>

                    <p class="text-sm" i18n>Total <br> Saving</p>
                </div>
            </div>
        </div>

        <div class="c-graph">
            <!-- <div class="flex justify-end">
                <button mat-stroked-button>
                    Export PDF Report
                    <mat-icon>favorite</mat-icon>
                </button>
            </div> -->

            <div class="graph">
                <canvas baseChart [type]="'bar'" [data]="lineChartData" [options]="lineChartOptions">
                </canvas>
            </div>
        </div>
    </div>

    <div class="table-container-scroll mt-3 mb-5">
        <div class="row c-filters">
            <div class="col-md-4 col-sm-4">
                <mat-button-toggle-group [formControl]="dayOrMount" class="input-toggle" name="fontStyle"
                    aria-label="Font Style">
                    <mat-button-toggle value="day">day</mat-button-toggle>
                    <mat-button-toggle value="month">month</mat-button-toggle>
                </mat-button-toggle-group>
            </div>

            <div class="col-md-8 col-sm-8">
                <div class="c-input" *ngIf="dayOrMount.value == 'month'">
                    <mat-form-field class="select-mount" appearance="outline">
                        <mat-select placeholder="Start date - End date" [(value)]="selectedMonths" multiple
                            (selectionChange)="onSelectionChange($event)">
                            <mat-option *ngFor="let month of months" [value]="month.value"
                                [disabled]="isDisabled(month.value)">
                                {{ month.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <form [formGroup]="formFilters" *ngIf="dayOrMount.value == 'day'">
                    <mat-form-field appearance="outline" class="input-date">
                        <mat-date-range-input [rangePicker]="date"
                            [comparisonStart]="formFilters.value['rangeDateStart']"
                            [comparisonEnd]="formFilters.value['rangeDateEnd']">
                            <input matStartDate placeholder="Start date" formControlName="rangeDateStart" />
                            <input matEndDate placeholder="End date" formControlName="rangeDateEnd" />
                        </mat-date-range-input>

                        <mat-datepicker-toggle matIconSuffix [for]="date"></mat-datepicker-toggle>
                        <mat-date-range-picker #date></mat-date-range-picker>
                    </mat-form-field>
                </form>

                <button [disabled]="!searchFilters" [matTooltip]="!searchFilters ? 'Select date.' : ''"
                    class="btn-action-add" (click)="searchWithFilters()">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>

        <table mat-table [dataSource]="dataSource" matSort>
            <caption></caption>

            <ng-container matColumnDef="siteName">
                <th mat-header-cell *matHeaderCellDef class="ps-0">
                    <div class="column-check-content">
                        <mat-checkbox class="check-color" (change)="$event ? toggleAllRows() : null"
                            [checked]="selection.hasValue() && isAllSelected() || allRowsInit"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                        <p class="header-table" mat-sort-header>Site name</p>
                    </div>
                </th>
                <td mat-cell *matCellDef="let element" class="column-ipervinculo ps-0"
                    (click)="goDetails(element.siteId)">
                    <div class="column-check-content">
                        <mat-checkbox class="check-color" (click)="$event.stopPropagation()"
                            (change)="$event ? toggleRow(element) : null"
                            [checked]="selection.isSelected(element) ||allRowsInit"
                            [aria-label]="checkboxLabel(element)">
                        </mat-checkbox>

                        <p> {{ element.siteName }}</p>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="energyConsumption">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <p class="header-table">Energy Production</p>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element?.energyProduction else notDataTable"> {{ element.energyProduction }} kWh
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="energyProduction">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <p class="header-table">Energy Consumption</p>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element?.energyConsumption else notDataTable"> {{ element.energyConsumption }} kWh
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="solarCoverage">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <p class="header-table">% Solar Coverage</p>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element?.solarCoverage else notDataTable"> {{ element.solarCoverage }}% </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="co2Saving">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <p class="header-table">tCO2 Savings</p>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element?.co2Saving else notDataTable"> {{ element.co2Saving }} </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="siteStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <p class="header-table">Site Status</p>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div class="table-icon" *ngIf="element.siteStatus=='Active'">
                        <mat-icon matTooltip="Active" class="table-check">radio_button_checked</mat-icon>
                    </div>
                    <div class="table-icon" *ngIf="element.siteStatus=='Defaulter'">
                        <mat-icon matTooltip="Defaulter" class="table-alert">warning</mat-icon>
                    </div>
                    <div class="table-icon" *ngIf="element.siteStatus=='Under Construction'">
                        <mat-icon matTooltip="Under Construction" class="table-builder">engineering</mat-icon>
                    </div>
                    <div class="table-icon" *ngIf="element.siteStatus=='Under Permitting Process'">
                        <mat-icon matTooltip="Under Permitting Process"
                            class="table-under-construction">assignment</mat-icon>
                    </div>
                    <div class="table-icon" *ngIf="element.siteStatus=='Without Off-Taker'">
                        <mat-icon matTooltip="Without Off-Taker" class="table-whitout-off-tacker">person_off</mat-icon>
                    </div>
                    <div class="table-icon" *ngIf="element.siteStatus==null">
                        <mat-icon matTooltip="Unknown status">help_outline</mat-icon>
                    </div>
                </td>
            </ng-container>

            <tr *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                    <h5 class="text-center my-5">No results found.</h5>
                </td>
            </tr>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
        </table>
    </div>


</main>

<ng-template #notDataTable>
    <app-message-no-data [message]="'The requested information is not available.'"></app-message-no-data>
</ng-template>