.c-home {
  .mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 28px;
  }

  .text-sm {
    margin-top: 5px;
    line-height: 15px
  }

  .c-card-section {
    margin-top: 10px;
  }

  .c-card-section-m {
    margin-top: 18px;
  }

  .logo-merco {
    width: 20px;
    height: 20px;

    img {
      width: 20px;
      height: 20px;
      padding-bottom: 2px;
    }
  }

  .c-client-list {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;

    .mdc-button__label {
      display: flex;
      align-items: center;
      gap: 10px;
    }


    button {
      min-width: 120px;
    }
  }

  .c-filters {
    height: 46px;

    .col-md-8 {

      display: flex;
      justify-content: end;
      gap: 15px;

      .c-input,
      form {
        width: 50%;
        display: flex;
      }

      >button {
        gap: 0;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }



  .c-graph {
    margin-top: 10px;

    >.row {
      // margin-bottom: 11px;
      display: flex;
      justify-content: flex-end;
    }

    .graph {
      // height: 690px;
      // height: calc(100vh - 155px);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

    }

    highcharts-chart {
      height: 670px;
    }
  }

  .table-container-scroll {
    overflow-y: auto;
    height: calc(100vh - 190px);
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    overflow-x: hidden;

    thead {
      position: sticky;
      margin-bottom: 10px;
      top: 0;
      z-index: 1;
      background-color: white;
    }

    th {
      height: 65px;
    }

    .ms-edge thead {
      position: -webkit-sticky;
    }

    .mat-table {
      width: 100%;
    }

    .mat-table td,
    .mat-table th {
      padding: 8px;
    }

    .header-table {
      margin: 0;
      line-height: 18px;
    }
  }

  .custom-column {
    width: 50px !important;
  }

  .flex-center {
    display: flex;
    justify-content: center;
  }
}