.c-home {
  .mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 28px;
  }

  .text-sm {
    margin-top: 5px;
    line-height: 15px
  }

  .c-card-section {
    // margin-top: 24px;
    padding: 25px 15px;

    >h2 {
      font-size: 16px;
      font-weight: 700;
    }

    .div-groups-saving {

      :nth-child(3) {
        >div {
          width: 90% !important;
        }
      }

      :nth-child(3),
      :nth-child(4) {
        h2 {
          margin-bottom: 32px !important;
        }
      }

      .total-saving {

        h1,
        p {
          color: #57B1B1 !important;
        }
      }

      >div {
        border-right-width: none !important;
        position: relative;

        h2 {
          font-size: 17.5px !important;
          font-weight: 500;
          margin-bottom: 10px !important;

          span {
            font-size: 12px;
            font-weight: 500;
          }
        }

        p {
          margin-top: 8px;
          font-size: 12px;
          font-weight: 500;
          line-height: 14px;
        }

        .linea {
          width: 1px;
          height: 34px;
          background: #CFCFCF;
          position: absolute;
          right: 0;
          top: 16px;
        }
      }
    }
  }

  .solar-coverage {
    width: 212px;
    height: 232px;
    display: flex;
    margin-top: 24px;
    align-items: center;
    justify-content: center;


    >div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        margin-bottom: 10px;
      }

      h2 {
        margin-bottom: 16px;
        font-size: 16px;
        font-weight: 700;
        color: #EE5427;
      }

      p {
        margin: 0;
        font-size: 26px;
        font-weight: 700;
      }
    }
  }


  .logo-merco {
    width: 20px;
    height: 20px;

    img {
      width: 20px;
      height: 20px;
      padding-bottom: 2px;
    }
  }

  .c-mapa {
    border: 0px solid #E5E7EB !important;
  }

  .c-client-list {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;

    .mdc-button__label {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    a {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 80px;
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      text-align: left;
    }

    button {
      min-width: 120px;
    }
  }

  .c-filters {
    height: 46px;

    .col-md-8 {

      display: flex;
      justify-content: end;
      gap: 15px;

      .c-input,
      form {
        width: 50%;
        display: flex;
      }

      >button {
        gap: 0;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .c-graph {
    >.row {
      display: flex;
      justify-content: flex-end;
    }

    .graph {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

    }

    highcharts-chart {
      height: 670px;
    }
  }

  .table-container-scroll {
    overflow-y: auto;
    height: calc(100vh - 150px);
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    overflow-x: hidden;

    thead {
      position: sticky;
      margin-bottom: 10px;
      top: 0;
      z-index: 1;
      background-color: white;
    }

    th {
      height: 65px;
    }

    .ms-edge thead {
      position: -webkit-sticky;
    }

    .mat-table {
      width: 100%;
    }

    .mat-table td,
    .mat-table th {
      padding: 8px;
    }

    .header-table {
      margin: 0;
      line-height: 18px;
    }
  }

  .custom-column {
    width: 50px !important;
  }

  .flex-center {
    display: flex;
    justify-content: center;
  }
}