.c-home {
  .mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 28px;
  }

  .text-sm {
    margin-top: 5px;
    line-height: 15px
  }


  .c-client-list {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;

    button {
      min-width: 120px;
    }
  }

  .c-filters {
    height: 46px;

    .col-md-8 {

      display: flex;
      justify-content: end;
      gap: 15px;

      .c-input, form {
        width: 50%;
        display: flex;
      }

      button {
        gap: 0;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .c-graph {
    >.row {
      // margin-bottom: 11px;
      display: flex;
      justify-content: flex-end;
    }

    .graph {
      height: 690px;
    }

    highcharts-chart {
      height: 670px;
    }
  }

  .table-container-scroll {
    max-height: 400px;
    overflow-y: auto;

    thead {
      position: sticky;
      margin-bottom: 10px;
      top: 0;
      z-index: 1;
      background-color: white;
    }

    th {
      height: 65px;
    }

    .ms-edge thead {
      position: -webkit-sticky;
    }

    .mat-table {
      width: 100%;
    }

    .mat-table td,
    .mat-table th {
      padding: 8px;
    }

    .header-table {
      margin: 0;
      line-height: 18px;
    }
  }


}