<app-layout routeActive="/"></app-layout>
<main *ngIf="!showLoader" class="px-10 pt-10 grid md:grid-cols-2 md:gap-4 c-home">
    <div>
        <div class="c-client-list">

            <button mat-stroked-button *ngFor="let client of dataClientsList; let first = first; ">
                <mat-icon *ngIf="first">favorite</mat-icon>
                {{ client.nombre }}
            </button>
        </div>

        <div class="px-8 py-4 mt-4 rounded-3xl border-2">
            <h2 class="text-er-orange text-base font-normal" i18n>Solar Coverage & CO2 Savings</h2>
            <div class="grid md:grid-cols-4 gap-4 text-center div-groups">
                <div>
                    <h1 class="m-0 important">N/A</h1>
                </div>
                <div>
                    <h1 class="m-0">N/A <span class="text-sm" i18n></span></h1>
                    <!-- <h1 class="m-0">11.8 <span class="text-sm" i18n>tCO2</span></h1> -->
                </div>
            </div>
        </div>
        <div class="px-8 py-4 mt-4 rounded-3xl border-2">
            <h2 class="text-er-orange text-base font-normal" i18n>Savings Details</h2>
            <div class="grid md:grid-cols-4 gap-4 text-center div-groups">
                <div>
                    <h1>{{ savingsDetails.totalEnergyConsumption}}</h1>
                    <p class="text-sm" i18n>Total Energy Consumption</p>
                </div>
                <div>
                    <h1>{{ savingsDetails.totalEnergyProduction}}</h1>
                    <p class="text-sm" i18n>Energy Production</p>
                </div>
                <div>
                    <h1>N/A</h1>
                    <p class="text-sm" i18n>CFE Cost without Solar</p>
                </div>
                <div>
                    <h1 class="color-57B1B1">N/A</h1>
                    <p class="text-sm" i18n>Total Saving</p>
                </div>
            </div>
        </div>
        
        <div class="table-container-scroll mt-4 mb-5">
            <table mat-table [dataSource]="dataSource">
                <caption></caption>
    
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox class="check-color" (change)="$event ? toggleAllRows() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox class="check-color" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>
    
                <ng-container matColumnDef="siteName">
                    <th mat-header-cell *matHeaderCellDef ><p class="header-table">Site name</p></th>
                    <td mat-cell *matCellDef="let element" class="column-ipervinculo" (click)="goDetails(element.siteId)"> {{ element.siteName }} </td>
                </ng-container>
    
                <ng-container matColumnDef="energyConsumption">
                    <th mat-header-cell *matHeaderCellDef><p class="header-table">Energy Production</p> </th>
                    <td mat-cell *matCellDef="let element"> {{ element.energyProduction }} </td>
                </ng-container>
    
                <ng-container matColumnDef="energyProduction">
                    <th mat-header-cell *matHeaderCellDef> <p class="header-table">Energy Consumption</p></th>
                    <td mat-cell *matCellDef="let element"> {{ element.energyConsumption }} </td>
                </ng-container>
    
                <ng-container matColumnDef="solarCoverage">
                    <th mat-header-cell *matHeaderCellDef> <p class="header-table">tCO2 Savings</p></th>
                    <td mat-cell *matCellDef="let element"> {{ element.solarCoverage }} </td>
                </ng-container>
                
                <ng-container matColumnDef="co2Saving">
                    <th mat-header-cell *matHeaderCellDef> <p class="header-table">tCO2 Savings</p></th>
                    <td mat-cell *matCellDef="let element"> {{ element.co2Saving }} </td>
                </ng-container>
    
                <tr *matNoDataRow>
                    <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                        <h5 class="text-center my-5">No se encontraron resultados.</h5>
                    </td>
                </tr>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
            </table>
        </div>
    </div>
    
    <div class="h-max">
        <div class="flex justify-end">
            <button mat-stroked-button>
                Export PDF Report
                <mat-icon>favorite</mat-icon>
            </button>
        </div>

        <div class="row mt-3 mb-5">
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="input-date">
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Start date">
                        <input matEndDate placeholder="End date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="picker" [disableRipple]="true"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </div>
            <div class="col-md-3 d-flex justify-content-start">
                <mat-form-field floatLabel="always" appearance="outline" class="input-select">
                    <mat-select placeholder="Group View">
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div>
            <highcharts-chart 
                [Highcharts]="Highcharts"
                [options]="chartOptions"
                class="h-max w-full block">
            </highcharts-chart>
        </div>
    </div>
</main>