.search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-60%);
  cursor: pointer;
  width: 24px;
  height: auto;
}

.table-assets {
  border-collapse: separate;
  border-spacing: 0 1em;
  font-size: 11px;
  thead tr, th {
    border: none;
    color: #792430;
    vertical-align: top;
  }
}

.tr-table-assets {
    td {
      border-top-width: 1px;
      border-bottom-width: 1px;
      background-color: #F9F9F9;
      padding: 30px 15px;
      &:first-child {
        border-radius: 16px 0 0 16px;
        border-color: #D2D2D2;
        border-left-width: 1px;
      }
      &:last-child {
        border-radius: 0 16px 16px 0;
        border-color: #D2D2D2;
        border-right-width: 1px;
      }
    }
    &:nth-child(even) {
      td{
        background-color: #FFF;
      }
    }
  
}