<div class="c-invoice-details c-modal-lateral fixed top-0 right-0 h-full bg-white shadow-lg transform transition-transform duration-300 mt-16 w-3/6 
c-modal-lateral-padd create-asset-main-container" [ngClass]="{'translate-x-0': isOpen, 'translate-x-full': !isOpen}">
    <div class="header-modal">
        <i class="fa-solid fa-xmark cursor-pointer" (click)="closeModal(CANCEL)"></i>

    </div>
    <div class="border-card">
        <div class="invoice-details-header">
            <div class="h-izq">
                <div>
                    <h1>{{ 'FACTURACION.CLIENTE' | translate }}: </h1>
                    <span *ngIf="invoicesDetailsHeader?.client else notDataTable">{{invoicesDetailsHeader?.client ||
                        '-'}}</span>
                </div>
                <div>
                    <h1>RFC:</h1>
                    <span *ngIf="invoicesDetailsHeader?.rFc else notDataTable">{{invoicesDetailsHeader?.rFc}}</span>
                </div>
                <div>
                    <h1>{{ 'FACTURACION.NOMBRE_LEGAL' | translate }}:</h1>
                    <span
                        *ngIf="invoicesDetailsHeader?.legalName else notDataTable">{{invoicesDetailsHeader?.legalName}}</span>
                </div>
            </div>

            <div class="separate"></div>

            <div class="h-der">
                <div>
                    <h1>{{ 'FACTURACION.FECHA_INICIO' | translate }}:</h1>
                    <span *ngIf="invoicesDetailsHeader?.startDate else notDataTable">
                        {{ invoicesDetailsHeader?.startDate }}
                    </span>
                </div>
                <div>
                    <h1>{{ 'FACTURACION.FECHA_FIN' | translate }}:</h1>
                    <span *ngIf="invoicesDetailsHeader?.endDate else notDataTable">
                        {{ invoicesDetailsHeader?.endDate }}
                    </span>
                </div>
                <div>
                    <h1>{{ 'FACTURACION.ESTATUS' | translate }}:</h1>
                    <button [ngClass]="{
                        'billing-status-payed': invoicesDetailsHeader?.status == 'Payed',
                        'billing-status-pending': invoicesDetailsHeader?.status == 'Pending',
                        'billing-status-overdue': invoicesDetailsHeader?.status == 'Overdue',
                        'billing-status-canceled': invoicesDetailsHeader?.status == 'Canceled'
                        }">{{invoicesDetailsHeader?.status}}
                    </button>
                </div>
            </div>
        </div>


        <div class="c-btns-docs">
            <button class="btn-action-add">
                {{ 'FACTURACION.DESCARGAR_PDF' | translate }}
            </button>
            <button class="btn-without-border">
                {{ 'FACTURACION.DESCARGAR_XML' | translate }}
            </button>
            <button class="btn-without-border">
                {{ 'FACTURACION.SOLICITAR_CANELACION' | translate }}
            </button>
        </div>
    </div>

    <div class="separator-cards"></div>
    <div class="table-container">
        <ng-container *ngIf="!isLoading; else loadingSkeleton">
            <app-tabulator-table *ngIf="invoicesDetails?.length; else noDataTable" [data]="invoicesDetails"
                [config]="tableConfig"></app-tabulator-table>
            <mat-paginator #paginator class="c-paginator" [length]="totalItems" [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions" (page)="getServerData($event)" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </ng-container>
    </div>
</div>

<ng-template #notDataTable>
    <app-message-no-data [message]="('GENERAL.INFORMACION_NO_DISPONIBLE' | translate)"></app-message-no-data>
</ng-template>

<ng-template #loadingSkeleton>
    <div class="flex flex-col dataSC">
        <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
          'border-radius': '32.5px'
        }"></ngx-skeleton-loader>
    </div>
</ng-template>

<ng-template #noDataTable>
    <div class="no-data-container">
        <img class="icon" src="../../../../../assets/icons/data-not-found.svg" alt="">
        <div class="message-title"> {{ 'GENERAL.SIN_DATOS_TITULO' | translate }} </div>
        <div class="message-subtitle">{{ 'GENERAL.SIN_DATOS_SUBTITULO' | translate }}</div>
    </div>
</ng-template>