.c-invoice-details {

    .table-container {
        height: calc(100vh - 465px);
    }

    .invoice-details-header {
        display: flex;
        justify-content: space-between;

        .h-izq {
            width: 50%;
        }

        .separate {
            width: 1px;
            height: 85px;
            background: #CFCFCF;
            margin: 20px 00px;
        }

        .h-der {
            width: 41%;
            padding-left: 50px;
        }

        >div {
            div {
                display: flex;
                // flex-wrap: wrap;
                margin-bottom: 10px;
            }

            h1 {
                margin-right: 10px !important;
                // min-width: 40px;
                font-size: 14px;
                font-weight: 500;
                color: #999999;
                margin: 0;
                display: flex;
                align-items: center;
                gap: 20px;
                line-height: 15px;
            }

            span {
                font-size: 14px;
                font-weight: 500;
                color: #231F20;
            }

            button {
                width: 95px;
            }
        }
    }

    .c-btns-docs {
        display: flex;
        justify-content: space-between;

        .btn-action-add {
            width: 190px;
        }
    }
}

.btn-status {
    background: #33A02C;
}