<div class="c-main c-select-pay">
    <div class="row">
        <div class="col-md-7">
            <div class="c-card-v3">
                <h1>Financial Summary</h1>

                <div class="c-content">
                    <div>
                        <h2>CFE Payment total</h2>
                        <span>$2,124</span>
                    </div>
                    <div>
                        <h2>CFE Payment total</h2>
                        <span>$2,124</span>
                    </div>
                    <div>
                        <h2>CFE Payment total</h2>
                        <span>$2,124</span>
                    </div>
                    <div>
                        <h2>CFE Payment total</h2>
                        <span>$2,124</span>
                    </div>
                    <div>
                        <h2>CFE Payment total</h2>
                        <span>$2,124</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-5">
            <div class="d-flex flex-wrap justify-content-between ">
                <div class="c-card-v3-little" style="width: 45%;">
                    <h1>Solar coverage & CO2 Savings</h1>

                    <div class="c-content">
                        <div>
                            <h2>%</h2>
                            <span>32.6</span>
                        </div>
                        <div>
                            <h2>tCO2</h2>
                            <span>11.8</span>
                        </div>
                    </div>
                </div>

                <div class="btn-section mt-md-3">
                    <button class="btn-action-add">
                        Pay select bills
                    </button>

                    <button class="btn-cancel" type="button">Download bill selection</button>
                </div>
            </div>
        </div>
    </div>
</div>