<div class="detail-main-container">
  <div class="cards-details-container">
    <div class="card-details-container me-3" *ngFor="let data of siteResponse">
      <p>{{ data?.title || '-'}}</p>
      <h4>{{ data?.value }}</h4>
    </div>
  </div>

  <div class="cards-details-container col-7 text-center">
    <div class="loader-overlay" *ngIf="loaderMap">
      <div class="loader"></div>
    </div>

    <iframe *ngIf="!loaderMap" height="400" frameborder="0" style="border:0; width: 90%; margin: 0 auto;"
      referrerpolicy="no-referrer-when-downgrade" [src]="urlMap" allowfullscreen>
    </iframe>
  </div>
</div>