<main
    class="h-screen bg-[url('assets/svg/background.svg')] bg-no-repeat bg-center flex justify-center items-center text-center">
    <div class="text-center w-80">
        <div class="mb-5">
            <p class="flex justify-center">
                <img src="./assets/svg/logo.svg" alt="logo energia real" class="mb-8">
            </p>
            <h2 class="text-xl">Crear cuenta</h2>
            <p class="text-base">Ingresa tus datos para crear tu cuenta</p>
        </div>
        <div class="register-inputs-component">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <label class="block mb-3">
                    <input type="text" class="mt-1 block w-full rounded-full" formControlName="name"
                        placeholder="Nombre">
                    <p class="text-red-500 text-xs italic text-left"
                        *ngIf="form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)">
                        Debe agregar un nombre
                    </p>
                </label>
                <label class="block mb-3">
                    <input type="text" class="mt-1 block w-full rounded-full" formControlName="lastname"
                        placeholder="Tu email">
                    <p class="text-red-500 text-xs italic text-left"
                        *ngIf="form.get('lastname')?.invalid && (form.get('lastname')?.dirty || form.get('lastname')?.touched)">
                        Debe agregar un apellido
                    </p>
                </label>

                <label class="block mb-3">
                    <input type="email" class="mt-1 block w-full rounded-full" formControlName="email"
                        placeholder="Tu email">
                    <p class="text-red-500 text-xs italic text-left"
                        *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)">
                        Correo inválido
                    </p>
                </label>

                <label class="block mb-3">
                    <input type="password" class="mt-1 block w-full rounded-full" formControlName="password"
                        placeholder="Contraseña">
                    <p class="text-red-500 text-xs italic text-left"
                        *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)">
                        La contraseña debe tener al menos una mayúscula, una minúscula, un número y un carácter
                        especial, con una longitud mínima de 8 caracteres.
                    </p>
                </label>

                <label class="block mb-3">
                    <input type="password" class="mt-1 block w-full rounded-full" formControlName="passwordConfirm"
                        placeholder="Confirmar contraseña">
                    <p class="text-red-500 text-xs italic text-left"
                        *ngIf="form.get('passwordConfirm')?.invalid && (form.get('passwordConfirm')?.dirty || form.get('passwordConfirm')?.touched)">
                        La contraseña debe tener al menos una mayúscula, una minúscula, un número y un carácter
                        especial, con una longitud mínima de 8 caracteres.
                    </p>
                    <p class="text-red-500 text-xs italic text-left"
                        *ngIf="form.get('passwordConfirm')?.hasError('noCoincide')">Las contraseñas no
                        coinciden</p>
                </label>
                <div class="mb-6">
                    <div *ngIf="loading"
                        class="inline-block h-8 w-8 animate-[spinner-grow_0.75s_linear_infinite] rounded-full bg-current align-[-0.125em] text-surface opacity-0 motion-reduce:animate-[spinner-grow_1.5s_linear_infinite] dark:text-white"
                        role="status">
                        <span
                            class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Loading...</span>
                    </div>
                    <button *ngIf="!loading" type="submit"
                        class=" focus:ring-1 px-5 py-2.5 focus:outline-none rounded-full text-white"
                        [ngClass]="{ 'bg-er-orange': !form.invalid, 'bg-er-disabled': form.invalid  }"
                        [disabled]="form.invalid">
                        Entrar al sitio
                    </button>
                </div>
            </form>
        </div>
        <a routerLink="/account/login" class="text-er-orange">¿Ya tienes una cuenta?</a>
    </div>
</main>