.home-main-container{
    padding-top: 6%;
    padding-bottom: 4%;
    width: 100%;
    .home-header-container{
      padding: 1% 4%;
      border-bottom: 1px solid #E3E3E3;
      .info-asset-container{
        display: inline-block;
        width: 26%;
        vertical-align: middle;
        h1{
          font-size: 32px;
          font-weight: 400;
        }
        p{
          font-size: 12px;
          font-weight: 400;
        }
      }
      .info-weather-container{
        display: inline-block;
        padding-left: 40px;
        vertical-align: middle;
        .weather-flex-container{
          display: inline-flex;
          align-items: flex-start;
          gap: 40px;
          .card-weather-container{
            min-width: 84px;
            display: inline-block;
            border-radius: 16px;
            border: 1px solid #D2D2D2;
            text-align: center;
            padding: 10px;
            vertical-align: middle;
            height: 84px;
            .card-value{
              font-size: 24px;
              font-weight: 400;
            }
            p{
              margin-bottom: 0;
            }
            i{
              font-size: 35px;
            }
          }
          .card-weather-center{
            width: 130px;
            vertical-align: top;
          }
        }
      }
    }
  }
  
  .home-tabs-main-container{
    padding: 2% 4%;
    .nav-tabs{
      border: none;
      .nav-link{
        border: none;
        color: #000;
        background-color: #F8F8F8;
        border-radius: 15px;
      }
      .active{
        background-color: #EE5427;
        color: #FFF;
      }
    } 
    .home-tab-container{
      padding-top: 30px;
    }
  }