<div class="relative flex flex-col w-full h-full">
    <ng-container *ngIf="data.dismissible">
        <div class="absolute top-0 right-0 pt-4 pr-4">
            <button mat-icon-button [matDialogClose]="undefined">
                <mat-icon class="text-secondary" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </button>
        </div>
    </ng-container>

    <div class="flex flex-col sm:flex-row flex-auto items-center sm:items-start p-8 pb-6 sm:pb-8">
        <ng-container *ngIf="data?.icon?.show">
            <div class="flex flex-0 items-center justify-center w-10 h-10 sm:mr-4 rounded-full" [ngClass]="
            {
                'modalSuccess': data.icon?.color === 'success',
                'modalQuestion': data.icon?.color === 'question',
                'modalError': data.icon?.color === 'error',
                'modalAlert': data.icon?.color === 'alert'
            }">
                <mat-icon class="text-current">{{data.icon?.name}}</mat-icon>
            </div>
        </ng-container>

        <ng-container *ngIf="data.title || data.message">
            <div class="flex flex-col items-center sm:items-start  sm:mt-0 space-y-1 text-center sm:text-left">
                <ng-container *ngIf="data.title">
                    <div class="text-xl leading-6 font-medium" [innerHTML]="data.title"></div>
                </ng-container>

                <ng-container *ngIf="data.message">
                    <div class="text-secondary text-left" [innerHTML]="data.message"></div>
                </ng-container>
            </div>
        </ng-container>
    </div>

    <ng-container *ngIf="data.actions?.confirm?.show || data.actions?.cancel?.show">
        <div
            class="flex items-center justify-center sm:justify-end px-6 py-3 space-x-3 bg-gray-50 dark:bg-black dark:bg-opacity-10">
            <ng-container *ngIf="data.actions?.cancel?.show">
                <button class="btn-cancel" [matDialogClose]="false">
                    {{data.actions?.cancel?.label}}
                </button>
            </ng-container>

            <ng-container *ngIf="data?.actions?.confirm?.show">
                <button class="btn-action-add" [matDialogClose]="true">
                    {{data.actions?.confirm?.label}}
                </button>
            </ng-container>
        </div>
    </ng-container>
</div>