<div class="content content-elements c-live-kpi">
    <div class="card-elements">
        <div *ngFor="let data of dataDummy;" class="c-card-20-porcentage">
            <div class="card-info">
                <img [src]="data.icon" alt="">
                <div>
                    <h1>{{ data.title }}</h1>
                    <h2 *ngIf="data?.description else notDataTable">{{ data.description }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #notDataTable>
    <app-message-no-data [message]="'The requested information is not available.'"></app-message-no-data>
</ng-template>