  h1 {
    margin: 0;
    color: #6E6E6E;
    font-size: 11px;
    font-weight: 400;
    line-height: 13.12px;
  }

  h2 {
    margin-bottom: 0;
    font-size: 17px;
    line-height: 22px;
  }

  .card-info-buttons-confirm {
    font-size: 12px !important;
    font-weight: 400 !important;
    color: #FFFFFF !important;
    background: #EE5427 !important;
    border: 1px solid #EDEDED !important;
    height: 27px !important;
    padding: 0px 10px !important;
    border-radius: 40px;

    &:hover {
      background-color: darken(#EE5427, 10%);
    }
  }

  .card-info-buttons-cancel {
    font-size: 12px !important;
    font-weight: 400 !important;
    color: #000000 !important;
    background: #F8F8F8 !important;
    border: 1px solid #EDEDED !important;
    height: 27px !important;
    padding: 0px 10px !important;
    border-radius: 40px;

    &:hover {
      background-color: darken(#F8F8F8, 10%);
    }
  }

  // background: #4CAF5040;
  // background: #66BB6A50;
  // background: #388E3C80;
  // background-color: rgb(161 239 168 / 50%);
  // background-color: rgb(161 239 168 / 60%);