.select-type {
    width: 100% !important; 
  }

  .mat-mdc-select {
    font-size: 12px !important;
  }
  
  
  .mat-mdc-option {
    font-size: 12px !important; 
  }

  ::ng-deep .mat-pseudo-checkbox.mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal {
    display: none !important;
  }
  