<div class="c-main  c-contact">
    <div class="grid grid-cols-2">
        <div class="flex">
            <div class="return-bar-container">
                <button class="button-transparent" type="button" (click)="return()">
                    <i class="fa-solid fa-angles-left" matTooltip="Go back"></i>
                </button>
            </div>
            <div class="">
                <div>
                    <a>Contact Us</a>
                </div>
                <span class="mt-2">
                    If you have any questions or need more information, feel free to reach out to us. We're here to help.
                </span>
                <div class="px-6 my-8">
                    <div class="flex">
                        <img src="../../../../assets/svg/location-mark.svg" alt="Icon save">
                        <span class="ml-2">Culiacán 123, Hipódromo Condesa, Cuauhtémoc, 06170 Ciudad de México, CDMX</span>
                    </div>
                    <div class="flex mt-6">
                        <img src="../../../../assets/svg/message.svg" alt="Icon save">
                        <span class="ml-2">clientes&#64;energiareal.mx</span>
                    </div>
                    <div class="flex mt-6">
                        <img src="../../../../assets/svg/Whatsapp.svg" alt="Icon save">
                        <span class="ml-2">(55) 4172 1229</span>
                    </div>
                    <div class="flex mt-6">
                        <img src="../../../../assets/svg/clock.svg" alt="Icon save">
                        <div class="ml-2 grid grid-cols-1">
                            <span>Monday to Friday </span>
                            <span>09:00 AM – 08:00 PM</span>
                        </div>
                    </div>
                </div>
                <span class="my-6">
                    We are at your service for any questions or concerns.
                </span>
                <div class="flex justify-center mt-6">
                    <div>
                        <a>Follow us on</a>
                    </div>
                </div>
                <div class="flex justify-center gap-6 mt-4">
                    <img class="cursor-pointer" src="../../../../assets/svg/Google.svg" alt="Icon save">
                    <img class="cursor-pointer"src="../../../../assets/svg/LinkedIn.svg" alt="Icon save">
                </div>
            </div>
        </div>
        <div>
            <iframe class="iframe"  frameborder="0" referrerpolicy="no-referrer-when-downgrade"
            [src]="urlMap" allowfullscreen>
            </iframe>
        </div>
    </div>

</div>