<div class="c-interver">
    <div class="filters-inverter">
      <div>
        <span></span>
        <h1>Excelent (0% - 5)</h1>
      </div>
      <div>
        <span></span>
        <h1>Good (5%-7.5%)</h1>
      </div>
      <div>
        <span></span>
        <h1>Average (7.5% - 10%)</h1>
      </div>
      <div>
        <span></span>
        <h1>Poor (10%-15%)</h1>
      </div>
      <div>
        <span></span>
        <h1>Worst (15%-20%)</h1>
      </div>
      <div>
        <span></span>
        <h1>Error</h1>
      </div>

      <button class="btn-show-all filter-selected">
        <span class="material-symbols-outlined">visibility</span>
        Show all
      </button>

    </div>

    <div class="c-cards-inverters">
      <div class="card-inverter card-excelent">
        <div class="header-inverter">
          <h1>INVERTER-01</h1>
          <i class="fa-solid fa-chevron-right"></i>
        </div>

        <div class="footer-inverter">
          <h1>N/A kW / kWp</h1>
          <h2>N/A</h2>
        </div>
      </div>
      <div class="card-inverter card-excelent">
        <div class="header-inverter">
          <h1>INVERTER-01</h1>
          <i class="fa-solid fa-chevron-right"></i>
        </div>

        <div class="footer-inverter">
          <h1>N/A kW / kWp</h1>
          <h2>N/A</h2>
        </div>
      </div>
      <div class="card-inverter card-excelent">
        <div class="header-inverter">
          <h1>INVERTER-01</h1>
          <i class="fa-solid fa-chevron-right"></i>
        </div>

        <div class="footer-inverter">
          <h1>N/A kW / kWp</h1>
          <h2>N/A</h2>
        </div>
      </div>
      <div class="card-inverter card-excelent">
        <div class="header-inverter">
          <h1>INVERTER-01</h1>
          <i class="fa-solid fa-chevron-right"></i>
        </div>

        <div class="footer-inverter">
          <h1>N/A kW / kWp</h1>
          <h2>N/A</h2>
        </div>
      </div>
      <div class="card-inverter card-excelent">
        <div class="header-inverter">
          <h1>INVERTER-01</h1>
          <i class="fa-solid fa-chevron-right"></i>
        </div>

        <div class="footer-inverter">
          <h1>N/A kW / kWp</h1>
          <h2>N/A</h2>
        </div>
      </div>
      <div class="card-inverter card-excelent">
        <div class="header-inverter">
          <h1>INVERTER-01</h1>
          <i class="fa-solid fa-chevron-right"></i>
        </div>

        <div class="footer-inverter">
          <h1>N/A kW / kWp</h1>
          <h2>N/A</h2>
        </div>
      </div>
      <div class="card-inverter card-excelent">
        <div class="header-inverter">
          <h1>INVERTER-01</h1>
          <i class="fa-solid fa-chevron-right"></i>
        </div>

        <div class="footer-inverter">
          <h1>N/A kW / kWp</h1>
          <h2>N/A</h2>
        </div>
      </div>

      <div class="card-inverter card-good">
        <div class="header-inverter">
          <h1>INVERTER-01</h1>
          <i class="fa-solid fa-chevron-right"></i>
        </div>

        <div class="footer-inverter">
          <h1>N/A kW / kWp</h1>
          <h2>N/A</h2>
        </div>
      </div>

      <div class="card-inverter card-good">
        <div class="header-inverter">
          <h1>INVERTER-01</h1>
          <i class="fa-solid fa-chevron-right"></i>
        </div>

        <div class="footer-inverter">
          <h1>N/A kW / kWp</h1>
          <h2>N/A</h2>
        </div>
      </div>

      <div class="card-inverter card-good">
        <div class="header-inverter">
          <h1>INVERTER-01</h1>
          <i class="fa-solid fa-chevron-right"></i>
        </div>

        <div class="footer-inverter">
          <h1>N/A kW / kWp</h1>
          <h2>N/A</h2>
        </div>
      </div>

      <div class="card-inverter card-average">
        <div class="header-inverter">
          <h1>INVERTER-01</h1>
          <i class="fa-solid fa-chevron-right"></i>
        </div>

        <div class="footer-inverter">
          <h1>N/A kW / kWp</h1>
          <h2>N/A</h2>
        </div>
      </div>

      <div class="card-inverter card-average">
        <div class="header-inverter">
          <h1>INVERTER-01</h1>
          <i class="fa-solid fa-chevron-right"></i>
        </div>

        <div class="footer-inverter">
          <h1>N/A kW / kWp</h1>
          <h2>N/A</h2>
        </div>
      </div>

      <div class="card-inverter card-average">
        <div class="header-inverter">
          <h1>INVERTER-01</h1>
          <i class="fa-solid fa-chevron-right"></i>
        </div>

        <div class="footer-inverter">
          <h1>N/A kW / kWp</h1>
          <h2>N/A</h2>
        </div>
      </div>

      <div class="card-inverter card-worst">
        <div class="header-inverter">
          <h1>INVERTER-01</h1>
          <i class="fa-solid fa-chevron-right"></i>
        </div>

        <div class="footer-inverter">
          <h1>N/A kW / kWp</h1>
          <h2>N/A</h2>
        </div>
      </div>

      <div class="card-inverter card-worst">
        <div class="header-inverter">
          <h1>INVERTER-01</h1>
          <i class="fa-solid fa-chevron-right"></i>
        </div>

        <div class="footer-inverter">
          <h1>N/A kW / kWp</h1>
          <h2>N/A</h2>
        </div>
      </div>

      <div class="card-inverter card-worst">
        <div class="header-inverter">
          <h1>INVERTER-01</h1>
          <i class="fa-solid fa-chevron-right"></i>
        </div>

        <div class="footer-inverter">
          <h1>N/A kW / kWp</h1>
          <h2>N/A</h2>
        </div>
      </div>

      <div class="card-inverter card-poor">
        <div class="header-inverter">
          <h1>INVERTER-01</h1>
          <i class="fa-solid fa-chevron-right"></i>
        </div>

        <div class="footer-inverter">
          <h1>N/A kW / kWp</h1>
          <h2>N/A</h2>
        </div>
      </div>
      <div class="card-inverter card-poor">
        <div class="header-inverter">
          <h1>INVERTER-01</h1>
          <i class="fa-solid fa-chevron-right"></i>
        </div>

        <div class="footer-inverter">
          <h1>N/A kW / kWp</h1>
          <h2>N/A</h2>
        </div>
      </div>

      <div class="card-inverter card-error">
        <div class="header-inverter">
          <h1>INVERTER-01</h1>
          <i class="fa-solid fa-chevron-right"></i>
        </div>

        <div class="footer-inverter">
          <h1>N/A kW / kWp</h1>
          <h2>N/A</h2>
        </div>
      </div>

      <div class="card-inverter card-error">
        <div class="header-inverter">
          <h1>INVERTER-01</h1>
          <i class="fa-solid fa-chevron-right"></i>
        </div>

        <div class="footer-inverter">
          <h1>N/A kW / kWp</h1>
          <h2>N/A</h2>
        </div>
      </div>
    </div>
  </div>