.c-detail-site {
    .iframe {
        border: 0;
        width: 100%;
        margin: 0 auto;
        height: 350px;
        min-height: 360px;
    }

    .c-cards-information {
        .separator-cards {
            grid-column: span 2;
        }
    }


}