.main-container{
    height: 100vh;
    background: url('./assets/svg/background.svg') no-repeat;
    background-size: 100% 100%;
    // background-size: 125% 125%;
    background-position: center;
    .register-form-container{
      text-align: center;
      width: 325px;
      .register-header-container{
        img{
          margin: 0 auto;
          margin-bottom: 20px;
        }
        h2{
          margin-bottom: 20px;
          font-size: 30px;
        }
        p{
          margin-bottom: 30px;
        }
      }
      .register-inputs-component{
        input{
          height: 45px;
        }
        .button-container{
          padding-top: 5px;
        }
      }
    }
  }
  
  #error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .register-footer-container{
    padding-top: 20px;
    a{
      color: #EE5427;
      text-decoration: none;
    }
  } 
  