<div class="main-container">
    <div class="register-form-container">
      <div class="register-header-container">
        <img src="./assets/svg/logo.svg" alt="logo energia real">
        <h2>Actualizar contraseña</h2>
        <p>Complete el formulario para actualizar su contraseña</p>
      </div>
    
      <div class="register-inputs-component">
        <form [formGroup]="formData" (ngSubmit)="actionSave()">
          <div class="form-group-container">
            <input type="text" id="nombre" formControlName="password" required placeholder="Contraseña">
            <div class="message-error">
              <p *ngIf="formData.get('password')?.value == '' && (formData.get('password')?.dirty || formData.get('password')?.touched)">Debe agregar una contraseña</p>
            </div>
          </div>
          <div class="form-group-container">
            <input type="text" id="nombre" formControlName="confirmPassword" required placeholder="Confirmar contraseña">
            <div class="message-error">
              <p *ngIf="formData.get('confirmPassword')?.value == '' && (formData.get('confirmPassword')?.dirty || formData.get('confirmPassword')?.touched)">Debe confirmar la contraseña</p>
            </div>
          </div>
      
          <div class="button-container">
            <span class="loader" *ngIf="actionComplete"></span>
            <button *ngIf="!actionComplete" class="button-primary" type="submit" [disabled]="!canSave">Actualizar</button>
          </div>
        </form>
      </div>
    </div>
  </div>  