<div class="main-container">
    <div class="register-form-container">
      <div class="register-header-container">
        <img src="../../../assets/svg/logo.svg" alt="logo energia real">
        <h2>Update password</h2>
        <p>Fill out the form to update your password</p>
      </div>
    
      <div class="register-inputs-component">
        <form [formGroup]="formData" (ngSubmit)="actionSave()">
          <div class="form-group-container">
            <input type="text" id="nombre" formControlName="password" required placeholder="Password">
            <div class="message-error">
              <p *ngIf="formData.get('password')?.value == '' && (formData.get('password')?.dirty || formData.get('password')?.touched)">You must add a password</p>
            </div>
          </div>
          <div class="form-group-container">
            <input type="text" id="nombre" formControlName="confirmPassword" required placeholder="Confirm Password">
            <div class="message-error">
              <p *ngIf="formData.get('confirmPassword')?.value == '' && (formData.get('confirmPassword')?.dirty || formData.get('confirmPassword')?.touched)">You must confirm the password</p>
            </div>
          </div>
      
          <div class="button-container">
            <span class="loader" *ngIf="actionComplete"></span>
            <button *ngIf="!actionComplete" class="button-primary" type="submit" [disabled]="!canSave">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>  