<div class="create-asset-main-container">
    <app-return-bar></app-return-bar>
    <div class="create-asset-form-container">
      <div class="create-asset-header-container" *ngIf="objEditData">
        <h2>{{!objEditData ? 'Crear' : 'Editar'}} planta</h2>
        <p> {{!objEditData ? 'Ingresa los datos para crear una planta' : 'Modifica los datos para editar la planta'}}</p>
      </div>
  
      <div class="create-asset-inputs-component">
        <form [formGroup]="formData" (ngSubmit)="actionSave()">
          <div *ngIf="objEditData" class="form-group-container mb-3 text-center">
            <h3>{{objEditData.siteName}}</h3>
          </div>

          <div class="form-group-container">
            <p >Nombre del sitio:</p>
            <input type="text" formControlName="siteName" placeholder="Nombre del sitio">
            <div class="message-error">
              <p *ngIf="formData.get('siteName')?.invalid && formData.get('siteName')?.touched">Debe agregar nombre del sitio</p>
            </div>
          </div>
      
          <div class="form-group-container">
            <p>Codigó de planta:</p>
            <input type="text" formControlName="plantCode" placeholder="Codigó de planta">
            <div class="message-error">
              <p *ngIf="formData.get('plantCode')?.invalid && formData.get('plantCode')?.touched">Debe agregar un codigó de planta</p>
            </div>
          </div>
     
          <div class="form-group-container">
            <p>Dirección:</p>
            <input type="text" formControlName="direction" placeholder="Dirección">
            <div class="message-error">
              <p *ngIf="formData.get('direction')?.invalid && formData.get('direction')?.touched">Debe agregar una dirección</p>
            </div>
          </div>
  
          <div class="form-group-container">
            <p>Tipo de contrato:</p>
            <select formControlName="contractTypeId" placeholder="Tipo de contrato">
              <option value="" disabled>Seleccione uno</option>
              <option [value]="cat.id" *ngFor="let cat of catContractType"> {{ cat?.description || '-' }}</option>
            </select>
            <div class="message-error">
              <p *ngIf="formData.get('contractTypeId')?.invalid && formData.get('contractTypeId')?.touched">
                Debe agregar un tipo de contrato</p>
            </div>
          </div>
  
          <div class="form-group-container input-email-container">
            <p>Tipo de instalación:</p>
            <select formControlName="installationTypeId" placeholder="Tipo de instalación">
              <option value="" disabled>Seleccione uno</option>
              <option [value]="cat.id" *ngFor="let cat of catInstallationType"> {{ cat?.description || '-' }}</option>
            </select>
            <div class="message-error">
              <p *ngIf="formData.get('installationTypeId')?.invalid &&  formData.get('installationTypeId')?.touched">
                Debe agregar un tipo de instalación</p>
            </div>
          </div>
  
          <div class="form-group-container">
            <p>Capacidad instalada</p>
            <input type="number" formControlName="installedCapacity" placeholder="Capacidad instalada">
            <div class="message-error">
              <p
                *ngIf="formData.get('installedCapacity')?.invalid && formData.get('installedCapacity')?.touched">
                Debe agregar la capacidad instalada</p>
            </div>
          </div>
  
          <div class="form-group-container">
            <p>Estatus:</p>
            <select formControlName="assetStatus" placeholder="Estatus">
              <option value="" disabled>Seleccione uno</option>
              <option [value]="cat.id" *ngFor="let cat of catPlantStatus"> {{ cat?.description || '-' }}</option>
            </select>
            <div class="message-error">
              <p *ngIf="formData.get('assetStatus')?.invalid && formData.get('assetStatus')?.touched">Debe agregar un estatus</p>
            </div>
          </div>
  
          <div class="form-group-container input-email-container">
            <p>Esquema de operación</p>
            <select formControlName="netZero" placeholder="Esquema de operación">
              <option value="" disabled>Seleccione uno</option>
              <option [ngValue]="true">Net Zero Export</option>
              <option [ngValue]="false">Normal</option>
            </select>
            <div class="message-error">
              <p *ngIf="formData.get('netZero')?.invalid &&  formData.get('netZero')?.touched">Debe agregar un esquema</p>
            </div>
          </div>
  
          <div class="form-group-container">
            <p>Link de mapas</p>
            <input type="text" id="link" formControlName="link" placeholder="Link de mapas">
            <div class="message-error pb-3 pt-1">
              <p
                *ngIf="formData.get('link')?.invalid && (formData.get('link')?.dirty || formData.get('link')?.touched)">
                Debe incluir un link de Google Maps</p>
              <p
                *ngIf="formData.get('link')?.errors?.['urlPrefix'] && (formData.get('link')?.dirty || formData.get('link')?.touched)">
                El url que ingresaste no es valido</p>
            </div>
          </div>
  
          <div class="form-group-container coordinates-container">
            <div class="coordinates-input-container">
              <p>Tamaño del sistema:</p>
              <input type="number" formControlName="systemSize" placeholder="Tamaño del sistema">
              <div class="message-error">
                <p *ngIf="formData.get('systemSize')?.invalid && formData.get('systemSize')?.touched">Debe agregar el tamaño de sistema</p>
              </div>
            </div>
       
            <div class="coordinates-input-container">
              <p>Cantidad de inversor:</p>
              <input type="number"  formControlName="inverterQty" placeholder="Cantidad de inversor">
              <div class="message-error">
                <p *ngIf="formData.get('inverterQty')?.invalid && formData.get('inverterQty')?.touched">Debe agregar la cantidad del inversor</p>
              </div>
            </div>
          </div>
  
          <div class="form-group-container coordinates-container">
            <div class="coordinates-input-container">
              <p>Latitud:</p>
              <input type="number"  formControlName="latitude" placeholder="Latitud">
              <div class="message-error">
                <p *ngIf="formData.get('latitude')?.invalid && formData.get('latitude')?.touched">Debe agregar una
                  latitud</p>
                <p *ngIf="formData.get('latitude')?.errors?.['latitudeInvalid'] && formData.get('latitude')?.touched">
                  La latitud debe estar entre -90 y 90</p>
              </div>
            </div>
  
            <div class="coordinates-input-container">
              <p>Longuitud:</p>
              <input formControlName="longitude" type="number" placeholder="Longitud">
              <div class="message-error">
                <p *ngIf="formData.get('longitude')?.invalid && formData.get('longitude')?.touched">
                  Debe agregar una longitud</p>
                <p *ngIf="formData.get('longitude')?.errors?.['invalidLongitude'] && formData.get('longitude')?.touched">
                  La longitud debe estar entre -180 y 180</p>
              </div>
            </div>
          </div>
  
          <div class="form-group-container coordinates-container ">
            <div class="coordinates-input-container">
              <p>Fecha de comisión</p>
              <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-date-new">
                <input formControlName="commissionDate" placeholder="Fecha de comisió" matInput [matDatepicker]="picker1">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              <div class="message-error" *ngIf="formData.get('commissionDate')?.invalid && formData.get('commissionDate')?.touched">
                <p >Debe agregar la fecha de comisión</p>
              </div>
            </div>
       
            <div class="coordinates-input-container">
              <p>Fecha de contrato de firma</p>
              <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-date-new">
                <input formControlName="contractSignatureDate" placeholder="Fecha de contrato de firma" matInput [matDatepicker]="picker2">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
              <div class="message-error" *ngIf="formData.get('contractSignatureDate')?.invalid && formData.get('contractSignatureDate')?.touched">
                <p >Debe agregar la fecha de contrato de firma</p>
              </div>
            </div>
          </div>
  
          <div class="form-group-container coordinates-container mb-3">
            <div class="coordinates-input-container">
              <p>Fecha de instalación</p>
              <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-date-new">
                <input formControlName="endInstallationDate" placeholder="Fecha de instalación" matInput [matDatepicker]="picker3">
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
              </mat-form-field>
              <div class="message-error"  *ngIf="formData.get('endInstallationDate')?.invalid && formData.get('endInstallationDate')?.touched">
                <p>Debe agregar la fecha de instalación</p>
              </div>
            </div>
          </div>
  
          <div class="button-container d-flex justify-content-between pt-3">
            <div>
              <button class="button-cancel" (click)="clearForm()" type="button">Cancelar</button>
            </div>
            <div>
              <span class="loader" *ngIf="loading"></span>
              <button class="button-primary" *ngIf="!loading" type="submit">Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>