.create-asset-main-container {
  padding: 0% 4% 4% 4%;

  .create-asset-form-container {
    text-align: center;
    margin: 0 auto;
    width: 100%;

    .create-asset-header-container {
      h2 {
        font-size: 30px;
        margin-bottom: 10px;
      }
    }
  }
}

.message-error {
  color: #E30613;
  min-height: 30px;
  text-align: left;

  p {
    margin: 0;
  }
}