<div class="create-asset-main-container">
  <app-return-bar></app-return-bar>
  <div class="create-asset-form-container">
    <div class="create-asset-header-container" *ngIf="objEditData">
      <h2>{{!objEditData ? 'Crear' : 'Editar'}} planta</h2>
      <p> {{!objEditData ? 'Ingresa los datos para crear una planta' : 'Modifica los datos para editar la planta'}}</p>
    </div>

    <div class="create-asset-inputs-component">
      <form [formGroup]="formData" (ngSubmit)="actionSave()">
        <div *ngIf="objEditData" class="form-group-container mb-3 text-center">
          <h3>{{objEditData.siteName}}</h3>
        </div>

        <div class="c-input">
          <p>Nombre del sitio:</p>
          <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-ER">
            <input formControlName="siteName" placeholder="Nombre del sitio" matInput>
            <mat-error *ngIf="formData.get('siteName')?.hasError('required')">Debe agregar nombre del sitio</mat-error>
          </mat-form-field>
        </div>
       
        <div class="c-input">
          <p>Codigó de planta:</p>
          <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-ER">
            <input formControlName="plantCode" placeholder="Codigó de planta" matInput>
          </mat-form-field>
        </div>
     
        <div class="c-input">
          <p>Dirección:</p>
          <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-ER">
            <input formControlName="direction" placeholder="Dirección" matInput>
          </mat-form-field>
        </div>

        <div class="c-input">
          <p>Tipo de contrato:</p>
          <mat-form-field class="select-ER" appearance="outline">
            <mat-select formControlName="contractTypeId" placeholder="Tipo de contrato">
              <mat-option value="" disabled>Seleccione uno</mat-option>
              <mat-option [value]="cat.id" *ngFor="let cat of catContractType">{{ cat?.description || '-'
                }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="c-input">
          <p>Tipo de instalación:</p>
          <mat-form-field class="select-ER" appearance="outline">
            <mat-select formControlName="installationTypeId" placeholder="Tipo de instalación">
              <mat-option value="" disabled>Seleccione uno</mat-option>
              <mat-option [value]="cat.id" *ngFor="let cat of catInstallationType">{{ cat?.description || '-'
                }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="c-input">
          <p>Capacidad instalada:</p>
          <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-ER">
            <input formControlName="installedCapacity" placeholder="Capacidad instalada" matInput>
          </mat-form-field>
        </div>
  
        <div class="c-input">
          <p>Relación calidad:</p>
          <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-ER">
            <input formControlName="installedCapacity" placeholder="Relación calidad" matInput>
          </mat-form-field>
        </div>

        <div class="c-input">
          <p>Rendimiento anual:</p>
          <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-ER">
            <input formControlName="yearlyYield" placeholder="Rendimiento anual" matInput>
          </mat-form-field>
        </div>
  
        <div class="c-input">
          <p>Potencia nominal mAC:</p>
          <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-ER">
            <input formControlName="nominalPowerAC" placeholder="Potencia nominal mAC" matInput>
          </mat-form-field>
        </div>

        <div class="form-group-container">
          <p>Estatus:</p>
          <mat-form-field class="select-ER" appearance="outline">
            <mat-select formControlName="statusPlantId" placeholder="Estatus">
              <mat-option value="" disabled>Seleccione uno</mat-option>
              <mat-option [value]="cat.id" *ngFor="let cat of catPlantStatus">{{ cat?.description || '-' }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-group-container input-email-container">
          <p>Esquema de operación</p>
          <mat-form-field class="select-ER" appearance="outline">
            <mat-select formControlName="netZero" placeholder="Esquema de operación">
              <mat-option value="" disabled>Seleccione uno</mat-option>
              <mat-option [value]="true">Net Zero Export</mat-option>
              <mat-option [value]="false">Normal</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="c-input">
          <p>Link de mapas:</p>
          <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-ER">
            <input formControlName="link" placeholder="Link de mapas" matInput>
            <mat-error *ngIf="formData.get('link')?.errors?.['urlPrefix'] && (formData.get('link')?.dirty || formData.get('link')?.touched)">Debe agregar link de mapas valido</mat-error>
          </mat-form-field>
        </div>

        <div class="c-input-group">
          <div class="c-input">
            <p>Tamaño del sistema:</p>
            <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-ER">
              <input type="number" formControlName="systemSize" placeholder="Tamaño del sistema" matInput>
            </mat-form-field>
          </div>
         
          <div class="c-input">
            <p>Cantidad de inversor:</p>
            <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-ER">
              <input type="number" formControlName="inverterQty" placeholder="Cantidad de inversor" matInput>
            </mat-form-field>
          </div>
        </div>
      
        <div class="c-input-group">
          <div class="c-input">
            <p>Latitud:</p>
            <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-ER">
              <input type="number" formControlName="latitude" placeholder="Latitud" matInput>
              <mat-error *ngIf="formData.get('latitude')?.errors?.['latitudeInvalid'] && formData.get('latitude')?.touched">La latitud debe estar entre -90 y 90</mat-error>
            </mat-form-field>
          </div>
         
          <div class="c-input">
            <p>Longuitud:</p>
            <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-ER">
              <input type="number" formControlName="longitude" placeholder="Longitud" matInput>
              <mat-error *ngIf="formData.get('longitude')?.errors?.['invalidLongitude'] && formData.get('longitude')?.touched">La longitud debe estar entre -180 y 180</mat-error>

            </mat-form-field>
          </div>
        </div>

        <div class="form-group-container coordinates-container ">
          <div class="coordinates-input-container">
            <p>Fecha de comisión</p>
            <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-date-new">
              <input formControlName="commissionDate" placeholder="Fecha de comisió" matInput [matDatepicker]="picker1">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="coordinates-input-container">
            <p>Fecha de contrato de firma</p>
            <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-date-new">
              <input formControlName="contractSignatureDate" placeholder="Fecha de contrato de firma" matInput
                [matDatepicker]="picker2">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="form-group-container coordinates-container mb-3">
          <div class="coordinates-input-container">
            <p>Fecha de instalación</p>
            <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-date-new">
              <input formControlName="endInstallationDate" placeholder="Fecha de instalación" matInput
                [matDatepicker]="picker3">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="button-container d-flex justify-content-between pt-3">
          <div>
            <button class="button-cancel" (click)="clearForm()" type="button">Cancelar</button>
          </div>
          <div>
            <span class="loader" *ngIf="loading"></span>
            <button class="button-primary" [disabled]="formData.invalid" *ngIf="!loading" type="submit">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>