<div class="c-footer border-b-2">
    <div class="content-footer">
        <p>© 2025<span class="font-bold"> EnergiaReal</span> </p>
        <div class="flex space-x-8">
            <a routerLink="/er/legals/contact" class="hover:underline">Contact</a>
            <a routerLink="/er/legals/qya" class="hover:underline">Q&A</a>
            <a routerLink="/er/legals/privacy-policy" class="hover:underline">Privacy Policy</a>
            <a class="hover:underline">Terms Of Service</a>
          </div>
    </div>
</div>