.c-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: -2px;
    z-index: 10;
    background: #F9F9F9;
    border-top: 1px solid #e4e4e4;
    padding: 7px 0;
    height: 45px;

    .content-footer {
        margin: 0 40px;
        display: flex;
        margin-top: 4px !important;
        align-items: center;
        justify-content: space-between;

        p {
            margin: 0;
            color: black;
            letter-spacing: 0.5px;
            font-size: 12px;

            a, span {
                font-size: 12px;
                color: #EE5427!important;
                letter-spacing: 1.3px;
            }
        }
        a, span {
            cursor: pointer;
            font-size: 12px;
            color: #EE5427!important;
            letter-spacing: 1.3px;
            font-weight: bold;
        }
        
    }
}

.custom-icon-color {
    color: #EE5427;
}