.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:auto;
}

svg {
  width: 100%;
  max-width: 800px;
  height: auto;
  max-height: 440px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translateY(0); 
  }
  to {
    opacity: 0;
    transform: translateY(-10px); 
  }
}

.tooltip {
  opacity: 0; 
  transition: opacity 0.4s ease, transform 0.4s ease;
  will-change: opacity, transform;

  &.show {
    animation: fadeInUp 0.4s forwards; 
  }

  &.hide {
    animation: fadeOutDown 0.3s forwards; 
  }
}
