<p>saving works!</p>
<div class="c-global c-install  grid grid-cols-1 md:grid-cols-2">
  <div class="c-graph">
    <div *ngIf="showAlert" class="alert alert-warning">
      No data available!
    </div>
    <div *ngIf="pdfSrc">
      <iframe class="pdf" [src]="pdfSrc" allow="autoplay"></iframe>
    </div>
  </div>
  <div class="">
    <div class="flex justify-end mb-2">
      <button class="btn-action-add" (click)="toggleDrawer()">
        <i class="fa-solid fa-plus"></i>
        Add new equipment
      </button>
      <app-new-equipment class="draweEquipment" [isOpen]="drawerOpen" [modeDrawer]="drawerAction"
        [plantCode]="plantData?.id" [equipment]="drawerInfo"></app-new-equipment>
    </div>
    <div class="c-card-info" *ngIf="!showAlert else notData">
      <div class="c-card-info" *ngIf="!showAlert&&instalations else notData">
        <div class="card-info" *ngFor="let instalation of instalations.equipment; let i = index">
        <app-info-card [tapName]="'savings'" [info]="instalation" [fromEquipments]=true [materialIconName]="materialIcon"></app-info-card>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #notData>
  <div class="no-data-alert">
    The information could not be loaded.
  </div>
</ng-template>