<div class="c-card-medium">
    <div class="card-medium">
      <h1>Plant status</h1>

      <div class="c-content-medium">
        <div>
          <p>Communication</p>
        </div>

        <div class="c-content-porcentage">
          <span> </span>
          <p>N/A</p>
        </div>
      </div>

      <div class="c-content-medium">
        <div>
          <p>Plant</p>
        </div>

        <div class="c-content-porcentage">
          <span> </span>
          <p>N/A</p>
        </div>
      </div>

      <div class="c-content-medium">
        <div>
          <p>Grid</p>
        </div>

        <div class="c-content-porcentage">
          <span> </span>
          <p>N/A</p>
        </div>
      </div>

    </div>

    <div class="card-medium">
      <h1>Assets Availability</h1>

      <div class="c-content-medium c-content-medium-three">
        <div>
          <p>Plant</p>
        </div>

        <div class="c-content-porcentage">
          <span> </span>
          <p>N/A</p>
        </div>

        <div class="c-option-medium">
          <div>N/A</div>
          <div>N/A</div>
          <div>N/A</div>
        </div>
      </div>

      <div class="c-content-medium c-content-medium-three">
        <div>
          <p>Inverter</p>
        </div>

        <div class="c-content-porcentage">
          <span> </span>
          <p>N/A</p>
        </div>

        <div class="c-option-medium">
          <div>N/A</div>
          <div>N/A</div>
          <div>N/A</div>
        </div>
      </div>
    </div>

    <div class="card-medium">
      <div class="c-solar-co2">
        <div class="co2">
          <div>
            <div class="title-left">
              <h1>CO2 Saving</h1>

              <div>
                <h2>N/A</h2>
                <h3> tCO2</h3>
              </div>
            </div>

            <div class="title-right">
              <div class="left">
                <img src="../../../../assets/icons/equivalent.svg" alt="">
                <h2 class="text-base font-normal">Equivalent to N/A trees</h2>
              </div>

              <div>
                <img src="../../../../assets/icons/eletric.svg" alt="">
                <h2 class="text-base font-normal">Equivalent to N/A <br> electric car full charges.</h2>
              </div>
            </div>
          </div>
          <div class="bar-progresss">
            <h1>kWh /m / anual</h1>

            <div class="w-full barr h-6 bg-gray-200 rounded-full dark:bg-gray-700">
              <div class="h-6 bg-blue-600 rounded-full dark:bg-blue-500" [ngStyle]="{ width: co2Progress }"></div>
            </div>

            <h2>Peers: N/A kWh /m</h2>
          </div>

        </div>
      </div>
    </div>
  </div>