.return-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 31px;

    button, span {
        color: #EE5427;
        font-size: 18px;
    }
}