.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .logo-container svg {
    width: 100px; 
    height: 100px;
  }
  
  .logo-container svg path {

    stroke-width: 1;
  }
  
  