<div class="spinner-container" *ngIf="loading">
  <div class="loader">
    <svg  viewBox="0 0 30 60" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2 0V59.5" stroke="#FF4713" stroke-width="4">
        <animate attributeName="opacity" attributeType="XML"
        values="1; .2; 1" 
        begin="0s" dur="0.6s" repeatCount="indefinite" />
      </path>
      <path d="M15 0V59.5" stroke="#FF4713" stroke-width="4">
        <animate attributeName="opacity" attributeType="XML"
        values="1; .2; 1" 
        begin="0.2s" dur="0.6s" repeatCount="indefinite" />
      </path>
      <path d="M28 0V59.5" stroke="#FF4713" stroke-width="4">
        <animate attributeName="opacity" attributeType="XML"
        values="1; .2; 1" 
        begin="0.4s" dur="0.6s" repeatCount="indefinite" />
      </path>
  </svg>
  </div>
</div>
