<div class="c-billing-history card-content-section">
    <div class="table-container" *ngIf="bills">
        <ng-container *ngIf="bills?.length; else loadingSkeleton">
            <app-tabulator-table [data]="bills" [config]="tableConfig"></app-tabulator-table>
            <mat-paginator #paginator class="c-paginator" [length]="totalItems" [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions" (page)="getServerData($event)" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </ng-container>
    </div>
</div>

<ng-template #loadingSkeleton>
    <div class="flex flex-col dataSC">
        <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
          'border-radius': '32.5px'
        }"></ngx-skeleton-loader>
    </div>
</ng-template>