<div class="spinner-container" *ngIf="showLoader">
  <mat-spinner class="custom-spinner" diameter="60"></mat-spinner>
</div>
<div class="edit-asset-main-container" *ngIf="!showLoader">
  <app-return-bar urlToGo="/assets/management"></app-return-bar>
  <div class="edit-asset-form-container">
    <div class="edit-asset-header-container">
      <h2>Editar Planta</h2>
      <p>Modifica los datos para editar la planta</p>
    </div>
    <div class="edit-asset-inputs-component">
      <form [formGroup]="editAssetForm" (ngSubmit)="onSubmit()">
        <div class="form-group-container mb-3 text-center">
          <h3>{{assetData.siteName}}</h3>
        </div>

        <div class="form-group-container pt-3">
          <p>ID de cliente:</p>
          <input type="text" id="clientId" formControlName="clientId" required placeholder="ID de cliente">
          <div class="message-error">
            <p *ngIf="editAssetForm.get('clientId')?.value == '' && (editAssetForm.get('clientId')?.dirty || editAssetForm.get('clientId')?.touched)">Debe agregar un ID de cliente</p>
          </div>
        </div>
    
        <div class="form-group-container">
          <p>Estatus:</p>
          <select id="assetStatus" formControlName="assetStatus" required placeholder="Estatus">
            <option value="" disabled>Seleccione uno</option>
            <option [value]="cat.id" *ngFor="let cat of catPlantStatus"> {{ cat?.description || '-' }}</option>
          </select>
          <div class="message-error">
            <p *ngIf="editAssetForm.get('assetStatus')?.value == '' && (editAssetForm.get('assetStatus')?.dirty || editAssetForm.get('assetStatus')?.touched)">Debe agregar un estatus</p>
          </div>
        </div>
    
        <div class="form-group-container input-email-container">
          <p>Esquema de operación</p>
          <!-- cfeZero  -->
          <select id="operationScheme" formControlName="operationScheme" required placeholder="Esquema de operación">
            <option value="" disabled>Seleccione uno</option>
            <option value="Net Zero Export">Net Zero Export</option>
            <option value="Normal">Normal</option>
          </select>
          <div class="message-error">
            <p *ngIf="editAssetForm.get('operationScheme')?.value == '' && (editAssetForm.get('operationScheme')?.dirty || editAssetForm.get('operationScheme')?.touched)">Debe agregar un esquema</p>
          </div>
        </div>

        <div class="button-container d-flex justify-content-between pt-3">
          <div>
            <button class="button-cancel" (click)="clearForm()" type="button">Cancelar</button>
          </div>
          <div>
            <span class="loader" *ngIf="loading"></span>
            <button class="button-primary" *ngIf="!loading" type="submit" [disabled]="editAssetForm.invalid || buttonDisabled">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>