<div class="main-container">
  <div class="register-form-container">
    <div class="register-header-container">
      <img src="../../../assets/svg/logo.svg" alt="logo energia real">
      <h2>¿Has olvidado tu contraseña?</h2>
      <p>Complete el formulario para restablecer su contraseña</p>
    </div>

    <div class="register-inputs-component">
      <form>
        <div class="c-input">
          <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-ER">
            <input [formControl]="email" placeholder="Correo" matInput>
            <mat-error *ngIf="email?.invalid && (email?.dirty || email?.touched)">Debe agregar un correo</mat-error>
          </mat-form-field>
        </div>

        <div class="button-container">
          <span class="loader" *ngIf="actionComplete"></span>
          <button *ngIf="!actionComplete" class="button-primary" [disabled]="email.invalid"
            (click)="actionSave()">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>