<div class="main-container">
    <div class="register-form-container">
      <div class="register-header-container">
        <img src="./assets/svg/logo.svg" alt="logo energia real">
        <h2>¿Has olvidado tu contraseña?</h2>
        <p>Complete el formulario para restablecer su contraseña</p>
      </div>
      <!-- <div class="alert alert-danger" role="alert" *ngIf="errorCreate">
        {{messageError}}
      </div> -->
      <!-- <div class="alert alert-success" role="alert" *ngIf="actionComplete">
        ¡Cuenta creada con éxito! <br>
        Serás redireccionado al login
      </div> -->
      
      <div class="register-inputs-component">
        <form [formGroup]="formData" (ngSubmit)="actionSave()">
          <div class="form-group-container">
            <input type="text" id="nombre" formControlName="email" required placeholder="Correo">
            <div class="message-error">
              <p *ngIf="formData.get('email')?.value == '' && (formData.get('email')?.dirty || formData.get('email')?.touched)">Debe agregar un correo</p>
            </div>
          </div>
      
          <div class="button-container">
            <span class="loader" *ngIf="actionComplete"></span>
            <button *ngIf="!actionComplete" class="button-primary" type="submit" [disabled]="formData.invalid">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>  