<div class="c-global c-detail-site">
    <div class="grid grid-cols-2 md:grid-cols-2 gap-x-6 gap-y-4 md:gap-5">
        <div class="col-span-2 md:col-span-1">
            <div class="c-card-info-savings" *ngIf="!showAlert else notData">
                <div *ngFor="let data of savingDetails?.primaryElements; let idx = index"
                    [ngClass]="{'c-card-50': idx < 2, 'c-card-33': idx >= 2}">

                    <div class="card-info">
                        <div>
                            <h1>{{ data.title }}</h1>
                            <h2 *ngIf="data?.description else notDataTable">{{ data.description }}</h2>
                        </div>
                    </div>
                </div>

                <div class="separator-cards m-0"></div>

                <div *ngFor="let data of savingDetails?.additionalItems; let isLast = last" class="c-card-33">
                    <div class="card-info">
                        <div>
                            <h1>{{ data.title }}</h1>
                            <h2 *ngIf="data?.description else notDataTable">{{ data.description }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-span-2 md:col-span-1">
            <div class="highcharts">
                <div class="charts">
                    <div class="graphic-savings" *ngIf="displayChart">
                        <canvas id="myChart" baseChart [type]="'bar'" [data]="lineChartData"
                            [options]="lineChartOptions">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #notData>
    <div class="no-data-alert">
        The information could not be loaded.
    </div>
</ng-template>

<ng-template #notDataTable>
    <app-message-no-data [message]="'The requested information is not available.'"></app-message-no-data>
</ng-template>