.c-savings {
    .c-cards-information {
        .separator-cards {
            grid-column: span 2;
        }
    }

    .graphic-savings {
        padding-left: 20px;
        padding: 20px 10px 10px 10px;
        border-radius: 16px;
        width: 90%;
        height: 410px;
        min-height: 360px;
    }

    .taxes-info{
        grid-column: span 2;
        color:#F97316;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        
    }

}