<div class="c-billing-overview card-content-section">
    <div class="section-header">
        <h1>Current Billing</h1>
        <div class="section-header section-untitled" (click)="descargarTabla('csv')">
            <span>
                Download all CSV
            </span>
        </div>
    </div>

    <app-modal-invoice-details [isOpen]="drawerOpenID" [modeDrawer]="drawerAction"
        [invoice]="drawerInfo"></app-modal-invoice-details>

    <div class="table-container" *ngIf="bills?.length">
        <app-tabulator-table [data]="bills" [config]="tableConfig"></app-tabulator-table>
    </div>
</div>