<div class="c-billing-overview card-content-section">
    <div class="section-header">
        <h1>Current Billing</h1>
        <div class="section-header section-untitled" (click)="descargarTabla('csv')">
            <span>
                Download all CSV
            </span>
        </div>
    </div>

    <app-modal-invoice-details [isOpen]="drawerOpenID" [modeDrawer]="drawerAction"
        [invoice]="drawerInfo"></app-modal-invoice-details>

    <div class="table-container">
        <ng-container *ngIf="bills?.length; else loadingSkeleton">
            <app-tabulator-table [data]="bills" [config]="tableConfig"></app-tabulator-table>
        </ng-container>
    </div>
</div>

<ng-template #loadingSkeleton>
    <div class="flex flex-col dataSC">
        <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
          'border-radius': '32.5px'
        }"></ngx-skeleton-loader>
    </div>
</ng-template>