.c-billing-overview {
    height: 310px;
    padding-bottom: 42px;

    .table-container {
        height: 80%;
    }

    .section-header {
        margin-bottom: 20px;
        cursor: pointer;
    }

}