<div class="c-main px-16">
    <div class="grid grid-cols-3 gap-x-6 gap-y-4 md:gap-5">
        <div class="col-span-1">
            <div class="btns-excel">
                <button class="btn-action-add">
                    <span class="material-symbols-outlined">download</span>
                    Download .xlsx
                </button>

                <button class="btn-action-apply-changes" [ngClass]="{'apply-changes-active': modifiedElements.length}"
                    (click)="updateModifiedElements()">
                    <span class="material-symbols-outlined">save</span>
                    Apply changes
                </button>


                <!-- <button class="btn-upload" (click)="fileInput.click()">
                    <span class="material-symbols-outlined">upload</span>
                    Bulk upload
                </button>
                <input type="file" #fileInput (change)="onFileSelected($event)" accept=".xlsx, .xls" style="display: none;" /> -->
            </div>
        </div>

        <div class="col-span-1 d-flex justify-center">
            <div class="search-add">
                <form class="relative w-80 ms-auto c-search">
                    <label class="input-search">
                        <img src="../../../../../assets/svg/search.svg" alt="Icon Search">
                    </label>
                    <input class="block w-full rounded-full pl-9 h-9" type="text" placeholder="Plant name"
                        [formControl]="searchBar">
                </form>
            </div>
        </div>

        <div class="col-span-1 justify-end">
            <div class="btns-excel-report">
                <button class="btn-action-add" (click)="exportInformation()">
                    <span class="material-symbols-outlined">download</span>
                        Export Information
                </button>
               </div>
        </div>
    </div>

    <div class="c-table mt-3">
        <table mat-table [dataSource]="dataSource" matSort class="table-assets">
            <ng-container matColumnDef="rpu">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>RPU</th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element?.rpu else notDataTable"> {{ element.rpu }} </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="clientName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Client name</th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element?.clientName else notDataTable"> {{ element.clientName }} </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="plantName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Plant name</th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element?.plantName else notDataTable"> {{ element.plantName }} </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="year">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Year</th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element?.year else notDataTable"> {{ element.year }} </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="month">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Generation Month</th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element?.month else notDataTable"> {{ element.month }} </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="energyGeneration">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Energy generation</th>
                <td mat-cell *matCellDef="let element">
                    <div class="c-input c-table-energy-input">
                        <mat-form-field appearance="outline" class="flex-auto gt-xs:pr-3 input-ER">
                            <input 
                            type="text" 
                            placeholder="000,000.00" matInput 
                            [(ngModel)]="element.formattedGeneratedEnergyKwh"
                            (blur)="handleInput($event, element, true)">
                        </mat-form-field>
                        <span>kWh</span>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="rate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Rate</th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element?.rate else notDataTable"> {{ element.formattedRate }} </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element?.amount else notDataTable"> {{ element.formattedAmount }} </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="amountWithIva">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>IVA</th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element?.amountWithIva else notDataTable"> {{ element.formattedAmountWithIva }} </div>
                </td>
            </ng-container>

            <tr *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                    <h5 class="text-center my-5">No results found.</h5>
                </td>
            </tr>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="tr-table"></tr>
        </table>

        <mat-paginator #paginator class="c-paginator" [length]="totalItems" [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions" (page)="getServerData($event)" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>

<ng-template #notData>
    <div class="no-data-found d-flex justify-center">
        <app-message-no-data [message]="'The information could not be loaded.'"></app-message-no-data>
    </div>
</ng-template>

<ng-template #notDataTable>
    <app-message-no-data [message]="'The requested information is not available.'"></app-message-no-data>
</ng-template>