<div class="c-main px-16">
    <div class="d-flex justify-between flex-wrap gap-2">
        <div class="search-add">
            <form class="relative w-80 ms-auto c-search">
                <label class="input-search">
                    <img src="../../../../../assets/svg/search.svg" alt="Icon Search">
                </label>
                <input class="block w-full rounded-full pl-9 h-9" type="text" placeholder="Search by site name"
                    [formControl]="searchBar">
            </form>
        </div>

        <div class="d-flex justify-end gap-2">
            <div class="c-input">
                <mat-form-field class="select-mount" appearance="outline">
                    <mat-select placeholder="Select month" [formControl]="selectedMonth">
                        <mat-option *ngFor="let month of months; let i = index" [value]="month.value">
                            {{ month.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="c-input mb-0">
                <mat-form-field class="select-years" appearance="outline">
                    <mat-select [disabled]="true" placeholder="Select year" [(value)]="selectedYear">
                        <mat-option *ngFor="let year of years" [value]="year.value">
                            {{ year.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="c-table mt-3">
        <table mat-table [dataSource]="dataSource" matSort class="table-assets">
            <ng-container matColumnDef="rpu">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>RPU</th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element?.rpu else notDataTable"> {{ element.rpu }} </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="clientName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name of the client</th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element?.clientName else notDataTable"> {{ element.clientName }} </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="plantName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name of the site</th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element?.plantName else notDataTable"> {{ element.plantName }} </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="generatedEnergyKwh">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Generated energy Kwh</th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element?.generatedEnergyKwh else notDataTable"> {{ element.generatedEnergyKwh }} </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element?.amount else notDataTable"> {{ element.amount }} </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="amountWithIva">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount with IVA</th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element?.amountWithIva else notDataTable"> {{ element.amountWithIva }} </div>
                </td>
            </ng-container>

            <tr *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                    <h5 class="text-center my-5">No results found.</h5>
                </td>
            </tr>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="tr-table-assets"></tr>
        </table>

        <mat-paginator #paginator class="c-paginator" [length]="totalItems" [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions" (page)="getServerData($event)" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>

<ng-template #notData>
    <div class="no-data-found d-flex justify-center">
        <app-message-no-data [message]="'The information could not be loaded.'"></app-message-no-data>
    </div>
</ng-template>

<ng-template #notDataTable>
    <app-message-no-data [message]="'The requested information is not available.'"></app-message-no-data>
</ng-template>