<div class="c-main c-billing">
    <div class="grid md:grid-cols-2 sm:grid-cols-2 gap-x-6 gap-y-4 md:gap-5">
        <div class="col-span-1">
            <div class="btns-excel">
                <button class="btn-action-add" (click)="fileInput.click()">
                    <span class="material-symbols-outlined">upload</span>
                    Upload Document
                </button>
                <input type="file" #fileInput (change)="onFileSelected($event)" accept=".xlsx, .xls"
                    style="display: none;" />
            </div>
        </div>
    </div>

    <div class="separator-cards mt-4 mb-4"></div>

    <div class="col-span-1 d-flex align-center justify-end">
        <div class="c-paginator-top">
            <strong>Items per page</strong>
            <mat-form-field>
                <mat-select [(value)]="pageSize" (selectionChange)="changePageSize($event)">
                    <mat-option *ngFor="let size of pageSizeOptions" [value]="size">
                        <strong>{{ size }}</strong>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="c-scroll-table">
        <div class="table-container-scroll">
            <table mat-table [dataSource]="dataSource" matSort class="table-content">
                <ng-container matColumnDef="cfcContact">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div class="target w-24">CFE Contract Number</div>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element?.rpu else notDataTable"> {{ element.rpu }} </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="clientName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div class="target w-24">Client Name</div>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="color-F97316" *ngIf="element?.cliente else notDataTable"> {{ element.cliente }}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="subClient">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div class="target w-24">Subclient</div>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element?.subcliente else notDataTable"> {{ element.subcliente }} </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="rfc">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div class="target w-24">RFC</div>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element?.razonSocial else notDataTable"> {{ element.razonSocial }} </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="month">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div class="target w-24">Month</div>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element?.month else notDataTable"> {{ element.month }} </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="year">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div class="target w-24">Year</div>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element?.year else notDataTable"> {{ element.year }} </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="billingPeriodStart">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div class="target w-24">Billing Period Start Date</div>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element?.startDate else notDataTable"> {{ element.startDate }}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="billingPeriodEnd">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div class="target w-24">Billing Period End Date</div>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element?.endDate else notDataTable"> {{ element.endDate }} </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="receiptGenerationDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div class="target w-24">Receipt Generation Date</div>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element?.createdInvoiceDocDate else notDataTable"> {{
                            element.createdInvoiceDocDate}}</div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="rate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div class="target w-24">Rate</div>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="column-extend" *ngIf="element?.tarifa else notDataTable"> {{ element.tarifa }}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="production">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div class="target w-24">Production (kWh)</div>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="column-extend" *ngIf="element?.generatedEnergyKwh else notDataTable"> {{
                            element.generatedEnergyKwh}}</div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="previousPaymentAmount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div class="target w-24">Previous Payment Amount</div>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="column-extend" *ngIf="element?.montoPagoAnterior else notDataTable"> {{
                            element.montoPagoAnterior }}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="totalAmount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div class="target w-24">Total Amount</div>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="column-extend" *ngIf="element?.montoTotal else notDataTable"> {{
                            element.montoTotal }}
                        </div>
                    </td>
                </ng-container>

                <tr *matNoDataRow>
                    <td class="mat-cell" [attr.colspan]="displayedColumns.length - 2">
                        <h5 class="text-center my-5">No results found.</h5>
                    </td>
                </tr>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="tr-table"></tr>
            </table>
        </div>
    </div>

    <mat-paginator #paginator class="c-paginator" [length]="totalItems" [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions" (page)="getServerData($event)" showFirstLastButtons
        aria-label="Select page of periodic elements">
    </mat-paginator>
</div>

<ng-template #notData>
    <div class="no-data-found d-flex justify-center">
        <app-message-no-data [message]="'The information could not be loaded.'"></app-message-no-data>
    </div>
</ng-template>

<ng-template #notDataTable>
    <app-message-no-data [message]="'The requested information is not available.'"></app-message-no-data>
</ng-template>
