<div class="c-types-clients fixed top-0 right-0 h-full bg-white shadow-lg transform transition-transform duration-300 mt-16 w-3/6 
  c-modal-lateral create-asset-main-container" [ngClass]="{ 'translate-x-0': isOpen, 'translate-x-full': !isOpen }">
    <div class="return-bar-container">
        <button class="button-transparent" type="button" (click)="closeDrawer()">
            <i class="fa-solid fa-angles-left" matTooltip="Go back"></i>
        </button>
    </div>
    <div class="mx-auto text-center w-full">
        <h2 class="m-0">Types of clients</h2>

        <form class="p-3">
            <div class="mb-0">
                <div class="grid grid-cols-1  gap-x-6 gap-y-2">
                    <div class="col-span-1 md:col-span-1">
                        <h2 class="text-xl font-semibold mb-4 border-b pb-2 separate">{{this.editedClient?.id ? 'Edit' :
                            'Add new'}} client type</h2>
                        <div class="grid grid-cols-1 md:grid-cols-3 gap-x-6 gap-y-4">
                            <div class="col-span-2 md:col-span-2">
                                <div class="c-input mb-0">
                                    <p class="font-medium text-gray-700">Name of client type:</p>
                                    <mat-form-field appearance="outline" class="w-full input-ER">
                                        <input [formControl]="description" placeholder="Name of client type" matInput>
                                        <mat-error *ngIf="description?.hasError('required')">You must add name of client
                                            type.</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-span-1 md:col-span-1 d-flex align-items-center mt-2">
                                <div class="button-container d-flex justify-content-between pt-0 gap-2">
                                    <button class="btn-cancel" *ngIf="description?.value?.trim() || editedClient" (click)="cancelEdit()"
                                        type="button">Cancel</button>
                                    <div>
                                        <button class="btn-action-add" (click)="actionSave()">
                                            <mat-progress-spinner *ngIf="loading" class="loader-btns" [mode]="'indeterminate'">
                                            </mat-progress-spinner>
                                            <i *ngIf="!loading" 
                                                [class]="this.editedClient?.id ? 'fas fa-edit' : 'fa-solid fa-floppy-disk'"></i>
                                            {{ !loading ? this.editedClient ? 'Edit' : 'Save' : ''}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-1 md:col-span-1">
                        <h2 class="text-xl font-semibold mb-4 border-b pb-2 separate">Existing Client Types</h2>
                    </div>
                </div>
            </div>
        </form>

        <div class="table-container-scroll mt-1 mb-5">
            <table mat-table [dataSource]="dataSource" matSort>
                <caption></caption>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <p class="header-table">Name of the client</p>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{ element?.description || element.tipo }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <p class="header-table">Actions</p>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="editTable(element)">Edit</button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr *matNoDataRow>
                    <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                        <h5 class="text-center my-5">No results found.</h5>
                    </td>
                </tr>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>