<div class="c-overview">
    <div>
        <h1 class="label-700-24">Energy summary</h1>
        <div class="grid grid-cols-1 md:grid-cols-4 ">

            <div class="col-span-1 md:col-span-3">
                <div class="c-graph relative">
                    <canvas baseChart [data]="lineChartData" [options]="lineChartOptions" height="195"></canvas>
                </div>
            </div>

            <div class="col-span-1 md:col-span-1 flex md:flex-col items-end flex-wrap">
                <div class="card-balance">
                    <h1>Balance:</h1>
                    <h2>+ {{balance}}</h2>
                </div>

                <button class="btn-show-all-gray ">
                    <span class="material-symbols-outlined">visibility</span>
                    Show all
                </button>

                <!-- <div class="c-labels-overview">
                    <div>
                        <span></span>
                        <h1>Energy Produced (kWh)</h1>
                    </div>
                    <div>
                        <span></span>
                        <h1>Energy Billed (kWh)</h1>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
