/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'GintoNord';
    src: url('./assets/fonts/GintoNord-Regular.otf');
}

@font-face {
    font-family: 'NeueMontreal';
    src: url('./assets/fonts/NeueMontreal-Regular.otf');
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body { height: 100%; }
body { font-family: 'NeueMontreal', "Helvetica Neue", sans-serif; }


.div-groups {
    div {
        &:first-child {
            border-right-width: 2px;
        }
        &:last-child {
            border-right-width: 0px !important;
        }
    }
    &:nth-child(even) {
        div {
            border-right-width: 2px;
        }
    }
}