<!-- <energiaReal-loader *ngIf="showLoader"></energiaReal-loader> -->
<div class="create-asset-main-container">
  <!-- <energiaReal-return-bar urlToGo="/er/assets-management"></energiaReal-return-bar> -->
  <div class="create-asset-form-container">
    <div class="create-asset-header-container">
      <h2>Crear Planta</h2>
      <p>Ingresa los datos para crear una planta</p>
    </div>
    <div class="create-asset-inputs-component">
      <form [formGroup]="assetCreationForm" (ngSubmit)="onSubmit()">
        <div class="form-group-container">
          <p>Nombre del sitio:</p>
          <input type="text" id="nombre" formControlName="name" required placeholder="Nombre del sitio">
          <div class="message-error">
            <p *ngIf="assetCreationForm.get('name')?.value == '' && (assetCreationForm.get('name')?.dirty || assetCreationForm.get('name')?.touched)">Debe agregar un nombre</p>
          </div>
        </div>
    
        <div class="form-group-container">
          <p>Tipo de contrato:</p>
          <select id="contractType" formControlName="contractType" required placeholder="Tipo de contrato">
            <option value="" disabled>Seleccione uno</option>
            <option value="PPA">PPA</option>
            <option value="Arrendamiento">Arrendamiento</option>
          </select>
          <div class="message-error">
            <p *ngIf="assetCreationForm.get('contractType')?.value == '' && (assetCreationForm.get('contractType')?.dirty || assetCreationForm.get('contractType')?.touched)">Debe agregar un tipo de contrato</p>
          </div>
        </div>
    
        <div class="form-group-container input-email-container">
          <p>Tipo de instalación:</p>
          <select id="installationType" formControlName="installationType" required placeholder="Tipo de instalación">
            <option value="" disabled>Seleccione uno</option>
            <option value="Solar">Solar</option>
            <option value="BESS">BESS</option>
          </select>
          <div class="message-error">
            <p *ngIf="assetCreationForm.get('installationType')?.value == '' && (assetCreationForm.get('installationType')?.dirty || assetCreationForm.get('installationType')?.touched)">Debe agregar un tipo de instalación</p>
          </div>
        </div>
    
        <div class="form-group-container">
          <p>Capacidad instalada</p>
          <input type="number" id="installedCapacity" formControlName="installedCapacity" required placeholder="Capacidad instalada">
          <div class="message-error">
            <p *ngIf="assetCreationForm.get('installedCapacity')?.value == null && (assetCreationForm.get('installedCapacity')?.dirty || assetCreationForm.get('installedCapacity')?.touched)">Debe agregar la capacidad instalada</p>
          </div>
        </div>
    
        <div class="form-group-container">
          <p>Link de Google Maps</p>
          <input type="text" id="googleMapsLink" formControlName="googleMapsLink" required placeholder="Link de Google Maps">
          <div class="message-error pb-3 pt-1">
            <p *ngIf="assetCreationForm.get('googleMapsLink')?.value == '' && (assetCreationForm.get('googleMapsLink')?.dirty || assetCreationForm.get('googleMapsLink')?.touched)">Debe incluir un link de Google Maps</p>
            <p *ngIf="assetCreationForm.get('googleMapsLink')?.errors?.['urlPrefix'] && (assetCreationForm.get('googleMapsLink')?.dirty || assetCreationForm.get('googleMapsLink')?.touched)">El url que ingresaste no es valido</p>
          </div>
        </div>

        <div class="form-group-container coordinates-container mb-3">
          <div class="coordinates-input-container">
            <p>Latitud:</p>
            <input type="number" id="latitude" formControlName="latitude" required placeholder="Latitud">
            <div class="message-error pb-3 pt-1">
              <p *ngIf="assetCreationForm.get('latitude')?.value == null && (assetCreationForm.get('latitude')?.dirty || assetCreationForm.get('latitude')?.touched)">Debe agregar una latitud</p>
              <p *ngIf="assetCreationForm.get('latitude')?.errors?.['latitudeInvalid'] && (assetCreationForm.get('latitude')?.dirty || assetCreationForm.get('latitude')?.touched)">La latitud debe estar entre -90 y 90</p>
            </div>
          </div>
          <div class="coordinates-input-container">
            <p>Longuitud:</p>
            <input type="number" id="longitude" formControlName="longitude" required placeholder="Longitud">
            <div class="message-error pb-3 pt-1">
              <p *ngIf="assetCreationForm.get('longitude')?.value == null && (assetCreationForm.get('longitude')?.dirty || assetCreationForm.get('longitude')?.touched)">Debe agregar una longitud</p>
              <p *ngIf="assetCreationForm.get('longitude')?.errors?.['invalidLongitude'] && (assetCreationForm.get('longitude')?.dirty || assetCreationForm.get('longitude')?.touched)">La longitud debe estar entre -180 y 180</p>
            </div>
          </div>
        </div>

        <div class="button-container d-flex justify-content-between pt-3">
          <div>
            <button class="button-cancel" (click)="clearForm()" type="button">Cancelar</button>
          </div>
          <div>
            <span class="loader" *ngIf="loading"></span>
            <button class="button-primary" *ngIf="!loading" type="submit" [disabled]="assetCreationForm.invalid || buttonDisabled">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>