<div class="c-global-filters">

    <form class="c-selects-filters flex align-center gap-3 flex-wrap" [formGroup]="filtersForm">
        <div class="c-input">
            <mat-form-field class="select-ER" appearance="outline">
                <mat-select formControlName="customerName" multiple
                    placeholder="{{ 'FACTURACION.CLIENTE' | translate }}">
                    <mat-option value=" ">{{ 'FACTURACION.TODOS' | translate }}</mat-option>
                    <div *ngIf="clientsCatalog">
                        <mat-option *ngFor=" let client of clientsCatalog"
                            value={{client.id}}>{{client.description}}</mat-option>
                    </div>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="c-input">
            <mat-form-field class="select-ER" appearance="outline">
                <mat-select formControlName="legalName" multiple
                    placeholder="{{ 'FACTURACION.NOMBRE_LEGAL' | translate }}">
                    <mat-option value=" ">{{ 'FACTURACION.TODOS' | translate }}</mat-option>
                    <div *ngIf="legalNameCatalog">
                        <mat-option *ngFor="let legalName of legalNameCatalog"
                            value={{legalName.id}}>{{legalName.description}}</mat-option>
                    </div>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="c-input">
            <mat-form-field class="select-ER" appearance="outline">
                <mat-select formControlName="siteName" multiple placeholder="{{ 'FACTURACION.SITIO' | translate }}">
                    <mat-option value=" ">{{ 'FACTURACION.TODOS' | translate }}</mat-option>
                    <div *ngIf="sitesCatalog">
                        <mat-option *ngFor="let site of sitesCatalog"
                            value={{site.id}}>{{site.description}}</mat-option>
                    </div>

                </mat-select>
            </mat-form-field>
        </div>

        <div class="c-input">
            <mat-form-field class="select-ER" appearance="outline">
                <mat-select formControlName="productType" multiple
                    placeholder="{{ 'FACTURACION.PRODUCTO' | translate }}">
                    <div *ngIf="productsCatalog">
                        <mat-option *ngFor="let product of productsCatalog"
                            value="{{product.description.toUpperCase()}}">{{product.description}}</mat-option>
                    </div>

                </mat-select>
            </mat-form-field>
        </div>
    </form>

    <div class="c-month-button" *ngIf="
        routeActive.includes('backoffice-home') ||
        routeActive.includes('admin-home') ||
        routeActive.includes('client-home') ||
        routeActive.includes('invoice') ||
        routeActive.includes('rates') ||
        routeActive.includes('overview') ||
        routeActive.includes('details')">

        <button [matMenuTriggerFor]="monthMenu1" #startMenuTrigger="matMenuTrigger" class="month-button">
            <h1>{{ selectedStartMonth ? selectedStartMonth.name + ' ' + (yearStartSelected.toString() | slice:-2) :
                'Start' }}</h1>
            <i class="fa-solid fa-calendar-days"></i>
        </button>

        <mat-menu #monthMenu1="matMenu" class="custom-menu">
            <div class="years">
                <p class="cursor-pointer"
                    [ngClass]="{ 'selected-year': 2024 == yearStartSelected, 'default-year': 2024 != yearStartSelected }"
                    (click)="updateYearSelected(2024, 'start'); $event.stopPropagation()">
                    2024
                </p>

                <p class="cursor-pointer"
                    [ngClass]="{ 'selected-year': 2025 == yearStartSelected, 'default-year': 2025 != yearStartSelected }"
                    (click)="updateYearSelected(2025, 'start'); $event.stopPropagation()">
                    2025
                </p>
            </div>

            <div class="month-grid">
                <button mat-menu-item *ngFor="let month of months" [ngClass]="{ 
              'selected-month': selectedStartMonth?.value == month.value, 
              'unselected-month': selectedStartMonth?.value != month.value }"
                    [disabled]="isMonthDisabledForStart(month)" (click)="selectStartMonth(month, startMenuTrigger)">
                    {{ month.name }}
                </button>
            </div>
        </mat-menu>

        <p>To</p>

        <button [matMenuTriggerFor]="monthMenu2" #endMenuTrigger="matMenuTrigger" class="month-button">
            <h1>{{ singleMonth.value ? 'End' : (selectedEndMonth ? selectedEndMonth.name + ' ' +
                (yearEndSelected.toString() | slice:-2) : 'End') }}</h1>
            <i class="fa-solid fa-calendar-days"></i>
        </button>

        <mat-menu #monthMenu2="matMenu" class="custom-menu">
            <div class="years">
                <p [ngClass]="{ 
              'selected-year': 2024 == yearEndSelected && !singleMonth.value, 
              'default-year': 2024 != yearEndSelected || singleMonth.value,
              'cursor-pointer' : !singleMonth.value }"
                    (click)="updateYearSelected(2024, 'end'); $event.stopPropagation()">
                    2024
                </p>

                <p [ngClass]="{ 
              'selected-year': 2025 == yearEndSelected && !singleMonth.value, 
              'default-year': 2025 != yearEndSelected || singleMonth.value,
              'cursor-pointer' : !singleMonth.value }"
                    (click)="updateYearSelected(2025, 'end'); $event.stopPropagation()">
                    2025
                </p>
            </div>

            <div class="month-grid">
                <button mat-menu-item *ngFor="let month of months" [ngClass]="{ 
              'selected-month': selectedEndMonth?.value == month.value, 
              'unselected-month': selectedEndMonth?.value != month.value 
              }" [disabled]="
                  singleMonth.value || 
                  isSameMonthAndYear(month) || 
                  isBeforeStartMonth(month) || 
                  isMonthDisabledForEnd(month)" (click)="selectEndMonth(month, endMenuTrigger)">
                    {{ month.name }}
                </button>
            </div>

            <div class="single">
                <mat-checkbox [formControl]="singleMonth" class="check-color"></mat-checkbox>
                <p>Consider a single month only</p>
            </div>
        </mat-menu>

        <button class="apply" [ngClass]="{
          'color-disabled': yearStartSelected > yearEndSelected,
          'cursor-pointer': yearStartSelected < yearEndSelected ,
          }" [disabled]="yearStartSelected > yearEndSelected"
            [matTooltip]="yearStartSelected > yearEndSelected ? 'The start year cannot be greater than the end year.' :  'Pick a date or range to apply changes to the screen.'"
            (click)="searchWithFilters()">Apply
        </button>
    </div>

    <div class="c-input mb-0" *ngIf="routeActive.includes('energy')">
        <mat-form-field class="select-year" appearance="outline">
            <mat-select placeholder="Year" [(value)]="selectedYearSelect" (valueChange)="searchWithFilters()">
                <mat-option *ngFor="let year of years; let i = index" [value]="year">
                    {{ year.value }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>