<div class="c-main  c-management">
  <div class="mb-4">
    <div class="grid md:grid-cols-3 sm:grid-cols-1 md:gap-4">
      <div class="col-span-2 c-card-section">
        <h2 class="text-er-orange text-base font-normal">Overview</h2>
        <div>
          <div class="plant-cards grid md:grid-cols-4 gap-4 text-center">
            <div class="border-r-2 ">
              <h2 *ngIf="totalPlants?.noOfSites else notData">{{ totalPlants.noOfSites }}</h2>
              <p class="text-sm"># of sites</p>
            </div>
            <div class="border-r-2">
              <h2 *ngIf="totalPlants?.noOfInverters else notData">{{ totalPlants.noOfInverters}}</h2>
              <p class="text-sm"># of inverters</p>
            </div>
            <div class="border-r-2">
              <h2 *ngIf="totalPlants?.noOfModules else notData">{{ totalPlants.noOfModules}}</h2>
              <p class="text-sm"># of modules</p>
            </div>
            <div>
              <h2 *ngIf="totalPlants?.mWpInstalled else notData">{{ !totalPlants.mWpInstalled ? 0 :
                totalPlants.mWpInstalled }}</h2>
              <p class="text-sm">Installed kW</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-span-1 search-add mt-3 md:mt-0 lg:mt-0">
        <form class="relative w-80 ms-auto c-search">
          <label class="input-search">
            <img src="../../../../../assets/svg/search.svg" alt="Icon Search">
          </label>
          <input class="block w-full rounded-full pl-9 h-9" type="text" placeholder="Search by site name"
            [formControl]="searchBar">
        </form>

        <button class="btn-action-add mt-3 md:mt-0" routerLink="/er/plants/create">
          <i class="fa-solid fa-plus"></i>
          Add new plant
        </button>
      </div>
    </div>
  </div>

  <div class="separator-cards mt-4 mb-4"></div>

  <div class="c-paginator-top mt-5 mb-5">
    <strong>items per page</strong>
    <mat-form-field>
      <mat-select [(ngModel)]="pageSize" (selectionChange)="changePageSize($event)">
        <mat-option *ngFor="let size of pageSizeOptions" [value]="size"><strong>{{ size
            }}</strong></mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="c-scroll-table">
    <div class="table-container-scroll">
      <table mat-table [dataSource]="dataSource" matSort class="table-content">
        <ng-container matColumnDef="plantName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="target w-24">Plant name</div>
          </th>
          <td mat-cell *matCellDef="let element" class="font-semibold column-ipervinculo"
            > <span (click)="navigate('er/plants/details/' + element.id)">{{ element?.siteName }}</span>  </td>
        </ng-container>

        <ng-container matColumnDef="rpu">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="target w-24">RPU</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element?.rpu else notDataTable"> {{ element.rpu }} </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="clientName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="target w-24">Client name</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element?.clientName else notDataTable"> {{ element.clientName }} </div>
          </td>
        </ng-container>

    

        <ng-container matColumnDef="commissionDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="target w-24">Commission date</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element?.commissionDate else notDataTable"> {{ element.commissionDate }} </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="inverterQty">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="target w-24"># of inverters</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element?.numberOfInvestors else notDataTable"> {{ element.numberOfInvestors }} </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="systemSize">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="target w-24">System size</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element?.systemSize else notDataTable"> {{ element.systemSize }} </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="nominalPower">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="target w-24">AC capacity</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element?.nominalPower else notDataTable"> {{ element.nominalPower }} </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="assetStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="target w-24">Status</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element?.assetStatus else notDataTable"> {{ element.assetStatus }} </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="googleMapAdress">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="target w-24">Address</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="column-maps" *ngIf="element?.link else notDataTable">
              <a [href]="element.link" target="_blank" class="truncate" style="width: 170px;">{{ element.link }}</a>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="target w-24">Actions</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="navigate('er/plants/edit/' + element.id)">Edit</button>
              <button mat-menu-item (click)="navigate('er/plants/details/' + element.id)">Details</button>
            </mat-menu>
          </td>
        </ng-container>

        <tr *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns.length">
            <h5 class="text-center my-5">No results found.</h5>
          </td>
        </tr>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="tr-table"></tr>
      </table>
    </div>
  </div>

  <mat-paginator #paginator class="c-paginator" [length]="totalItems" [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions" (page)="getServerData($event)" showFirstLastButtons
    aria-label="Select page of periodic elements">
  </mat-paginator>
</div>

<ng-template #notData>
  <div class="no-data-found d-flex justify-center">
    <app-message-no-data [message]="'The information could not be loaded.'"></app-message-no-data>
  </div>
</ng-template>

<ng-template #notDataTable>
  <app-message-no-data [message]="'The requested information is not available.'"></app-message-no-data>
</ng-template>