<app-layout routeActive="/"></app-layout>
<main>
    <div>
        <button>
            Chedraui
        </button>
        <button>
            Export PDF Report
        </button>
    </div>
    <div>
        <div>
            <div class="rounded-lg border-2">
                <h1>
                    Solar Coverage & CO2 Savings
                </h1>
                <div>
                    32.6 %
                </div>
                <div>
                    11.8 <span>tCO2</span>
                </div>
            </div>
        </div>
        <div>
            <div>
                <button>
                    Range
                </button>
                <button>
                    Group View
                </button>
            </div>
            <div>
                Graph

                
            </div>
        </div>
    </div>
</main>
