<div class="c-new-register">
    <!-- <app-return-bar urlToGo="/assets/management"></app-return-bar> -->
  
    <div class="return-header">
      <mat-icon>keyboard_backspace</mat-icon>
      <p class="titulo-modal form-padding-title">Crear Planta</p>
    </div>
  
  
    <div class="row form-padding d-flex">
      <p class="mb-6">*Campos obligatorios</p>
      <form class="col-12" [formGroup]="formData" enctype="multipart/form-data">
        <div>
          <div class="row">
            <div class="col-md-4">
              <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                <mat-label>Nombre del sitio</mat-label>
                <input formControlName="name" matInput>
                <mat-error *ngIf="formData.get('name')?.invalid && formData.get('name')?.touched">
                  Debe agregar un nombre
                </mat-error>
              </mat-form-field>
  
              <!-- <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                <mat-label>Lugares</mat-label>
                <input formControlName="installedCapacity" matInput>
                <mat-error *ngIf="formData.get('installedCapacity')?.invalid && formData.get('installedCapacity')?.touched">
                  Debe agregar la capacidad instalada
                </mat-error>
              </mat-form-field> -->
  
              <mat-form-field class="flex-auto input-default">
                <mat-label>Tipo de contrato</mat-label>
                <mat-select placeholder="Seleccionar" formControlName="installedCapacity">
                    <mat-option value="">Todos</mat-option>
                    <mat-option [value]="1">Hola</mat-option> 
                </mat-select>
            </mat-form-field>
  
  
            </div>
  
            <div class="col-md-4">
              <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                <mat-label>Tipo de contrato</mat-label>
                <mat-select formControlName="contractType" placeholder="Seleccionar">
                  <mat-option [value]="1">Hola</mat-option> 
                </mat-select>
                <mat-error *ngIf="formData.get('contractType')?.invalid && formData.get('contractType')?.touched">
                  Debe agregar un tipo de contrato
                </mat-error>
              </mat-form-field>
            </div>
  
            <div class="col-md-4">
              <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                <mat-label>Tipo de instalación</mat-label>
                <mat-select formControlName="installationType" placeholder="Seleccionar">
                  <mat-option [value]="1">Hola</mat-option> 
                </mat-select>
                <mat-error *ngIf="formData.get('installationType')?.invalid && formData.get('installationType')?.touched">
                  Debe agregar un tipo de instalación
                </mat-error>
              </mat-form-field>
            </div>
          </div>
  
        </div>
  
        <div class="row d-flex justify-content-between align-items-center mb-3 mt-5">
          <div class="d-flex justify-content-end col-md-3 col-xl-3 col-12 pt-md-2 mt-6">
            <button class="btn-action-add">
              <span>Guardar</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  
    <!-- 
    <div class="create-asset-form-container">
      <div class="create-asset-header-container">
        <h2>Crear Planta</h2>
        <p>Ingresa los datos para crear una planta</p>
      </div>
  
      <div class="create-asset-inputs-component">
      
      </div>
    </div> -->
  
  
  </div>