<!-- <div class="c-working-progress">
    <span>Working progress<span class="dots"></span></span>
</div> -->
<div class="c-roc">
  <div class="content content-elements">
    <div class="content-header">
      <h1 class="label-700-24">Information</h1>
      <button class="btn-action-add">
        <span class="material-symbols-outlined">download</span>
        Download Infomation
      </button>
    </div>

    <div class="card-elements">
      <div *ngFor="let data of data;" class="c-card-20">
        <div class="card-info ">
          <img [src]="data.icon" alt="">
          <div>
            <h1>{{ data.title }}</h1>
            <h2 *ngIf="data?.description else notDataTable">{{ data.description }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="content content-elements ">
      <div class="content-header">
        <h1 class="label-700-24">Services providers</h1>
      </div>

      <div class="card-elements">
        <div *ngFor="let data of dataTwo;" class="c-card-25">
          <div class="card-info">
            <img [src]="data.icon" alt="">
            <div>
              <h1>{{ data.title }}</h1>
              <h2 *ngIf="data?.description else notDataTable">{{ data.description }}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content content-elements ">
      <div class="content-header">
        <h1 class="label-700-24">QEM Devices</h1>
      </div>

      <div class="card-elements">
        <div *ngFor="let data of dataThree;" class="c-card-33">
          <div class="card-info card-info-three">
            <img [src]="data.icon" alt="">
            <div class="card-info-two-row">
              <div>
                <h1>{{ data.title }}</h1>
                <h2 *ngIf="data?.description else notDataTable">{{ data.description }}</h2>
              </div>
              <div *ngIf="data.titleTwo">
                <h1>{{ data.titleTwo }}</h1>
                <h2 *ngIf="data?.descriptionTwo else notDataTable">{{ data.descriptionTwo }}</h2>
              </div>
              <h1 *ngIf="data?.descriptionThree">{{ data.descriptionThree }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div> -->

  <!-- <div class="separator-cards"></div>

    <div class="content content-elements ">
      <div class="content-header">
        <h1 class="label-700-24">Asset monitoring parameter</h1>
      </div>

      <div class="c-content c-taps grid grid-cols-1 gap-x-6 gap-y-4 md:gap-5">
        <div class="col-span-1 position-relative">
          <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [selectedIndex]="0">

            <mat-tab label="Observed Parameters">
            </mat-tab>

            <mat-tab label="Live KPI">
            </mat-tab>

            <mat-tab label="Cumulative KPI">
            </mat-tab>

          </mat-tab-group>
        </div>
      </div>
    </div> -->

  <!-- <div class="separator-cards"></div>

  <div class="c-card-medium">
    <div class="card-medium">
      <h1>Plant status</h1>

      <div class="c-content-medium">
        <div>
          <p>Communication</p>
        </div>

        <div class="c-content-porcentage">
          <span> </span>
          <p>100%</p>
        </div>
      </div>

      <div class="c-content-medium">
        <div>
          <p>Plant</p>
        </div>

        <div class="c-content-porcentage">
          <span> </span>
          <p>100%</p>
        </div>
      </div>

      <div class="c-content-medium">
        <div>
          <p>Grid</p>
        </div>

        <div class="c-content-porcentage">
          <span> </span>
          <p>100%</p>
        </div>
      </div>

    </div>

    <div class="card-medium">
      <h1>Assets Availability</h1>

      <div class="c-content-medium c-content-medium-three">
        <div>
          <p>Plant</p>
        </div>

        <div class="c-content-porcentage">
          <span> </span>
          <p>100%</p>
        </div>

        <div class="c-option-medium">
          <div>5</div>
          <div>5</div>
          <div>5</div>
        </div>
      </div>
    
      <div class="c-content-medium c-content-medium-three">
        <div>
          <p>Inverter</p>
        </div>

        <div class="c-content-porcentage">
          <span> </span>
          <p>100%</p>
        </div>

        <div class="c-option-medium">
          <div>5</div>
          <div>5</div>
          <div>5</div>
        </div>
      </div>
    </div>

    <div class="card-medium">
      <div class="c-solar-co2">
        <div class="co2">
          <div>
            <div class="title-left">
              <h1>CO2 Saving</h1>

              <div>
                <h2>11.8</h2>
                <h3> tCO2</h3>
              </div>
            </div>

            <div class="title-right">
              <div class="left">
                <img src="../../../../assets/icons/equivalent.svg" alt="">
                <h2 class="text-base font-normal">Equivalent to 230 trees</h2>
              </div>

              <div>
                <img src="../../../../assets/icons/eletric.svg" alt="">
                <h2 class="text-base font-normal">Equivalent to xxx <br> electric car full charges.</h2>
              </div>
            </div>
          </div>
          <div class="bar-progresss">
            <h1>kWh /m / anual</h1>

            <div class="w-full barr h-6 bg-gray-200 rounded-full dark:bg-gray-700">
              <div class="h-6 bg-blue-600 rounded-full dark:bg-blue-500" [ngStyle]="{ width: co2Progress }"></div>
            </div>

            <h2>Peers: 117 kWh /m</h2>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="separator-cards"></div> -->

  <div class="content content-elements ">
    <div class="content-header">
      <h1 class="label-700-24">Asset operations overview</h1>
    </div>

    <div class="c-content c-taps" style="grid-template-columns: 1.5fr 1fr 1fr;">
      <div class="position-relative">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [selectedIndex]="0">
          <mat-tab label="Inverter"></mat-tab>
          <mat-tab label="Transformer"></mat-tab>
          <mat-tab label="Weather Station"></mat-tab>
          <mat-tab label="HT Panel"></mat-tab>
        </mat-tab-group>
      </div>
    
      <div class="position-relative">
        <div class="c-input-search w-100">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input class="block w-full" type="text" placeholder="Search">
        </div>
      </div>
    
      <div class="position-relative select-download">
        <div class="relative w-50 c-input-select">
          <mat-form-field class="select-general" appearance="outline">
            <mat-select [disabled]="false" [(value)]="assetOperationsSelect" (selectionChange)="onEnergyTypeChange($event)">
              <mat-option *ngFor="let data of assetOperations" [value]="data.value">
                {{ data.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="btns-excel">
          <button class="btn-action-add">
            <span class="material-symbols-outlined">download</span>
            Download Template
          </button>
        </div>
      </div>
    </div>
    
  </div>

</div>

<ng-template #notDataTable>
  <mat-icon color="warn">cancel_outlined</mat-icon>
</ng-template>