<div class="c-main c-privacy-policy">
    <div class="content content-elements flñex">
        <div class="flex">
            <div class="return-bar-container md-3">
                <button class="button-transparent" type="button" (click)="goBack()">
                    <i class="fa-solid fa-angles-left" matTooltip="Go back"></i>
                </button>
            </div>
            <div class="content-header">
                <h1 class="label-500-24">Trends</h1>
            </div>
        </div>

        <div class="c-content c-taps grid grid-cols-4 gap-x-6 gap-y-4 md:gap-5">
            <div class="col-span-3 position-relative">
                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [selectedIndex]="0"
                    (selectedTabChange)="onTabChange($event)">

                    <mat-tab label="English">
                        <pdf-viewer class="pdfViewer" [zoom]=".8" [src]="pdfSources.english" [show-all]="true"
                            style=""></pdf-viewer>

                    </mat-tab>

                    <mat-tab label="Spanish">
                        <pdf-viewer class="pdfViewer" [zoom]=".8" [src]="pdfSources.spanish" [show-all]="true"
                            style=""></pdf-viewer>
                    </mat-tab>

                </mat-tab-group>
            </div>


            <div class="col-span-1 position-relative">
                <button class="btn-action-add width-large btn-width-large" (click)="downloadPDF()">
                    <span class="material-symbols-outlined">download</span>
                    {{"LEGALS.DOWNLOAD_BUTTON"| translate}}
                </button>

            </div>
        </div>
    </div>
</div>