<div class="c-main c-privacy-policy">
    <div class="content content-elements flñex">
        <div class="flex">
            <div class="return-bar-container md-3">
                <button class="button-transparent" type="button" (click)="goBack()">
                    <i class="fa-solid fa-angles-left" matTooltip="Go back"></i>
                </button>
            </div>
            <div class="content-header">
                <h1 class="label-500-24">{{"LEGALS.POLITICAS_DE_PRIVACIDAD.TITULO"| translate}}</h1>
            </div>
        </div>

        <div class="c-content c-taps grid grid-cols-4 gap-x-6 gap-y-4 md:gap-5">
            <div class="col-span-3 position-relative">
                

                        <pdf-viewer class="pdfViewer" *ngIf="selectedLanguage=='english'"  [zoom]=".8" [src]="pdfSources.english" [show-all]="true"
                            style=""></pdf-viewer>


                        <pdf-viewer class="pdfViewer" *ngIf="selectedLanguage=='spanish'"  [zoom]=".8" [src]="pdfSources.spanish" [show-all]="true"
                            style=""></pdf-viewer>

            </div>


            <div class="col-span-1 position-relative">
                <button class="btn-action-add width-large btn-width-large" (click)="downloadPDF()">
                    <span class="material-symbols-outlined">download</span>
                    {{"LEGALS.DOWNLOAD_BUTTON"| translate}}
                </button>

            </div>
        </div>
    </div>
</div>