<div class="c-sites card-content-section">
    <div class="table-container" *ngIf="sites?.length">
        <ng-container *ngIf="!isLoading; else loadingSkeleton">
            <app-tabulator-table *ngIf="sites?.length; else noDataTable" [data]="sites"
                [config]="tableConfig"></app-tabulator-table>
            <mat-paginator #paginator class="c-paginator" [length]="totalItems" [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions" (page)="getServerData($event)" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </ng-container>
    </div>
</div>

<ng-template #loadingSkeleton>
    <div class="flex flex-col dataSC">
        <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
          'border-radius': '32.5px'
        }"></ngx-skeleton-loader>
    </div>
</ng-template>

<ng-template #noDataTable>
    <div class="no-data-container">
        <div class="icon">📄</div>
        <div class="message-title">No data available</div>
        <div class="message-subtitle">Try adjusting the filters or check back later.</div>
    </div>
</ng-template>